<div class="wrapper customFrontPage">
			<div class="customMouse">
			    <div id="tracer" data-name="Read more">
			        <span class="tracerText" >Read more</span>
			    </div>
			</div>
			<!-- FULL WIDTH VIDEO -->
<!-- 			<section class="fullWidth-video custom-cursor" data-name="video click" >
				<div class="video-bg" >
					
				</div>
			</section>	 -->
			<!-- FULL WIDTH IMAGE & TEXT -->
			<section class="fullWidth-image_text custom-cursor" data-name="Shop the collection"  >
				<a href="shop/nyheder">
					<picture>
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_BigImage.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_BigImagePhone.jpeg">
					   	<img class="full-image " src="" >
					</picture>  
					<div class="text-overlay">
						<h1>Burano</h1>
					</div>
				</a>
			</section>	
			<!-- 2 COLUMNS - IMAGES -->
			<section class="column-2">
				<div class="split-box custom-cursor" data-name="Dalmara">
					<a href="dalmarars-pullover-10180604-002">
					<picture >
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_9.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_9.jpg">
					   	<img class="split-image track"  src="" >
					</picture>  
					<div class="item-name">
						<div class="name">Dalmara</div>
					</div>
					</a>
				</div>
				<div class="split-box custom-cursor" data-name="Dometrix">
					<a href="dometrixrs-dress-10060598-699">
					<picture >
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_32_02.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_32_02.jpg">
					   	<img class="split-image track"  src="" >
					</picture> 
					<div class="item-name">
						<div class="name">Dometrix</div>
					</div>
					</a>
				</div>
			</section>
			<!-- 3 COLUMNS - IMAGES -->
			<section class="column-3">
				<div class="split-box custom-cursor" data-name="Davi">
					<a href="davirs-pant-9900592-650">
					<picture >
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_12.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_12.jpg">
					   	<img class="split-image track" src="" >
					</picture> 
					<div class="item-name">
						<div class="name">Davi</div>
					</div>
				</a>
				</div>
				<div class="split-box custom-cursor" data-name="Danni">
					<a href="dannirs-vest-9790587-699">
					<picture >
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_26.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_26.jpg">
					   	<img class="split-image track"  src="" >
					</picture> 
					<div class="item-name">
						<div class="name">Dakar</div>
					</div>
					</a>
				</div>
				<div class="split-box custom-cursor" data-name="Dollie">
					<a href="dolliers-dress-9800587-609">
					<picture >
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_21.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_21.jpg">
					   	<img class="split-image track"  src="" >
   						<div class="item-name">
							<div class="name">Dollie</div>
						</div>
					</picture> 
					</a>
				</div>
			</section>
			<!-- 2 COLUMNS - IMAGE AND TEXT -->
			<section class="column-2" >
				<div class="split-box custom-cursor" data-name="Dollie">
					<a href="dolliers-dress-9800587-609">
					<div class="video-bg">
						<video id="vid" width="100%" height="auto" autoplay muted loop playsinline>
						  <source src="../burano/includes/images/Burano_01.mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
					</a>
				</div>
				<div class="split-box text custom-cursor " data-name="">
					<div class="inner-text">
						<h1>BURANO // SS21</h1>
						<p class="text">
						Burano, the colorful Italian island of laces, located just outside Venice. The island is known for it’s colorful houses which are reflected in the green water of the canals. Burano is famous for beautiful laces, embroidered by the local old ladies.
						<br/><br/>
						The SS21 collection takes us back to Burano, which has been the location of many summer visits for my sister and me. Memories of the colorful island and the handcrafted laces is the main inspiration of the collection.
						</p>						
					</div>
				</div>
			</section>
			<!-- SLIDING PRODUCTS -->
			<!-- <section class="sliding-products" >
				<div class="slider">
					<div class="split-box sale custom-cursor" data-name="Shop sale" data-style="blue">
						<ul class="list">
							<li>
								<a href="#"><img class="split-image" src="../burano/includes/images/Video_02.gif" alt=""></a>
							</li>	
							<li><img class="split-image track"  src="../burano/includes/images/slider/col1.jpg" alt="">
								<div class="item-name">
									<div class="name">clothes 08</div>
								</div>
							</li>
							<li><img class="split-image track"  src="../burano/includes/images/slider/col2.jpg" alt="">
								<div class="item-name">
									<div class="name">clothes 10</div>
								</div>
							</li>
							<li><img class="split-image track"  src="../burano/includes/images/slider/col3.jpg" alt="">
								<div class="item-name">
									<div class="name">clothes 01</div>
								</div>
							</li>
							<li><img class="split-image track"  src="../burano/includes/images/slider/col4.jpg" alt="">
								<div class="item-name">
									<div class="name">clothes 02</div>
								</div>
							</li>
							<li><img class="split-image track"  src="../burano/includes/images/slider/col5.jpg" alt="">
								<div class="item-name">
									<div class="name">Brandy Blazer</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section> -->
			<!-- FULL WIDTH IMAGE & TEXT -->
			<section class="fullWidth-image_text custom-cursor" data-name="Shop the collection"  >
				<a href="shop/nyheder">
				<picture>
					<source 
				      	media="(min-width: 768px)"
				      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_Big_02.jpg">
				   	<source 
				      	media="(min-width: 1px)"
				      	srcset="../burano/includes/images/ResumePictures_Frontpage/Resume_40.jpg">
				   	<img class="full-image " src="" >
				</picture>  
				<div class="item-name">
					<div class="name">Shop the collection</div>
				</div>
				</a>
			</section>
			<!-- INSTAGRAM FEED -->
			<section class="instagram-feed sale custom-cursor" data-name="@resumecph" data-style="blue">
				<div class="feed">
					<div class="instagram-name">
						<h1>@resumecph</h1>
					</div>
					<div class="slider">
						<div class="split-box products">
							<a href="https://www.instagram.com/resumecph/" target="_blank">
							<ul>
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_01.jpg" alt=""></li>	
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_02.jpg" alt=""></li>
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_03.jpg" alt=""></li>
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_04.jpg" alt=""></li>
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_05.jpg" alt=""></li>
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_06.jpg" alt=""></li>
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_07.jpg" alt=""></li>
								<li><img class="split-image" src="../burano/includes/images/ResumeInstaFront/i_08.jpg" alt=""></li>
							</ul>
							</a>
						</div>
					</div>
				</div>
				
			</section>
			<!-- 3 COLUMNS - NEWSLETTER BOX & IMAGES -->
			<section class="column-3">
				<div class="split-box newsletter custom-cursor" data-name="">
					<div class="content-box">
						<p class="headline">Wanna find out how to get our newsletter? <br>Sign up and we'll tell you how</p>
						<form class="form-container">
							<input class="form-input" type="email" placeholder="Email">
							<div class="submit">
								<button>Subscribe</button>	
							</div>
						</form>
					</div>
				</div>
				<div class="split-box custom-cursor" data-name="Debroah">
					<a href="deborahrs-coat-9580578-805">
					<picture >
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Newsletter_01.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Newsletter_01.jpg">
					   	<img class="split-image track"  src="" >
   						<div class="item-name">
							<div class="name">Debroah</div>
						</div>
					</picture>
					</a>
				</div>
				<div class="split-box custom-cursor" data-name="Deidra">
					<a href="deidrars-shirt-9700582-000">
					<picture >
						<source 
					      	media="(min-width: 768px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Newsletter_02.jpg">
					   	<source 
					      	media="(min-width: 1px)"
					      	srcset="../burano/includes/images/ResumePictures_Frontpage/Newsletter_02.jpg">
					   	<img class="split-image track"  src="" >
   						<div class="item-name">
							<div class="name">Deidra</div>
						</div>
					</picture>
					</a>
				</div>
			</section>
		</div>
		<script src="../burano/includes/js/main1.js"></script>
		<link rel="stylesheet" href="../burano/includes/css/styles.css?v=3">