<?php

/**
 * @var \WhitePixel\Prismic\Block\Prismic $block
 */

?>
<script>
  window.prismic = {
    endpoint: 'https://resumecph.cdn.prismic.io/api/v2'
  };
</script>
<script type="text/javascript" src="https://static.cdn.prismic.io/prismic.min.js?new=true"></script>
<?php

echo $block->getPrismicContent('resume', 'da-dk', true);
