<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);

?>
<div class="cart item">
    <div class="item-info">
        <div data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
                   title="<?= $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
            <div class="product-item-details">
                <div class="itemInner">
                    <strong class="product-item-name">
                        <?php if ($block->hasProductUrl()):?>
                            <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                        <?php else: ?>
                            <?= $block->escapeHtml($block->getProductName()) ?>
                        <?php endif; ?>
                    </strong>

                    <?php if ($canApplyMsrp): ?>
                        <div class="col msrp" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                            <span class="pricing msrp">
                                <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?></span>
                                <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                                <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                                    <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                                </a>
                            </span>
                        </div>
                    <?php else: ?>
                        <div class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                            <?= $block->getUnitPriceHtml($_item) ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($_options = $block->getOptionList()):?>
                        <dl class="item-options">
                            <?php foreach ($_options as $_option) : ?>
                                <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                                <dd>
                                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                        <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                    <?php else: ?>
                                        <?= $block->escapeHtml($_formatedOptionValue['value'], ['span']) ?>
                                    <?php endif; ?>
                                </dd>
                            <?php endforeach; ?>
                        </dl>
                    <?php endif;?>
                    <?php if ($messages = $block->getMessages()): ?>
                        <?php foreach ($messages as $message): ?>
                            <div class="cart item message <?= /* @escapeNotVerified */ $message['type'] ?>"><div><?= $block->escapeHtml($message['text']) ?></div></div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                    <?php if ($addInfoBlock): ?>
                        <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                    <?php endif;?>
                    
                    
                    <div class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
                        <div class="field qty">
                            <div class="control qty">
                                <label for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                                    <span class="label"><?= /* @escapeNotVerified */ __('Qty') ?></span>
                                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                                           name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                                           data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                                           value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                                           type="number"
                                           size="4"
                                           title="<?= $block->escapeHtml(__('Qty')) ?>"
                                           class="input-text qty"
                                           data-validate="{required:true,'validate-greater-than-zero':true}"
                                           data-role="cart-item-qty"/>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="item-actions">
        <div colspan="4">
            <div class="actions-toolbar">
                <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
            </div>
        </div>
    </div>
    <button type="submit"
            name="update_cart_action"
            data-cart-item-update=""
            value="update_qty"
            title="<?= $block->escapeHtml(__('Update')) ?>"
            class="action update">
        <span><?= /* @escapeNotVerified */ __('Update') ?></span>
    </button>
</div>
