<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>
<?php //<div class="paralaxElement"></div> ?>
<div class="detailsWrapper">
    <div class="productDetails">
        <?php 

        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $_imageHelper = $objectManager->get("\Magento\Catalog\Helper\Image");
        $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
        $productO = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
        $mediaUrl =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                 ->getStore()
                 ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
        // $images = $productO->getMediaGalleryImages();
        // echo $smallImage = $productO->getSmallImage();
        // echo $baseImage = $productO->getImage();
        // echo $thumbnailImage = $productO->getThumbnail();
         $detailImage = $_imageHelper
            ->init($product, "big_image")
            ->constrainOnly(true)
            ->keepAspectRatio(true)
            ->keepTransparency(true)
            ->keepFrame(false)
            ->resize(600, 600)
            ->getUrl();
        $imageSet = 'noImage';
        // if($detailImage !== 'no_selection' && $detailImage !== NULL){
        //     echo '<div class="detail-image">';
        //         echo '<div class="innerDetail">';
        //             echo '<img src="'.$detailImage.'" />'; 
        //         echo '</div>';
        //     echo '</div>';
        //     $imageSet = '';
        // }

        ?>
        <div class="<?php echo $imageSet;?> detailContainer">
            <div class="innerDetail">
                <div class="detailsProd">
                    <?php 
                        echo '<h1>'.$productO->getName().'</h1>';
                        $currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
                        $currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
                        $basePrice = $productO->getPriceInfo()->getPrice('regular_price');
                        $regularPrice = number_format($basePrice->getMinRegularAmount()->getValue(),2,",",".");
                        $specialPrice = number_format($productO->getFinalPrice(),2,",",".");
                        if($regularPrice > 0){
                            if($regularPrice != $specialPrice){
                                echo '<p class="priceContainer"><span class="oldPrice">'.$regularPrice.' '.$currency.'</span>'.$specialPrice.' '.$currency.'</p>';
                            }
                            else{
                                echo '<p class="priceContainer">'.$specialPrice.' '.$currency.'</p>';
                            }
                        }else{
                            echo '<p class="priceContainer">'.__('Sold Out').'</p>';
                        }

                    ?>
                    <?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')):?>
                        <div class="product info detailed">
                            <?php $layout = $block->getLayout(); ?>
                            <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
                                <?php foreach ($detailedInfoGroup as $name):?>
                                    <?php
                                        $html = $layout->renderElement($name);
                                        if (!trim($html)) {
                                            continue;
                                        }
                                        $alias = $layout->getElementAlias($name);
                                        $label = $block->getChildData($alias, 'title');
                                    ?>
                                    <div class="data item title"
                                         data-role="collapsible" id="tab-label-<?= /* @escapeNotVerified */ $alias ?>">
                                        <a class="data switch"
                                           tabindex="-1"
                                           data-toggle="trigger"
                                           href="#<?= /* @escapeNotVerified */ $alias ?>"
                                           id="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title">
                                            <?= /* @escapeNotVerified */ $label ?>
                                        </a>
                                    </div>
                                    <div class="data item content" 
                                         aria-labelledby="tab-label-<?= /* @escapeNotVerified */ $alias ?>-title" id="<?= /* @escapeNotVerified */ $alias ?>" data-role="content">
                                        <?= /* @escapeNotVerified */ $html ?>
                                    </div>
                                <?php endforeach;?>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>

    </div>
            

    <div class="relatedProducts">
        <div class="top">
            <h3><?php echo __('Maybe you would like these items.') ?></h3>
        </div>
        <?php 
                $blockObj = $block->getLayout()->createBlock('WhitePixel\frontendHelper\Block\Relatedproducts');
                $blockObj->getRelatedProductsFromCat($product->getId());
            ?>
        <div class="bottom"></div>
    </div>

    </div>


    
</div>