<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<div class="imageGallery" id="imageGallery">

    <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
        $productO = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
        // $mediaUrl =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
        //          ->getStore()
        //          ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
        $images = $productO->getMediaGalleryImages();
        $_imageHelper = $objectManager->get("\Magento\Catalog\Helper\Image");
        $_imageHelperBig = $objectManager->get("\Magento\Catalog\Helper\Image");
        foreach($images as $image){
            $imageFile = $image->getFile();
            $imageUrl = $_imageHelper->init($product, 'big_image')->setImageFile($imageFile)->constrainOnly(false)->keepAspectRatio(true)->keepTransparency(true)->keepFrame(true)->resize(1000, 1500)->getUrl();
            $imageBigUrl = $_imageHelperBig->init($product, 'big_image_third')->setImageFile($imageFile)->constrainOnly(false)->keepAspectRatio(true)->keepTransparency(true)->keepFrame(true)->resize(2000,3000)->getUrl();
            echo '<div data-big-url = "'.$imageBigUrl.'"class="imageItem">';
            echo '<img class="cover full-height" src="'.$imageUrl.'" />'; 
            echo '</div>';
        }

        // $bigImage1temp = $productO->getBigImage();
        // $bigImage2temp = $productO->getBigImageSecond();
        // $bigImage3temp = $productO->getBigImageThird();
        $count = 0;

        // $bigImage1 = $_imageHelper
        //             ->init($product, "big_image")
        //             ->constrainOnly(true)
        //             ->keepAspectRatio(true)
        //             ->keepTransparency(true)
        //             ->keepFrame(false)
        //             ->resize(1000, 1500)
        //             ->getUrl();
        // $bigImage2 = $_imageHelper
        //             ->init($product, "big_image_second")
        //             ->constrainOnly(true)
        //             ->keepAspectRatio(true)
        //             ->keepTransparency(true)
        //             ->keepFrame(false)
        //             ->resize(1000, 1500)
        //             ->getUrl();
        // $bigImage3 = $_imageHelper
        //             ->init($product, "big_image_third")
        //             ->constrainOnly(true)
        //             ->keepAspectRatio(true)
        //             ->keepTransparency(true)
        //             ->keepFrame(false)
        //             ->resize(1000, 1500)
        //             ->getUrl();

        // $bigImageBigUrl1 = $_imageHelper->init($product, "big_image")->getUrl();
        // $bigImageBigUrl2 = $_imageHelper->init($product, "big_image_second")->getUrl();
        // $bigImageBigUrl3 = $_imageHelper->init($product, "big_image_third")->getUrl();

        // if($bigImage1temp !== 'no_selection' && $bigImage1temp !== NULL){
        //     echo '<div data-big-url = "'.$bigImageBigUrl1.'"class="imageItem">';
        //         echo '<img class="cover full-height" src="'.$bigImage1.'" />'; 
        //     echo '</div>';
        //     $count ++;
        // }
        // if($bigImage2temp !== 'no_selection' && $bigImage2temp !== NULL){
        //     echo '<div data-big-url = "'.$bigImageBigUrl2.'"class="imageItem">';
        //         echo '<img class="cover full-height" src="'.$bigImage2.'" />'; 
        //     echo '</div>';   
        //     $count ++;
        // }
        // if($bigImage3temp !== 'no_selection' && $bigImage3temp !== NULL){
        //     echo '<div data-big-url = "'.$bigImageBigUrl3.'"class="imageItem">';
        //         echo '<img class="cover" src="'.$bigImage3.'" />'; 
        //     echo '</div>';
        //     $count ++;
        // }
    ?>
    
</div>
<div class="nextSlick" >
    <div id="pagination">
        <span class="paginationTextLeft">prev </span><!-- <span class="paginationText"> 01</span> /-->
        <!-- <span class="lastPagination">0<?php echo $count; ?> </span> --><span class="paginationTextRight">next</span>
    </div>
    <div id="zoom">
        <span class="">ZOOM</span>
    </div>
</div>





<!-- <div class="module" id="module">
    
</div> -->



