
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700|Roboto:300,400,500&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Oswald', sans-serif;


$beige: #FCF8ED;
$darkbeige: #EDE6D3;
$blue: #041FE2;
$pink: #F371B7;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;

body{
  font-family: $oswald;
  background: $beige;
  &.customer-account-login, &.customer-account-create{
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  }
}
.prices-tier.items{
  // display: none;
}
*{
  box-sizing: border-box;
}


//remember to remove
// .switcher-currency{
//   display: none !important;
// }


h1, h2, h3, h4{
  // font-family:'Georgia W01 Regular';
  // text-transform: uppercase;
  // letter-spacing: 1.5px;
  // font-weight: initial !important;
  // margin-top: 0;
  font-weight: 400 !important;
  letter-spacing: 2px;
  a{
    font-weight: inherit !important;
  }
}
p, button, input{
  // font-family:'Avenir LT W01_45 Book1475508';
  // font-weight: initial !important;
  // font-size: 14px;
  // font-weight: 300;
}
.mobileToggle{
  display: block;
  width: 30px;
  height: 30px;
  background: $blue;
}
.page.messages{
  position: absolute;
  width: 500px;
  text-align: center;
  left: 50%;
  margin-left: -250px;
}
.bgoverlay{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  &.active{
    display: block;
  }
}

header{
  margin: 0;
  padding: 50px 50px 0 50px;
  // position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  transition: top 500ms;
  z-index: 10;
  &.up{
    transition: top 500ms ease-in-out;
  }
  &.down{
    transition: top 10ms ease-in-out;
  }
  .panel.wrapper{
    display: none;
  }
  .header.content{
    padding: 0;
    .header.links{
      float: right;
      li{
        display: none;
        &:first-child{
          display: block;
        }
      }
    }
  }
  .headerContent{
    display: none;
  }
  &.active{
    .headerContent{
      display: block;
    }
  }
}

header{
  height: 1px;
  padding: 0;
  &.hide{
    z-index: -1;
  }
}
header .header.content {
  height: 1px;
}
.categoriesMenuToggle{
  position: absolute;
  left: 50%;
  top: 15px;
  z-index: 11;
  cursor: pointer;
  &.closebutton{
    position: relative;
    left: 0;
    top: -30px;
  }
}
.categoryOverlay{
  position: fixed;
  cursor: pointer;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(255,255,255,0.3);
  display: none;
  &.active{
    display: block;
  }

}
.catalog-category-view .products.wrapper{
  filter: blur(0);
  transition: filter 0.5s ease-in-out;
  &.blurred{
    filter: blur(6px);
  }
}
.categoriesMenu{
  height: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 12;
  background: $blue;
  transition: height 0.5s ease-out;
  &.active{
    height: 350px;
  }
  .catMenu{
    height: 100%;
    display: table;
    width: 100%;
    ul{
      display: table-cell;
      vertical-align: middle;
      padding: 0 50px;
      text-align: center;
      li{
        display: inline-block;
        margin: 0 15px;
        padding: 0;
        color: white;
        position: relative;
        a{
          color: white;
          display: block;
          padding: 10px;
          position: relative;
        }
        &:hover{
          span{
            display: block;
          }
        }
        &.active{
          span{
            display: block;
          }
          text-decoration: underline;
        }
        span{
            position: absolute;
            display: none;
            right: 10px;
            font-size: 10px;
            top: 0;
          }
      }
    }
  }
}




.customer-account-login, .customer-account-create{
  .form-create-account{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: auto;
    .legend{
      display: none;
    }
    .title{
      display: block;
      text-align: center;
      width: 100%;
      color: $blue;
      padding: 0;
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 100px;
    }
    .fieldset{
      width: 55%;
      max-width: 650px;
      margin: auto;
      .label{
        display: none !important;
      }
      .control{
        width: 100%;
      }
    }
    .actions-toolbar{
      width: 55%;
      max-width: 650px;
      margin-left: 0 !important;
      margin: auto !important;
      margin-top: 50px !important;
      .secondary{
        display: none;
      }
      .primary{
        float: right;
      }
    }
  }
  .column.main{
    display: table;
    position: relative;
    padding: 120px 0;
  }
  .page-title-wrapper{
    display: none;
  }
  .login-container{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: auto;
    .showLogin{
      display: inline-block;
      color: $blue;
      padding: 0;
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      cursor: pointer;
    }
    .block-title{
      display: none;
    }
    .block-new-customer{
      width: 100%;
      float: left;
      height: auto;
      overflow: hidden;
      p{
        display: none;
      }
      .actions-toolbar{
        margin: 0;
        text-align: center;
        .primary{
          float: none;
          a{
            margin: 0;
            border: none;
            background: transparent;
            color: $blue;
            padding: 0;
            text-transform: uppercase;
            font-family: $oswald;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 1px;
          }
        }
      }
    }
    .block-customer-login{
      width: 100%;
      float: left;
      height: auto;
      overflow: hidden;
      text-align: center;
      margin-bottom: 20px;
      .action.remind{
        margin: 0;
        color: blue;
        font-size: 16px;
        opacity: 0.5;
        letter-spacing: 1px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 50px;
        &:hover{
          text-decoration: none;
        }
      }
      .block-content{
        display: none;
        width: 55%;
        max-width: 650px;
        margin: auto;
        margin-top: 130px;
        .fieldset{
          margin: 0;
        }
        .note{
          display: none;
        }
      }
      &.active{
        margin-bottom: 0;
        .block-content{
          display: block;
        }
      }
    }
  }
}
button.action.primary{
  border: solid 2px $blue;
  border-radius: 0;
  background: white;
  color: $blue;
  text-transform: uppercase;
  font-family: $oswald;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 10px 40px;
  margin: 0 !important;
  float: right;
  display: block;
  &:hover{
    border: solid 2px $blue;
    border-radius: 0;
    background: white;
    color: $blue;
    text-transform: uppercase;
    font-family: $oswald;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 40px;
    margin: 0;
    float: right;
    display: block;
  }
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}
#password-strength-meter{
  display: none !important;
}
.login-container, .form-create-account{
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $blue;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $blue;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    color: $blue;
  }
  .actions-toolbar{
    .primary{
      float: right;
    }
  }
  .label{
    display: none !important;
  }
  .newsletter{
    .label{
      display: inline-block !important;
    }
  }
  .fieldset.login:after{
    display: none;
  }
  .control{
    width: 100% !important;
  }
  .fieldset:after{
    //display: none;
  }
}
input{
  border: none !important;
  border-bottom: solid 2px blue !important;
  background-color: transparent !important;
  padding: 0 !important;
  color: $blue !important;
  font-family: $oswald !important;
  letter-spacing: 1px !important;
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

.catalog-product-view{
  .page-wrapper{
    padding-top: 0;
    position: relative;
    .page-title-wrapper.product{
      display: none;
    }
    .product-info-main, .productDetails{
      width: 100%;
      float: left;
      height: auto;
      display: block;
      overflow: hidden;
      position: relative;
    }
    .productDetails{
      .detail-image, .detailContainer{
        width: 50%;
        float: left;
        height: 100%;
        display: table;
        .innerDetail{
          display: table-cell;
          vertical-align: middle;
          .detailsProd{
            width: 50%;
            max-width: 250px;
            margin-left: 15%;
            float: left;  
            h1{
              margin: 0;
              line-height: 18px;
              font-size: 20px;
              margin-bottom: 10px;
              text-transform: uppercase;
              color: $blue;
            }
            .priceContainer{
              margin: 0;
              margin-bottom: 25px;
              line-height: 12px;
              font-size: 16px;
              font-family: $roboto;
              font-weight: 400;
              color: $blue;
            }
            .product.info.detailed{
              margin: 0;
              .product.data.items{
                margin: 0;
                .data.item.title{
                  display: none;
                }
                .data.item.content{
                  padding: 0;
                  border: none;
                  background: transparent;
                  margin: 0;
                  *{
                    color: $blue;
                  }
                  p{
                    line-height: 23px;
                    font-size: 12px;
                    font-family: $roboto;
                    margin-bottom: 12px;
                  }
                }
              }
            }
          }
        }
        img{
          width: 50%;
          max-width: 300px;
          margin-right: 30px;
          float: right;
        }
        &.noImage{
          width: 100%;
        }
      }

    }
    .product-info-main{
      position: fixed;
      .nextSlick{
        position: absolute;
        top: 50%;
        left: 50%;
      }
      .imageGallery{
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 500ms;
        .slick-list{
          height: 100%;
          .slick-track{
            height: 100%;
            .slick-slide{
              overflow: hidden;
              div{
                height: 100%;
              }
              img{
                height: initial;
              }
            }
          }
        }
      }
      .product-info-stock-sku{
        display: none !important;
      }
      .price-label{
        display: none !important;
      }
      .product-options-bottom{
        .field.qty{
          display: none !important;
        }
      }
      .action.mailto.friend, .action.tocompare, .action.towishlist{
        display: none;
      }
      .product.media{
        // height: 100%;
        width: 100%;
        position: relative;
        top: 100px;
        height: calc(100% - 200px);
        overflow: hidden;
      }
      .product-add-form{
        position: absolute;
        right: 50px;
        bottom: 50px;
        .product-options-bottom{
          float: right;
        }
        .product-options-wrapper{
          .fieldset{
            margin: 0;
            .swatch-opt{
              margin: 0;
              .swatch-attribute-label, .swatch-attribute-selected-option{
                display: none;
              }
              .swatch-attribute-options{
                margin: 0;
                .swatch-option{
                  background: transparent;
                  border: none;
                  color: $blue;
                  padding: 0;
                  margin: 0;
                  line-height: 15px;
                  font-size: 17px;
                  height: initial;
                  width: auto;
                  font-weight: 400;
                  text-transform: uppercase;
                  min-width: initial;
                  display: block;
                  overflow: visible;
                  letter-spacing: 1px;
                  &.selected{
                    outline: none;
                    font-weight: 500;
                  }
                  &:first-child{
                    &:before{
                      display: none;
                    }
                  }
                  &:before{
                    display: block;
                    font-weight: 400;
                    float: left;
                    content: '/';
                    color: $blue;
                    line-height: 15px;
                    font-size: 17px;
                    letter-spacing: 1px;
                    padding: 0 5px;
                  }
                  &:hover, &:focus{
                    border: none;
                    outline: none;
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
        .box-tocart{
          margin: 0;
          *{
            margin: 0;
          }
          .fieldset{
            margin: 0;
            .actions{
              padding: 0;
              button{
                line-height: 21px;
                font-size: 24px;
                padding: 0;
                margin: 0;
                background: transparent;
                border: none;
                font-family: $oswald;
                color: $blue;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 500;
                margin-top:30px !important;
              }
            }
          }
        }
      }
      .product-info-price{
        position: absolute;
        left: 50px;
        bottom: 50px;
        span{
          margin-bottom: 0;
        }
        *{
          color: $blue;
          line-height: 21px;
          font-size: 24px;
          letter-spacing: 1px;
          display: block;
        }
        .price-box{
          margin: 0;
        }
        .price{
          line-height: 21px;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 1px;
          display: block;

        }
      }
    }
  }
}
.paralaxElement{
  width: 100%;
  position: relative;
  float: left;
  z-index: -1;
}
.page-header{
  border: none;
  margin: 0;
}


.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main{
  max-width: 100%;
}
.product-item-name, .product.name a{
  font-weight: inherit;
}

.page-wrapper{
  #maincontent{
    padding: 0;
    .columns{
      .column.main{
        width: 100%;
        padding: 0;
      }
    }
  }
}

.minicart-wrapper{
  overflow: visible;
  opacity: 0;
  &.show{
    opacity: 1;
  }
  .ui-widget{
    display: block !important; 
  }
}
.minicart-items .action.edit>span, .minicart-items .action.delete>span{
  width: auto;
  height: auto;
  position: relative;
  margin: 0;
}
.block-minicart .items-total{
  display: none;
}
.minicart-wrapper .block-minicart{
  display: none !important;
  // display: block !important;
  width: 50%;
  max-width: 600px;
  min-width: initial;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 99;
  height: 100%;
  background: $blue;
  border: none;
  margin: 0;
  padding: 105px 85px 40px 85px;
  .cartItemNavigation{
    .itemCart{
      font-size: 20px;
      float: left;
      line-height: 17px;
      margin-bottom: 30px;
      letter-spacing: 1px;
      font-weight: 300;
      .currentItem{
        letter-spacing: 1px;
        font-weight: 300;
      }
      .totalItem{
        letter-spacing: 1px;
        font-weight: 300;
      }
    }
    .itemPagination{
      float: right;
      font-size: 50px;
      margin-bottom: 30px;
      .navLeft{
        opacity: 0.5;
        cursor: pointer;
        float: left;
        background: url('../images/left.jpg') no-repeat;
        background-size: 100% auto;
        color: transparent;
        width: 9px;
        height: 17px;
        &.active{
          opacity: 1;
        }
      }
      .navRight{
        opacity: 0.5;
        background: url('../images/right.jpg') no-repeat;
        cursor: pointer;
        float: left;
        background-size: 100% auto;
        color: transparent;
        width: 9px;
        height: 17px;
        margin-left: 20px;
        &.active{
          opacity: 1;
        }
      }
    }
  }
  .minicart-items-wrapper{
    width: calc(100% + 85px);
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    .items-total{
      display: none;
    }
    .minicart-items{
      position: relative;
      left: 0;
      width: 9999px;
      height: auto;
      overflow: hidden;
      float: left;
      li.item{
        float: left;
        border: none !important;
        margin-right: 30px;
        padding: 0;
        position: relative;
        .product-item-details{
          z-index: 1;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          // height: calc(100% + 33px);
          height: 100%;
          padding: 0;
          .product-detail-container{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% - 33px);
            display: table;
            .product-detail-inner{
              display: table-cell;
              vertical-align: middle;
              .toggle{
                display: none;
              }
              .product-item-name, .product.options, .product-item-pricing{
                width: 50%;
                float: right;
                margin: 0;
                margin-left: 20%;
                display: block;
                font-family: $oswald;
              }
              .product.options, .product-item-pricing{
                font-family: $oswald;
                font-weight: 400;
                *{
                  font-family: $oswald;
                  font-weight: 400;
                }
              }
              .product.options{
                margin-top: 10px;
              }
              .price-container, .details-qty{
                width: 100%;
                margin: 0;
                display: block !important;
              }
              .product-item-pricing{
                .details-qty.qty{
                  display: none !important;
                }
              }
              .qtyContainer{
                text-transform: uppercase;
                color: $blue;
                line-height: initial;
                .qtyAll{
                  font-size: 23px;
                  margin-right: 8px;
                  float: left;
                  color: $blue;
                }
                .qtyLabel{
                  font-size: 14px;
                  float: left;
                  color: $blue;
                }
              }
              .content{
                width: auto;
                float: left;
                display: block !important;
                .product.options.list{
                  width: auto;
                  margin: 0;
                  float: left;
                  margin-right: 20px;
                  .values{
                    margin: 0;
                    float: left;
                    text-transform: uppercase;
                    color: $blue;
                    font-size: 23px;
                    margin-right: 8px;
                    line-height: inital;
                    *{
                      color: $blue;
                      line-height: inital;
                    }
                  }
                  .label{
                    color: $blue;
                    float: left;
                    text-transform: uppercase;
                    margin: 0;
                    *{
                      color: $blue;
                    }
                  }
                }
              }
              .price-container{
                *{
                  margin: 0;
                }
                .price{
                  color: $blue;
                  letter-spacing: 1px;
                  font-size: 16px;
                  font-weight: 400;
                  margin-top: 5px;
                  display: block;
                  font-family: $oswald;
                }
              }
              .product-item-name{
                text-transform: uppercase;
                font-family: $oswald;
                font-weight: 500;
                letter-spacing: 1px;
                font-size: 26px;
                color: $blue;
                &:hover{
                  text-decoration: none;
                }
                *{
                  font-family: $oswald;
                  font-weight: 500;
                  color: $blue;
                  &:hover{
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .product.actions{
            width: 100%;
            position: absolute;
            bottom: 0;
            .primary{
              float: right;
              text-align: right;
              text-transform: uppercase;
              font-weight: 300;
              letter-spacing: 1px;
              *{
                font-weight: 300;
                letter-spacing: 1px;
              }
              .edit{
                &:before{
                  display: none;
                }
              }
            }
            .secondary{
              float: left;
              text-transform: uppercase;
              font-weight: 300;
              letter-spacing: 1px;
              text-align:left;
              *{
                font-weight: 300;
                letter-spacing: 1px;
              }
            }
            .delete{
              &:before{
                display: none;
              }
            }
          }
        }
        .product-item-photo{
          width: 100%;
          span{
            display: block;
          }
          .product-image-container{
            max-width: initial;
            width: 100% !important;
            background: $beige;
            margin-bottom: 33px;
            img{
              width: 100% !important;
              height: auto !important;
              vertical-align: top;  
              max-width: initial;
              padding-bottom: 33px;
              width: 50% !important;
              float: left;
              padding: 0 5%;
            }
          }
        }
      }
    }
    
  }
  *{
    color: $beige;
    font-weight: 400;
    font-family: $roboto;
  }
  .subtotal{
    padding: 0;
    margin: 0;
    border-bottom: solid 2px $beige;
    width: calc(100% - 85px - 85px);
    position: absolute;
    bottom: 150px;
    .label{
      float: left;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 50%;
      text-align: left;
      margin-bottom: 15px;
      span{
        font-weight: 300;

      }
    }
    .price-container{
      float: right;
      font-size: 20px !important;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 50%;
      text-align: right;
      margin-bottom: 15px;
      span{
        font-size: 20px !important;
        font-weight: 300 !important;
      }
    }
  }
  // opacity: 0;
  #top-cart-btn-checkout{
    background: $beige;
    color: $blue;
    font-family: $roboto;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    width: auto;
    border-radius: 0;
    border: none;
    float: right;
    position: absolute;
    right: 85px;
    bottom: 40px;
    padding: 20px 85px;
    font-size: 16px;
    line-height: initial;
  }
  .actions{
    margin: 0;
    .primary{
      margin: 0;
    }
  }
  .action.viewcart{
    display: none;
  }
}
.minicart-wrapper .block-minicart.active{
  display: block !important;
  // opacity: 1;
}
.priceContainer .oldPrice{
  text-decoration: line-through;
  display: inline-block;
  margin-right: 10px;
}

.page-wrapper .column.main .products{
  margin: 0;
  ol{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    // padding: 0 22px;
    // max-width: 1400px;
    width: 100%;
    margin: auto;
    &.show{
      opacity: 1;
    }
    li.product-item{
      width: calc(100% / 3);
      margin: 0;
      padding: 0;
      .product-item-info{
        width: 100%;
        .product-item-photo{
          line-height: 0;
          display: block;
          height: auto;
          overflow: hidden;
        }
        .image-wrapper{
          position: relative;
          img{
            width: 100%;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
            transition: opacity 200ms;
            &.blurred-image{
              position: absolute;
              filter: blur(6px);         
              -webkit-filter: blur(6px);
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
            }
          }  
        }
      }
      *{
        color: $beige;
      }
      .product-item-inner{
        display: none;
      }
      .product-item-info{
        position: relative;
        z-index: 2;
      }
      .productListOverlay{
        opacity: 0;
        transition: 0.2s;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        pointer-events: none;
        .product-item-name{
          text-transform: uppercase;
          font-size: 30px;
          text-align: center;
          margin: 0 0 5px 0;
          a{
            text-decoration: none;
          }
        }
        .actions-secondary{
          position: absolute;
          margin: auto;
          top: 10px;
          z-index: 99;
          right: 10px;
          .action.tocompare{
            display: none;
          }
        }
        .priceContainer{
          right: 0;
          font-family: $oswald;
          text-transform: uppercase;
          font-size: 30px;
          text-align: center;
          font-weight: 400;
          margin: 0;
        }
        .product-item-details{
          *{
            font-family: $roboto;
            text-transform: uppercase;
            font-size: 15px;
          }
          height: 20px;
          text-align: center;
          margin: 32px 0 0 0;
          position: absolute;
          bottom: 40px;
          .swatch-attribute-options{
            margin: 0;
          }
          .swatch-option:not(.disabled):hover{
            outline: none;
          }
          .swatch-option.text.selected{
            background: transparent;
          }
          .swatch-option.text{
            background: none;
            padding: 0;
            margin: 0;
            border: none;
            font-weight: 300;
            min-width: initial;
            line-height: initial;
            height: auto;
            color: $beige;
            outline: none !important;
            box-shadow: none !important;
            &:first-child{
              &:before{
                display: none;
              }  
            }
            &:before{
              color: $beige;
              content: '/';
              display: inline-block;
              padding: 0 5px;
            }
          }
        }
      }
      &:hover{
        .productListOverlay{
          opacity: 1;
        }
        img.non-blurred-image{
          opacity: 0;
        }
      }
    }
    li.product-item:nth-child(3n+1) {
        margin-left: 0;
    }
  }
}

@media all and (max-width: 1199px){
  .minicart-wrapper .block-minicart .subtotal .price-container span{
    line-height: 13px;
    font-size: 17px !important;
  }
  .minicart-wrapper .block-minicart{
    padding: 55px 50px 30px 50px;
    .minicart-items-wrapper{
      width: calc(100% + 50px);
    }
    .subtotal{
      width: calc(100% - 50px - 50px);
      bottom: 100px;
      .label{
        line-height: 13px;
        font-size: 17px;
      }
    }
    .amount.price-container{
      line-height: 13px;
      font-size: 17px !important;
      *{
        line-height: 13px;
        font-size: 17px !important;
      }
    }
    #top-cart-btn-checkout{
      padding: 15px 45px;
      right: 50px;
      line-height: 10px;
      font-size: 14px;
      bottom: 30px;
    }
  }
}

@media all and (max-width: 1000px){
  
}

@media all and (max-width: 999px){
  .minicart-wrapper .block-minicart{
    width: 55%;
  }
}

@media all and (max-width: 768px){
  .minicart-wrapper .block-minicart #top-cart-btn-checkout{
    bottom: 45px;
    right: 55px;
  }
  .minicart-wrapper .block-minicart .subtotal{
     width: calc(100% - 55px - 55px);
     bottom: 115px;
  }
  .minicart-wrapper .block-minicart{
    width: 65%;
    padding: 105px 55px 45px 55px;
    .cartItemNavigation .itemPagination{
      margin-bottom: 20px;
    }
    .cartItemNavigation .itemCart{
      font-size: 17px;
      line-height: 13px;
      margin-bottom: 20px;
    }
    .minicart-wrapper .block-minicart .subtotal .price-container span, .minicart-wrapper .block-minicart .subtotal .label{
      line-height: 13px;
      font-size: 15px !important;
    }
    .minicart-items-wrapper{
      .minicart-items li.item{
        .product-item-details{
          .product-detail-container{
            .product-detail-inner{
              .product-item-pricing{
                margin-top: 4px;
              }
              .qtyContainer .qtyAll{
                font-size: 15px;
                line-height: 13px;
              }
              .qtyContainer .qtyLabel{
                font-size: 7px;
                line-height:8px; 
              }
              .content .product.options.list{
                .values{
                  font-size: 15px;
                  line-height: 13px;
                }
                .label{
                  font-size: 7px;
                  line-height:8px; 
                }
              }
              .price-container .price{
                font-size: 11px !important;
                line-height: 9px;
              }
              .product-item-name{
                font-size: 15px;
                line-height: 13px;
              }
            }
          }
        }
      }
    }
  }
  .page-wrapper .column.main .products ol{
    opacity: 1;
    li.product-item{
      width: calc(50%);
      // margin-bottom: 100px;
      .productListOverlay{
        // position: relative;
        // // display: block;
        // width: 100%;
        // left: initial;
        // right: initial;
        // top: initial;
        // bottom: initial;
        // z-index: 1;
        // margin-top: 20px;
        .actions-secondary{
          display: none;
        }
        .product-item-name{
          float: left;
          width: 100%;
        }
        .priceContainer{
          position: relative;
          float: left;
          bottom: initial;
          top: initial;
          width: 100%;
          font-size: 15px;
          margin-top: 10px;
        }
        .product-item-details{
          display: none;
        }
      }
    }
  } 
  // .page-wrapper .column.main .products ol li.product-item:nth-child(3n+1){
  //   margin-left: 20px;
  // }
  // .page-wrapper .column.main .products ol li.product-item:first-child{
  //   margin-left: 0 !important;
  // }
  // .page-wrapper .column.main .products ol li.product-item:nth-child(2n+1){
  //   margin-left: 0;
  // }
}
@media all and (max-width: 767px){
  .customer-account-login .login-container .block-customer-login .block-content, .customer-account-login .form-create-account .fieldset, .customer-account-create .form-create-account .fieldset, .customer-account-create .form-create-account .actions-toolbar{
    width: 100%;
    max-width: calc(100% - 80px);
  }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-photo .product-image-container{
    background: $darkbeige;
  }
  .minicart-wrapper .block-minicart .subtotal .label, .minicart-wrapper .block-minicart .subtotal .price-container span{
    line-height: 13px;
    font-size: 15px;
  }
  .minicart-wrapper .block-minicart{
    padding: 140px 40px 40px 40px;
    width: 100%;
    background: $beige;
    *{
      color: $blue; 
    }
    .subtotal .label span{
      font-weight: 400;
    }
    .cartItemNavigation .itemCart{
      font-weight: 400;
      .currentItem, .totalItem{
        font-weight: 400;
      }
    }
    .subtotal .price-container span{
      font-weight: 400 !important;
    }
    .subtotal{
      border-bottom: solid 2px $blue;
      bottom: 130px;
      width: calc(100% - 40px - 40px);
    }
    #top-cart-btn-checkout{
      background: $blue;
      color: $beige;
      font-weight: 400;
      bottom: 40px;
      right: 40px;
    }
    .minicart-items-wrapper{
      width: calc(100% + 40px);
      .minicart-items li.item{
        margin-right: 15px;
        .product-item-details .product-detail-container .product-detail-inner{
          .product-item-name{
            line-height: 17px;
            font-size: 21px;
          }
          .product-item-pricing{
            margin-top: 7px;
          }
          .product.options{
            margin-top: 25px;
          }
          .content .product.options.list{
            .values{
              font-size: 18px;
              line-height: 16px;
            }
            .label{
              font-size: 10px;
              line-height: 10px;
            }
          }
          .qtyContainer{
            .qtyAll{
              font-size: 18px;
              line-height: 16px;
            }
            .qtyLabel{
              font-size: 10px;
              line-height: 10px; 
            }
          }
          .price-container .price{
            font-size: 14px !important;
            line-height: 12px;
          }
        }
      }
    }
  }
  header{
    padding: 40px 40px 0 40px;
  }
  .catalog-product-view .page-wrapper{
    .product-info-main {
      -webkit-order: 2;
      order: 2;
      .product.media{
        background: $darkbeige;
        padding: 0 40px 0 40px;
        .slick-arrow{
          display: none !important;
        }
      }
    }
    .productDetails{
      -webkit-order: 1;
      order: 1;
      padding: 0 40px 60px 40px;
      .detail-image{
        display: none;
      }
      .detailContainer{
        width: 100%;
        height: auto;
        display: block;
        .innerDetail{
          display: block;
          .detailsProd{
            width: 100%;
            margin: 0;
            max-width: initial;
            h1{
              line-height: 21px;
              font-size: 26px;
              margin-bottom: 17px;
            }
            .price-container{
              margin-bottom: 25px;
              line-height: 14px;
              font-size: 19px;
            }
            p{
              line-height: 31px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form{
    right: 40px;
    left: 40px;
    bottom: 40px;
    .box-tocart .fieldset .actions button{
      margin: 0;
    }
    .product-options-wrapper{
      float: left;
    }
    .swatch-attribute-options{
      display: none;
    }
    .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label{
      display: block;
      background: transparent;
      border: none;
      color: #041FE2;
      padding: 0;
      margin: 0;
      line-height: 21px;
      font-size: 24px;
      font-weight: 500;
      text-decoration: underline;
      height: initial;
      width: auto;
      text-transform: uppercase;
      min-width: initial;
      display: block;
      overflow: visible;
      letter-spacing: 1px;
      &.active{
        display: none;
      }
    }
    .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option{
      display: none;
      background: transparent;
      border: none;
      color: #041FE2;
      padding: 0;
      margin: 0;
      line-height: 21px;
      font-size: 24px;
      font-weight: 500;
      text-decoration: underline;
      height: initial;
      width: auto;
      text-transform: uppercase;
      min-width: initial;
      display: block;
      overflow: visible;
      letter-spacing: 1px;
      &.active{
        display: block;
      }
    }
    .swatch-attribute.active{
      .swatch-attribute-selected-option{
        display: none !important;
      }
      .swatch-attribute-options{
        display: block;   
      }
    }
    .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option{
      line-height: 21px;
      font-size: 24px;
      font-weight: 500;
      &:before{
        line-height: 21px;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .catalog-product-view .page-wrapper .product-info-main .product-info-price .price-box{
    display: none;
  }
  .catalog-product-view{
    .page-wrapper{
      padding-top: 155px;
    }
  }
}

@media all and (max-width: 500px){
  .page-wrapper .column.main .products ol{
    // padding: 0 45px;
    li.product-item{
      width: 100%;
      margin-left: 0 !important;
      // margin-bottom: 50px;
      .productListOverlay{
        // margin-top: 10px;
        .priceContainer{
          margin-top: 6px;
          font-size: 13px;
        }
        .product-item-name{
          font-size: 15px;
        }
      }
    }
  }
}