* { box-sizing: border-box; }

html, body { padding: 0; margin: 0; box-sizing: border-box; }

body { width: 100%; height: 100%; float: left; }

body.cms-burano-frontpage { margin-bottom: 285px; }

.wrapper.customFrontPage img, .wrapper.customFrontPage object, .wrapper.customFrontPage video, .wrapper.customFrontPage embed { display: block; line-height: 0; }
.wrapper.customFrontPage a { cursor: none !important; }

.cms-page-view.page-layout-1column .column.main { padding: 0 !important; margin: 0 !important; max-width: none !important; }

.wrapper.customFrontPage { width: 100%; height: auto; position: relative; float: left; /* CURSOR FOLLOW */ /* FULL WIDTH VIDEO SECTION */ /* FULL WIDTH IMAGE WITH TEXT OVERLAY */ /* 2 COLUMN LAYOUT */ /* 3 COLUMN LAYOUT */ /* SLIDER PRODUCTS */ /* INSTAGRAM FEED */ }
.wrapper.customFrontPage .custom-cursor { cursor: none; }
.wrapper.customFrontPage .customMouse { display: block; position: fixed; z-index: 10; top: 50%; left: 50%; font-family: "Oswald",sans-serif; font-size: 16px; width: 70px; text-align: left; white-space: nowrap; text-transform: uppercase; color: #FBF9F7; cursor: none; pointer-events: none; /*transition: color .5s;*/ }
.wrapper.customFrontPage .customMouse .lastPagination { position: relative; left: -4px; }
.wrapper.customFrontPage .customMouse .tracerText { letter-spacing: 0.5px; }
.wrapper.customFrontPage .customMouse.dax { pointer-events: none; top: 50%; left: 50%; border-radius: 50%; opacity: 1; transform: translate(-50%, -50%); transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; width: 8px; height: 8px; background-color: #0081d1; }
.wrapper.customFrontPage .customMouse.sale { color: #0081d1; }
.wrapper.customFrontPage .fullWidth-video { position: relative; width: 100%; float: left; }
.wrapper.customFrontPage .fullWidth-image_text { position: relative; width: 100%; max-height: 100vh; float: left; overflow: hidden; }
.wrapper.customFrontPage .fullWidth-image_text .item-name { display: none; }
.wrapper.customFrontPage .fullWidth-image_text .arrow-wrapper { position: fixed; bottom: 40px; height: 15px; width: 15px; -webkit-animation: flying-arrow 1.6s infinite ease-in-out 0s; -o-animation: flying-arrow 1.6s infinite ease-in-out 0s; animation: flying-arrow 1.6s infinite ease-in-out 0s; display: block; left: 50%; margin-left: -15px; }
.wrapper.customFrontPage .fullWidth-image_text .arrow-wrapper .arrow { height: 15px; width: 15px; border: solid #0081d1; border-width: 0 2px 2px 0; padding: 3px; -ms-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.wrapper.customFrontPage .fullWidth-image_text .full-image { position: relative; left: 0px; width: 100%; height: auto; }
.wrapper.customFrontPage .fullWidth-image_text .text-overlay { position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; top: 0; left: 0; }
.wrapper.customFrontPage .fullWidth-image_text .text-overlay h1, .wrapper.customFrontPage .fullWidth-image_text .text-overlay h2, .wrapper.customFrontPage .fullWidth-image_text .text-overlay h3 { font-size: 140px; font-family: "Oswald", sans-serif; text-transform: uppercase; color: #FBF9F7; letter-spacing: 2px; font-weight: 700 !important; }
.wrapper.customFrontPage .column-2 { width: 100%; float: left; position: relative; display: flex; flex-direction: row; }
.wrapper.customFrontPage .column-2 .split-box { width: 50%; float: left; position: relative; /*TEXT BOX*/ }
.wrapper.customFrontPage .column-2 .split-box .split-image { width: 100%; }
.wrapper.customFrontPage .column-2 .split-box .item-name { display: none; }
.wrapper.customFrontPage .column-2 .split-box.text .inner-text { padding: 20%; height: 100%; position: relative; top: 0; float: left; display: flex; flex-direction: column; justify-content: center; color: #0081d1; font-family: "Oswald", sans-serif; }
.wrapper.customFrontPage .column-2 .split-box.text .inner-text h1, .wrapper.customFrontPage .column-2 .split-box.text .inner-text h2, .wrapper.customFrontPage .column-2 .split-box.text .inner-text h3 { font-size: 18px; text-transform: uppercase; letter-spacing: 1px; font-weight: 700 !important; }
.wrapper.customFrontPage .column-2 .split-box.text .inner-text p { letter-spacing: 1px; font-size: 12px; line-height: 18px; font-weight: 100; font-family: "Libre Baskerville", serif; }
.wrapper.customFrontPage .column-3 { width: 100%; float: left; position: relative; display: flex; flex-direction: row; }
.wrapper.customFrontPage .column-3 .split-box { width: 33.3333%; float: left; position: relative; /* NEWSLETTER BOX */ }
.wrapper.customFrontPage .column-3 .split-box picture { margin: 0; float: left; }
.wrapper.customFrontPage .column-3 .split-box picture .split-image { width: 100%; display: block; }
.wrapper.customFrontPage .column-3 .split-box .item-name { display: none; }
.wrapper.customFrontPage .column-3 .split-box.newsletter { padding: 3%; background: #fff; height: auto !important; margin: 0 !important; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box { height: 100%; text-align: center; color: #0081d1; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .headline { display: flex; justify-content: center; align-items: center; height: 100%; font-family: "Oswald", sans-serif; font-size: 16px; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container { position: absolute; bottom: 0; margin: 0; padding: 12.5%; left: 0; width: 100%; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container .form-input { font-family: "Oswald", sans-serif !important; width: 100% !important; border: none !important; color: #0081d1 !important; border-bottom: 1px solid #0081d1 !important; background-color: transparent !important; outline: none !important; padding-bottom: 2px !important; text-transform: uppercase !important; font-weight: 100 !important; font-size: 14px !important; letter-spacing: 0.7 !important; font-weight: 400 !important; cursor: none !important; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container .form-input::placeholder { color: #0081d1; font-size: 12px; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container .submit { width: 100%; position: relative; bottom: 0; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container .submit .button { position: absolute; right: 0; text-decoration: none; text-transform: uppercase; font-family: "Oswald", sans-serif; color: #0081d1 !important; border: none !important; background: transparent; padding: 6px 0 0 0 !important; margin: 0; letter-spacing: 0.7 !important; font-size: 12px; font-weight: 400; }
.wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container .submit .button:hover { cursor: none; }
.wrapper.customFrontPage .sliding-products { width: 100%; display: block; position: relative; float: left; }
.wrapper.customFrontPage .sliding-products .slider { width: 100%; overflow: hidden; }
.wrapper.customFrontPage .sliding-products .slider .split-box { width: 100%; float: left; position: relative; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale { overflow: scroll; width: 100%; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ /* Hide scrollbar for Chrome, Safari and Opera */ }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale::-webkit-scrollbar { display: none; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul { list-style: none; transition: none; margin: 0; display: inline-block; white-space: nowrap; height: auto; width: auto; max-width: none; padding: 0; font-size: 0; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li { width: 30%; display: inline-block; padding: 0; margin: 0; overflow: hidden; transition: none; position: relative; left: initial; top: initial; float: none; vertical-align: middle; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li img { width: 100%; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .item-name { display: none; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-first, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last { display: flex; flex-direction: column; align-items: center; justify-content: center; background: #fff; height: 100%; width: 100%; float: left; position: absolute; top: 0; left: 0; z-index: 5; font-size: 40px; line-height: 40px; font-family: "Oswald", sans-serif; text-transform: uppercase; letter-spacing: 2px; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-first .inner-text, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last .inner-text { float: left; width: 100%; position: relative; text-align: center; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-first .inner-text h1, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-first .inner-text h2, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last .inner-text h1, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last .inner-text h2 { float: left; width: 100%; position: relative; margin: 20px 0; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-first .inner-text { color: #0081d1; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last { display: none; }
.wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last .inner-text h1, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last .inner-text h2 { color: #0081d1; -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */ -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #0081d1; }
.wrapper.customFrontPage .instagram-feed { width: 100%; display: block; position: relative; float: left; background: #dee9ea; }
.wrapper.customFrontPage .instagram-feed .feed { display: flex; flex-direction: column; align-items: center; margin: 15% 0 15% 0; }
.wrapper.customFrontPage .instagram-feed .feed .instagram-name { display: none; padding-left: 10%; color: #dee9ea; font-family: "Oswald", sans-serif; font-size: 8px; text-transform: uppercase; line-height: 20px; margin-bottom: 20px; width: 100%; float: left; position: relative; }
.wrapper.customFrontPage .instagram-feed .feed .instagram-name h1 { margin: 0; padding: 0; }
.wrapper.customFrontPage .instagram-feed .feed .slider { width: 100%; overflow: hidden; }
.wrapper.customFrontPage .instagram-feed .feed .slider .split-box { width: 100%; float: left; position: relative; }
.wrapper.customFrontPage .instagram-feed .feed .slider .split-box.products { padding-left: 10%; overflow: scroll; width: 100%; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ /* Hide scrollbar for Chrome, Safari and Opera */ }
.wrapper.customFrontPage .instagram-feed .feed .slider .split-box.products::-webkit-scrollbar { display: none; }
.wrapper.customFrontPage .instagram-feed .feed .slider .split-box.products ul { list-style: none; transition: none; margin: 0; display: inline-block; white-space: nowrap; height: auto; width: auto; max-width: none; padding: 0; font-size: 0; }
.wrapper.customFrontPage .instagram-feed .feed .slider .split-box.products ul li { width: 30%; display: inline-block; padding: 0; margin: 0; overflow: hidden; transition: none; position: relative; left: initial; top: initial; float: none; vertical-align: middle; }
.wrapper.customFrontPage .instagram-feed .feed .slider .split-box.products ul li img { width: 100%; }

/* MOBILE MAX 767px */
@media (max-width: 767px) { body.cms-burano-frontpage { margin-bottom: 560px; }
  .wrapper.customFrontPage { /* FULL WIDTH IMAGE WITH TEXT OVERLAY */ /* FULL WIDTH IMAGE */ /* FULL WIDTH VIDEO SECTION */ /* FULL WIDTH IMAGE WITH TEXT OVERLAY */ /* 2 COLUMN LAYOUT */ /* 3 COLUMN LAYOUT */ /* SLIDER PRODUCTS */ /* INSTAGRAM FEED */ }
  .wrapper.customFrontPage .customMouse { display: none; }
  .wrapper.customFrontPage .fullWidth-image_text .full-image { width: auto; max-width: none; height: 100vh; margin-left: 50%; left: calc(((2/3 * 100vh) / 2) * -1) !important; position: relative; }
  .wrapper.customFrontPage .fullWidth-image_text .item-name { display: block; position: absolute; bottom: 20px; width: 100%; left: 0; padding: 0 20px; }
  .wrapper.customFrontPage .fullWidth-image_text .item-name .name { font-size: 14px; line-height: 14px; font-family: "Oswald", sans-serif; text-transform: uppercase; letter-spacing: 1.5px; color: #fff; font-weight: 600; }
  .wrapper.customFrontPage .fullWidth-image_text.desktop { display: none; }
  .wrapper.customFrontPage .fullWidth-image_text .text-overlay h1, .wrapper.customFrontPage .fullWidth-image_text .text-overlay h2, .wrapper.customFrontPage .fullWidth-image_text .text-overlay h3 { font-size: 40px; position: absolute; top: 100px; }
  .wrapper.customFrontPage .fullWidth-image .full-image { width: 100vh; margin-left: 50%; left: calc(((2/3 * 100vh) / 2) * -1); position: relative; }
  .wrapper.customFrontPage .column-2 { display: flex; flex-direction: column; }
  .wrapper.customFrontPage .column-2 .split-box { width: 100%; float: left; /*TEXT BOX*/ }
  .wrapper.customFrontPage .column-2 .split-box .item-name { display: block; position: absolute; bottom: 20px; width: 100%; left: 0; padding: 0 20px; }
  .wrapper.customFrontPage .column-2 .split-box .item-name .name { font-size: 14px; line-height: 14px; font-family: "Oswald", sans-serif; text-transform: uppercase; letter-spacing: 1.5px; color: #fff; font-weight: 600; }
  .wrapper.customFrontPage .column-2 .split-box.text .inner-text { padding: 60px 20px; height: auto; }
  .wrapper.customFrontPage .column-2 .split-box.text .inner-text h1, .wrapper.customFrontPage .column-2 .split-box.text .inner-text h2, .wrapper.customFrontPage .column-2 .split-box.text .inner-text h3 { font-size: 18px; margin: 0 0 20px 0; }
  .wrapper.customFrontPage .column-2 .split-box.text .inner-text p { font-size: 12px; line-height: 20px; }
  .wrapper.customFrontPage .column-3 { display: flex; flex-direction: column; }
  .wrapper.customFrontPage .column-3 .split-box { display: none; width: 100%; /* NEWSLETTER BOX */ }
  .wrapper.customFrontPage .column-3 .split-box:first-child, .wrapper.customFrontPage .column-3 .split-box:nth-child(2) { display: block; }
  .wrapper.customFrontPage .column-3 .split-box picture { margin: 0; float: left; }
  .wrapper.customFrontPage .column-3 .split-box picture .split-image { width: 100%; }
  .wrapper.customFrontPage .column-3 .split-box .item-name { display: block; position: absolute; bottom: 20px; width: 100%; left: 0; padding: 0 20px; }
  .wrapper.customFrontPage .column-3 .split-box .item-name .name { font-size: 14px; line-height: 14px; font-family: "Oswald", sans-serif; text-transform: uppercase; letter-spacing: 1.5px; color: #fff; font-weight: 600; }
  .wrapper.customFrontPage .column-3 .split-box.newsletter { padding: 0 20px; min-height: 500px; display: flex; align-items: center; max-height: 50vh; justify-content: center; }
  .wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container { padding: 20px !important; left: 0 !important; width: 100% !important; margin-bottom: 40px !important; }
  .wrapper.customFrontPage .column-3 .split-box.newsletter .content-box .form-container .form-input { border-radius: 0; }
  .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li { width: 85%; }
  .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li img { width: 100%; }
  .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .item-name { display: block; position: absolute; bottom: 20px; width: 100%; left: 0; padding: 0 20px; }
  .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .item-name .name { font-size: 14px; line-height: 14px; font-family: "Oswald", sans-serif; text-transform: uppercase; letter-spacing: 1.5px; color: #fff; font-weight: 600; }
  .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-first .inner-text h1, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-first .inner-text h2, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last .inner-text h1, .wrapper.customFrontPage .sliding-products .slider .split-box.sale ul li .split-box-last .inner-text h2 { margin: 20px 0; }
  .wrapper.customFrontPage .instagram-feed .feed { margin: 25% 0 35% 0; }
  .wrapper.customFrontPage .instagram-feed .feed .instagram-name { color: #0081d1; display: block; padding-left: 20px; }
  .wrapper.customFrontPage .instagram-feed .feed .instagram-name h1, .wrapper.customFrontPage .instagram-feed .feed .instagram-name h2, .wrapper.customFrontPage .instagram-feed .feed .instagram-name h3 { font-size: 14px; font-weight: 600 !important; letter-spacing: 1px; }
  .wrapper.customFrontPage .instagram-feed .feed .slider .split-box.products { padding-left: 20px; }
  .wrapper.customFrontPage .instagram-feed .feed .slider .split-box.products ul li { width: 80%; } }

/*# sourceMappingURL=styles.css.map */
