$blue: #0081d1;
$darkblue: #0081d1;
$lightblue: #dee9ea;
$black: #000;
$white: #fff;
$light: #FBF9F7;
$size: 8px;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$libre: 'Libre Baskerville', serif;

* {
	box-sizing:border-box;
}
html, body {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width: 100%;
    height: 100%;
    float: left;
}
body.cms-burano-frontpage {
	margin-bottom: 285px;
}
.wrapper.customFrontPage{
	img, object, video, embed{
		display: block;
		line-height: 0;
	}
	a{
		cursor: none !important;
	}
}
.cms-page-view.page-layout-1column .column.main{
	padding: 0 !important;
    margin: 0 !important;
    max-width: none !important;
}
.wrapper.customFrontPage {
	width:100%;
	height: auto;
	position: relative;
	float: left;
	/* CURSOR FOLLOW */
	.custom-cursor {
	    cursor:none; 
	} 
	.customMouse {
		display: block; 
		position: fixed;
		z-index: 10;
	    top: 50%;
	    left: 50%;
	    font-family: "Oswald",sans-serif;
	    font-size: 16px;
	    width: 70px;
	    text-align: left;
	    white-space: nowrap;
	    text-transform: uppercase;
	    color: $light;
	    cursor: none;
	    pointer-events: none;
	    /*transition: color .5s;*/
	    .lastPagination{ 
          position: relative;
          left: -4px;
        }
        .tracerText {
        	letter-spacing: 0.5px;
        }

        &.dax {
		    pointer-events: none;
		    top: 50%;
		    left: 50%;
		    border-radius: 50%;
		    opacity: 1;
		    transform: translate(-50%, -50%);
		    transition: opacity 0.3s ease-in-out,
		                transform 0.3s ease-in-out;
		    width: $size;
		    height: $size;
		    background-color: $darkblue;
	    }
	    &.sale {
	    	color:$darkblue;
	    }
	}
	/* FULL WIDTH VIDEO SECTION */
	.fullWidth-video {
		position: relative;
		width: 100%;
		float: left;
	}
	/* FULL WIDTH IMAGE WITH TEXT OVERLAY */
	.fullWidth-image_text {
		position: relative;
		width:100%;
		max-height: 100vh;
		float: left; 
		overflow: hidden;
		.item-name {
			display: none;
		}
		.arrow-wrapper {
			position: fixed;
		    bottom: 40px;
		    height: 15px;
		    width: 15px;
		    -webkit-animation: flying-arrow 1.6s infinite ease-in-out 0s;
		    -o-animation: flying-arrow 1.6s infinite ease-in-out 0s;
		    animation: flying-arrow 1.6s infinite ease-in-out 0s;
		    display: block;
		    left: 50%;
		    margin-left: -15px;
		    .arrow {
		    	height: 15px;
			    width: 15px;
			    border: solid $darkblue;
			    border-width: 0 2px 2px 0;
			    padding: 3px;
			    -ms-transform: rotate(45deg);
			    transform: rotate(45deg);
			    -webkit-transform: rotate(45deg);

		    }
		}

		.full-image {
		    position: relative;
		    left: 0px;
		    width: 100%;
		    height: auto;
		}
		.text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			left: 0;
			h1, h2, h3 {
				font-size: 140px;
				font-family: $oswald;
				text-transform: uppercase;
				color: $light;
				letter-spacing: 2px;
				font-weight: 700 !important;
			}
		}
	}
	/* 2 COLUMN LAYOUT */
	.column-2 {
		width:100%;
		float: left;
		position: relative;
		display: flex;
		flex-direction: row;
		.split-box {
			width: 50%;
			float: left;
			position: relative;
			.vide-bg {

			}
			.split-image {
				width: 100%;
			}
			.item-name {
				display: none;
			} 
			/*TEXT BOX*/
			&.text {
				.inner-text {
					padding:20%;
					height: 100%;
				    position: relative;
				    top: 0;
				    float: left;
				    display: flex;
					flex-direction: column;
					justify-content: center;
					color: $darkblue;
					font-family: $oswald;

					h1, h2, h3 {
						font-size: 18px;
						text-transform: uppercase;
						letter-spacing: 1px;
						font-weight: 700 !important;
					}
					p {
						letter-spacing: 1px;
						font-size: 12px;
						line-height: 18px;
						font-weight: 100;
						font-family: $libre;
					}
				}
			}
		}
	}
	/* 3 COLUMN LAYOUT */
	.column-3 {
		width:100%;
		float: left;
		position: relative;
		display: flex;
		flex-direction: row;
		.split-box {
			width: 33.3333%;
			float: left;
			position: relative;
			picture {
			    margin: 0;
				float: left;
				.split-image {
					width: 100%;
    				display: block;
				}
			}
			.item-name {
				display: none;
			}
			/* NEWSLETTER BOX */
			&.newsletter {
				padding:3%;
				background: $white;
   				height:auto !important;
   				margin: 0 !important;
				.content-box {
					height: 100%; 
					text-align: center;
					color:$darkblue;
					.headline {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						font-family: $oswald;
						font-size: 16px;
					}
					.form-container {
						position: absolute;
						bottom: 0;
						margin:0;
						padding:12.5%;
						left: 0;
						width:100%;
						.form-input {
							font-family: $oswald !important;
							width: 100% !important;
						    border: none !important;
						    color: $darkblue !important;
						    border-bottom: 1px solid $darkblue !important;
						    background-color: transparent !important;
						    outline: none !important;
						    padding-bottom: 2px !important;
						    text-transform: uppercase !important;
						    font-weight: 100 !important;
						    font-size: 14px !important;
						    letter-spacing: 0.7 !important;
						    font-weight: 400 !important;
						    cursor:none !important;
						    &::placeholder { 
							  color: $darkblue;
							  font-size:12px;
							}
						}
						.submit {
							width: 100%;
							position: relative;
							bottom: 0;
							.button {
								position: absolute;
								right:0;
								text-decoration: none;
								text-transform: uppercase;
								font-family: $oswald;
								color:$darkblue !important;
								border: none !important;
								background: transparent;
								padding:6px 0 0 0 !important;
								margin:0;
								letter-spacing: 0.7 !important;
								font-size: 12px;
								font-weight: 400;
								&:hover {
									cursor:none;
								}
							}
						}
					}
				}
			}
		}
	}
	/* SLIDER PRODUCTS */
	.sliding-products {
		width:100%;
		display: block;
		position: relative;
		float: left;
		.slider {
			width: 100%;
			overflow: hidden;
			.split-box {
				width: 100%;
				float: left;
				position: relative;
				&.sale {
					overflow:scroll;
					width: 100%;
					-ms-overflow-style: none;  /* IE and Edge */
				  	scrollbar-width: none;  /* Firefox */
					/* Hide scrollbar for Chrome, Safari and Opera */
					&::-webkit-scrollbar {
					  display: none;
					}
					ul {
						list-style: none;
					    transition: none;
					    margin: 0;
					    display: inline-block;
					    white-space: nowrap;
					    height: auto;
					    width: auto;
					    max-width: none;
					    padding: 0;
					    font-size: 0;
						li {
							width: 30%;
						    display: inline-block;
						    padding: 0;
						    margin: 0;
						    overflow: hidden;
						    transition: none;
						    position: relative;
						    left: initial;
						    top: initial;
						    float: none;
						    vertical-align: middle;
							img {
								width: 100%;
							}
							.item-name {
								display: none;
							}
							.split-box-first,
							.split-box-last {
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								background:$white;
								height: 100%;
								width:100%;
								float: left;
								position: absolute;
								top: 0;
								left: 0;
								z-index: 5;
								font-size:40px;
								line-height: 40px;
								font-family: $oswald;
								text-transform: uppercase;
								letter-spacing: 2px;
								.inner-text {
									float: left;
									width: 100%;
									position: relative;
									text-align: center;
									h1, h2 {
										float: left;
										width:100%;
										position: relative;
										margin:20px 0;
									}
								}
							}
							.split-box-first {
								.inner-text {
									color: $darkblue;
								}
							}
							.split-box-last {
								display: none;
								.inner-text {
									h1, h2 {
										color: $darkblue;
									  	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
									  	-webkit-text-stroke-width: 1px;
									  	-webkit-text-stroke-color: $darkblue;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/* INSTAGRAM FEED */
	.instagram-feed {
		width:100%;
		display: block;
		position: relative;
		float: left;
		background: $lightblue	;
		.feed {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 15% 0 15% 0;
			.instagram-name {
				display: none;
				padding-left: 10%;
				color:$lightblue;
				font-family: $oswald;
				font-size: 8px;
				text-transform: uppercase;
				line-height: 20px;
				margin-bottom: 20px;
				width: 100%;
				float: left;
				position: relative;
				h1 {
					margin:0;
					padding: 0;
				}
			}
			.slider {
				width: 100%;
				overflow: hidden;
				.split-box {
					width: 100%;
					float: left;
					position: relative;
					&.products {
						padding-left: 10%;
						overflow:scroll;
						width: 100%;
						-ms-overflow-style: none;  /* IE and Edge */
					  	scrollbar-width: none;  /* Firefox */
						/* Hide scrollbar for Chrome, Safari and Opera */
						&::-webkit-scrollbar {
						  display: none;
						}
						ul {
							list-style: none;
						    transition: none;
						    margin: 0;
						    display: inline-block;
						    white-space: nowrap;
						    height: auto;
						    width: auto;
						    max-width: none;
						    padding: 0;
						    font-size: 0;
							li {
								width: 30%;
							    display: inline-block;
							    padding: 0;
							    margin: 0;
							    overflow: hidden;
							    transition: none;
							    position: relative;
							    left: initial;
							    top: initial;
							    float: none;
							    vertical-align: middle;
								img {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* MOBILE MAX 767px */
@media (max-width: 767px ) {
	body.cms-burano-frontpage {
		margin-bottom: 560px;
	}
	.wrapper.customFrontPage {
		.customMouse {
			display: none;
		}
		/* FULL WIDTH IMAGE WITH TEXT OVERLAY */
		.fullWidth-image_text {
			.full-image {
				width: auto;
				max-width: none;
				height: 100vh;
				margin-left: 50%;
			    left: calc(((2/3 * 100vh) / 2) * -1) !important; 
			    position: relative;
			}
			.item-name {
				display: block;
				position: absolute;
				bottom: 20px;
				width:100%;
				left:0;
				padding:0 20px;
				.name {
					font-size:14px;
					line-height: 14px;
					font-family: $oswald;
					text-transform: uppercase;
					letter-spacing: 1.5px;
					color: $white;
					font-weight: 600;
				}
			}
			&.desktop {
				display: none;
			}
			
			.text-overlay {
				h1, h2, h3 {
					font-size: 40px;
				    position: absolute;
				    top: 100px;
				}
			}
		}
		/* FULL WIDTH IMAGE */
		.fullWidth-image {
			.full-image {
				width: 100vh;
				margin-left: 50%;
			    left: calc(((2/3 * 100vh) / 2) * -1);
			    position: relative;
			}
		}
		/* FULL WIDTH VIDEO SECTION */
		.fullWidth-video {
		}
		/* FULL WIDTH IMAGE WITH TEXT OVERLAY */
		.fullWidth-image_text {
			.full-image {
			}
			.text-overlay {
				h1, h2, h3 {
				}
			}
		}
		/* 2 COLUMN LAYOUT */
		.column-2 {
			display: flex;
			flex-direction: column;
			.split-box {
				width:100%;
				float: left;
				.split-image {
				}
				.item-name {
					display: block;
					position: absolute;
					bottom: 20px;
					width:100%;
					left:0;
					padding:0 20px;
					.name {
						font-size:14px;
						line-height: 14px;
						font-family: $oswald;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						color: $white;
						font-weight: 600;
					}
				}
				/*TEXT BOX*/
				&.text {
					.inner-text {
						padding: 60px 20px;
						height: auto;
						h1, h2, h3 {
							font-size: 18px;
							margin:0 0 20px 0;
						}
						p {
							font-size: 12px;
    						line-height: 20px;
						}
					}
				}
			}
		}
		/* 3 COLUMN LAYOUT */
		.column-3 {
			display: flex;
			flex-direction: column;
			.split-box {
				display: none;
				width: 100%;
				&:first-child,
				&:nth-child(2) {
					display: block;
					
				}
				picture {
				    margin: 0;
    				float: left;
    				.split-image {
						width: 100%;
					} 
				}
				.item-name {
					display: block;
					position: absolute;
					bottom: 20px;
					width:100%;
					left:0;
					padding:0 20px;
					.name {
						font-size:14px;
						line-height: 14px;
						font-family: $oswald;
						text-transform: uppercase;
						letter-spacing: 1.5px;
						color: $white;
						font-weight: 600;
					}
				}
				
				/* NEWSLETTER BOX */
				&.newsletter {
					padding: 0 20px;
					min-height: 500px;
					display: flex;
    				align-items: center;
    				max-height: 50vh;
    				justify-content: center;
    				.content-box {
    					.form-container{
	    					padding: 20px !important;
						    left: 0 !important;
						    width: 100% !important;
						    margin-bottom: 40px !important;
	    					.form-input{
	    						border-radius: 0;

	    					}
	    				}	
    				}
				}
			}
		}
		/* SLIDER PRODUCTS */
		.sliding-products {
			.slider {
				.split-box {
					&.sale {
						ul {
							li {
								width:85%;
								img {
									width: 100%;
								}
								.item-name {
									display: block;
									position: absolute;
									bottom: 20px;
									width:100%;
									left:0;
									padding:0 20px;
									.name {
										font-size:14px;
										line-height: 14px;
										font-family: $oswald;
										text-transform: uppercase;
										letter-spacing: 1.5px;
										color: $white;
										font-weight: 600;
									}
								}
								.split-box-first,
								.split-box-last {
									.inner-text {
										h1, h2 {
											margin:20px 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		/* INSTAGRAM FEED */
		.instagram-feed {
			.feed {
				margin: 25% 0 35% 0;
				.instagram-name { 
					color:$darkblue;
					display: block;
					padding-left: 20px;
					h1, h2, h3 {
					    font-size: 14px;
					    font-weight: 600 !important;
					    letter-spacing: 1px;
					}
				}
				.slider {
					.split-box {
						&.products {
							padding-left: 20px;
							ul {
								li {
									width: 80%;
								}
							}
						}
					}
				}
			}
		}
	}
}




