<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */


if ($block->getItemsCount()) {
	echo '<div class="cartBgImage"></div>';
    echo $block->getChildHtml('with-items');
} else {
	echo '<div class="cartBgImage empty"></div>';
    echo $block->getChildHtml('no-items');
}
