<div class="mobileToggle">Menu</div>
<div class="mobileOpenCartLink openCartLink"><?php echo __('Cart'); ?></div>
<div class="headerContent">
	<div class="menuContainer">
		<nav>
			<?php 
				echo $this->getLayout()
	          ->createBlock('Magento\Cms\Block\Block')
	          ->setBlockId('header_menu')
	          ->toHtml();
			?>
		</nav>

		<div class="headerContainer">
			<?php 
			/*
			<div class="storeSelecter">
				<a href="http://resumecph.dk/location"><?php echo 'Country'; ?></a>
				
					//$blockObj = $block->getLayout()->createBlock('WhitePixel\frontendHelper\Block\Languageselect'); 
					//$blockObj->getStoresSelecter();
				?>
			</div>
			<div class="instagramLink">
				<a target="_blank" href="https://www.instagram.com/resumecph/">Instagram</a>
			</div>
			*/
			?>

			<?php /* <div class="openSearcLink"><?php echo __('Search'); ?></div> */ ?>
			<?php /* <a href="" class="openLoginLink"><?php echo __('Login'); ?></a> */ ?>
			<div class="openCartLink"><?php echo __('Cart'); ?></div>
			
			<?= $block->getChildHtml() ?>
		</div>
		<div class="closeSearch"></div>
		<div class="closeMenu"></div>
	</div>
</div>
<?php 
/*
<div class="storeSelecter">
	<a href="http://resumecph.dk/location"><?php echo 'Country'; ?></a>
	
		//$blockObj = $block->getLayout()->createBlock('WhitePixel\frontendHelper\Block\Languageselect'); 
		//$blockObj->getStoresSelecter();
</div>
<!-- <div class="instagramLink">
	<a target="_blank" href="https://www.instagram.com/resumecph/">Instagram</a>
</div> -->
*/ 
?>
<div class="gridChange">
	<div class="multiple active"></div>
	<div class="single"></div>
</div>
<div class="bgoverlaymenu"></div>
<div class="bgoverlay"></div>