$fontDefault = Arial, Helvetica, sans-serif;

resetMP() {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'nd';
  src:url('../fonts/nd.eot?p807cs');
  src:url('../fonts/nd.eot?p807cs#iefix') format('embedded-opentype'),
          url('../fonts/nd.ttf?p807cs') format('truetype'),
          url('../fonts/nd.woff?p807cs') format('woff'),
          url('../fonts/nd.svg?p807cs#nd') format('svg');
  font-weight: normal;
  font-style: normal;
}

.nd-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nd' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.nd-left-brackets:before {
  content: "\e900";
}
.nd-right-arrow:before {
  content: "\e901";
}
.nd-right-brackets:before {
  content: "\e902";
}
.nd-left-arrow:before {
  content: "\e903";
}
.nd-pin:before {
  content: "\e904";
}

.nd-list {
  resetMP();
  list-style-type: none;
  font-size: 0;
}
.nd-list__separator {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 20px 0 15px;
  padding-left: 20px;
  box-sizing: border-box;
  font: bold 13px $fontDefault;
}
.nd-list__separator hr {
  resetMP();
  border: 0;
  margin-top: 5px;
  height: 2px;
  background: #dedede;
}
.nd-list__error {
  list-style-type: none;
  padding: 10px;
  border: #ea7601 solid 1px;
  background: #fff4e9;
  font-size: 12px;
}
.nd-list__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px 20px;
  cursor: move;

  & * {
    box-sizing: initial;
  }

  &.attached .nd-btn.action,
  &.disableLeft .nd-btn.action[btn="toBegin"],
  &.disableLeft .nd-btn.action[btn="toLeft"],
  &.disableRight .nd-btn.action[btn="toEnd"],
  &.disableRight .nd-btn.action[btn="toRight"] {
    color: #c3c3c3;
    background: #e9e9e9;
    cursor: default;
  }

  &.attached .nd-btn.attached { color: #fff; }
}
.nd-list__item.over .nd-card {
  opacity: 0.25;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.nd-list__item:hover {
  z-index: 1;
}
.nd-card,
.nd-card-hover {
  height: 100%;
  border: #939798 solid 1px;
  font-size: 12px;
}
.nd-card {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.nd-list__item.attached .nd-card {
  border-color: #ff7200;
}
.nd-card-hover {
  display: none;
  position: absolute;
  padding: 4px;
  padding-bottom: 33px;
  border: #000 solid 1px;
  background: #fff;

  &:before {
    content: '';
    float: left;
    height: 100%;
  }
}
.nd-list__item:hover .nd-card-hover {
  display: block;
  top: -4px;
  left: -4px;
}
.nd-list__item:hover .nd-card {
  visibility: hidden;
}
.nd-box-img {
  position relative
  background: #fff;
  font-size: 0;
  text-align: center;
}
.nd-box-img:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.nd-box-img img {
  max-width: 100%;
  height: auto;
}
.nd-box-info {
  padding: 10px 10px 0 10px;
}
.nd-box-info__item {
  resetMP();
  margin-bottom: 7px;
  font: 13px/1.2 $fontDefault;
  color: #1a1a1a;
}
.nd-box-info__item.name {
  font-weight: bold;
  color: #686c75;
}
.nd-row-buttons .nd-btn + .nd-btn {
  border-left: #cfd0d1 solid 1px;
}
.nd-row-buttons {
  clear: both;
  position: relative;
  top: -4px;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
}
/* buttons */
.nd-btn {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: center;
  cursor: pointer;

  &.upload {
    padding: 10px 20px;
    border: #d3d3d3 solid 1px;
    background-image: -moz-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(248,248,248) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(248,248,248) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(248,248,248) 100%);
    color: #1a1a1a;
    font: bold 12px/1.2 $fontDefault;

    &:hover {
      border: #c6c6c6 solid 1px;
      background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(248,248,248) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(248,248,248) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(248,248,248) 100%);
    }
  }

  &.action {
    width: 41px;
    height: 33px;
    line-height: 37px;
    background: #e9e9e9;
    color: #000;
    font-size: 13px;
    &:hover {
      background: #000;
      color: #fff;
    }
    &.disabled {
      color: #cfd0d1;
      background: #e9e9e9;
      cursor: default;
    }

    .nd-left-arrow,
    .nd-right-arrow {
      font-size: 16px;
    }
  }

  &.attached {
    display: none;
    position: absolute;
    width: 36px;
    height: 36px;
    line-height: 43px;
    top: 0;
    right: 0;
    background: #bfbfbf;
    color: #fff;
    font-size: 26px;
    z-index: 10;
    &:hover { background-color: #ff7200; }

    .nd-list__item.attached & {
      display: block;
      background-color: #ff7200;

      .nd-icon {
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }
    }

    .nd-card-hover & {
      display: block;
      margin: 4px 4px 0 0;
    }

    .nd-icon {
      display: inline-block;
      -webkit-transform: rotateZ(90deg);
      -moz-transform: rotateZ(90deg);
      -ms-transform: rotateZ(90deg);
      -o-transform: rotateZ(90deg);
      transform: rotateZ(90deg);
    }
  }
}

/* neklo */
.neklo-product-position-tab .admin__collapsible-title > span:first-of-type:before {
  display: inline-block;
  width: 114px;
  height: 17px;
  margin-right: 10px;
  margin-bottom: -2px;
  background: url(../images/neklo.png);
  content: "";
}