<?php

	$item = $block->getItem();
	$product = $item->getProduct();
?>
<div class="wishlistContainer">
	<div class="tableContainer">
		<div class="innerContainer">
			<strong class="product-item-name">
			    <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>" class="product-item-link">
			        <?= $block->escapeHtml($product->getName()) ?>
			    </a>
			</strong>


			<?php foreach ($block->getChildNames() as $childName): ?>
			    <?= /* @noEscape */ $block->getLayout()->renderElement($childName, false) ?>
			<?php endforeach;?>
		</div>
	</div>
</div>
