
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700|Roboto:300,400,500&display=swap');

$beige: #FBF9F7;
$darkbeige: #EBE5DE;
$blue: #041FE2;
$pink: #F371B7;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

body{
  &.customer-account-login, &.customer-account-create{
    opacity: 0;
    @include transition(opacity 500ms ease-in-out);
    .columns{
      background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    }
  }
}

/* WISHLIST PAGE BACKGROUND COLOR */
body{
  &.wishlist-index-index {
    background: #ffdae9;

    .page-wrapper #maincontent .columns {
      background-color:#ffdae9;
    }

  }
} 

.form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.search.advanced, .form.form-orders-search {
  width: 100%;
}

.customer-account-login .form-create-account fieldset:first-of-type, .customer-account-create .form-create-account fieldset:first-of-type {
  margin-top:0%!important;
}

.wishlist-index-index{
  
    .products-grid.wishlist .product-item-photo {

      margin-bottom: 0;
    }

    /* HIDE ELEMENTS ON WISHLIST PAGE */

    /* comments, price, quantity, etc */
    .product-item-inner {
      display: none;
    }
    
    .actions-toolbar {
      display: none;
    }

    .toolbar.wishlist-toolbar {
      display: none;
    }
    
    /* Add padding on the whole container */
    .products-grid.wishlist {
      padding: 10% 100px;
      float: left;
      width: 100%;
    }
    
    /* OL list set dimensions */
    .products-grid .product-items {
      margin: 0 auto;
      width: 100%;
      float: left;
    }

    /* OL > LI items styling */
    .products-grid .product-item {
      width: calc(33.33% - 33.33px);
      margin: 25px 25px 25px 25px;
      text-align: center;
      float: left;
      position: relative;
    }

    
    .products-grid .product-item:nth-child(3n+3) {
      margin-right: 0;
    }

    .products-grid .product-item:nth-child(3n + 4) {
      margin-left: 0;
    }


    /* Box on the bottom of the product */
    .wishlistContainer {
      width: 100%;
      border-top: 2px solid #041FE2!important;
      height: auto;
      float: left;
      margin: 0 auto;
      border-top: 1px solid #041FE2;
      position: relative;
      padding-bottom: 13.33%;

      & a , span.price {
        color: #041FE2;
      }
    }

    .tableContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      display: table;
      top: 0;
      bottom: 0;
      left: 0;
      vertical-align: middle;

    }

    .innerContainer {
      display: table-cell;
      vertical-align: middle;
      padding: 0 4%;

    }
    
    
    /* LI inside product info - image, text, etc styling */
    .product-item-info {
      margin: 0 auto;
      // border: 1px solid #041FE2;
      // background-color: white;
      width: 100%;
      height: auto;
    }
    
    /* 100% width of the product image container*/
    .product-image-container {
      width: 100%!important;
      display: block;
    }


    /* Product name stlying floating left */
    .product-item-name {
      float: left;
      text-align: left;
      margin: 0!important;
      text-transform: uppercase;
      font-size: 14px!important;

    }

    /* Product price stlying floating right */
    .product-item .price-box {
      margin:0!important;
      float: right;
      text-align: right;
      font-size: 14px!important;

      }
    .product-item .price-box .price {
      font-weight: 400!important;
    }

    .price-as-configured {
      margin: 0;

    }


    .products-grid .product-item {

      background-color: white;
      border: 2px solid blue;
    }

    .product-image-photo {
    width:100%;
    max-width: 100%;
    margin:0!important;
  }
}

.customer-account-login, .customer-account-create{
  .newsletter {
    background-color: transparent;
    height: auto!important;
  }
  .form-create-account{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: auto;
    .legend{
      display: none;
    }
    .title{
      display: block;
      text-align: center;
      width: 100%;
      color: $blue;
      padding: 0;
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 100px;
    }
    .fieldset{
      width: 55%;
      max-width: 650px;
      margin: auto;
      .label{
        display: none !important;
      }
      .control{
        width: 100%;
      }
    }
    .actions-toolbar{
      width: 55%;
      max-width: 650px;
      margin-left: 0 !important;
      margin: auto !important;
      margin-top: 50px !important;
      .secondary{
        display: none;
      }
      .primary{
        float: right;
      }
    }
  }
  .column.main{
    display: table;
    position: relative;
    padding: 120px 0;
  }
  .page-title-wrapper{
    display: none;
  }
  .login-container{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: auto;
    .showLogin{
      display: inline-block;
      color: $blue;
      padding: 0;
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      cursor: pointer;
    }
    .block-title{
      display: none;
    }
    .block-new-customer{
      width: 100%;
      float: left;
      height: auto;
      overflow: hidden;
      p{
        display: none;
      }
      .actions-toolbar{
        margin: 0;
        text-align: center;
        .primary{
          float: none;
          a{
            margin: 0;
            border: none;
            background: transparent;
            color: $blue;
            padding: 0;
            text-transform: uppercase;
            font-family: $oswald;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 1px;
          }
        }
      }
    }
    .block-customer-login{
      width: 100%;
      float: left;
      height: auto;
      overflow: hidden;
      text-align: center;
      margin-bottom: 20px;
      .action.remind{
        margin: 0;
        color: blue;
        font-size: 16px;
        opacity: 0.5;
        letter-spacing: 1px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 50px;
        &:hover{
          text-decoration: none;
        }
      }
      .block-content{
        display: none;
        width: 55%;
        max-width: 650px;
        margin: auto;
        margin-top: 130px;
        .fieldset{
          margin: 0;
        }
        .note{
          display: none;
        }
      }
      &.active{
        margin-bottom: 0;
        .block-content{
          display: block;
        }
      }
    }
  }
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}
#password-strength-meter{
  display: none !important;
}
.login-container, .form-create-account{
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $blue;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $blue;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    color: $blue;
  }
  .actions-toolbar{
    .primary{
      float: right;
    }
  }
  .label{
    display: none !important;
  }
  .newsletter{
    .label{
      display: inline-block !important;
    }
  }
  .fieldset.login:after{
    display: none;
  }
  .control{
    width: 100% !important;
  }
  .fieldset:after{
    //display: none;
  }
}

@media all and (min-width: 1600px){

  .wishlist-index-index{
    .products-grid .product-item{
      width: calc(25% - 37.5px);
    }
    .products-grid .product-item:nth-child(3n+3) {
      margin-right: 25px;
    }

    .products-grid .product-item:nth-child(3n + 4) {
      margin-left: 25px;
    }
    
    .products-grid .product-item:nth-child(4n+1){
      margin-left: 0px;
    }
    .products-grid .product-item:nth-child(4n+4){
      margin-right: 0px;
    }
    .products-grid .product-item:first-child{
      margin-right: 25px; 
    }

  }

}

@media all and (max-width: 1599px) {

 .wishlist-index-index{
    .products-grid .product-item{
      width: calc(33.333% - 33.333px);
    }
    .products-grid .product-item:nth-child(3n+2) {
      margin-right: 25px;
    }

    .products-grid .product-item:nth-child(3n + 2) {
      margin-left: 25px;
    }

    .products-grid .product-item:nth-child(4n+1){
          margin-left: 25px;
        }

    
    .products-grid .product-item:nth-child(3n+1){
      margin-left: 0px;
    }
    .products-grid .product-item:nth-child(3n+3){
      margin-right: 0px;
    }
    .products-grid .product-item:first-child{
      margin-right: 25px; 
    }

  }




}

@media all and (max-width: 1199px){
 

.wishlist-index-index{


}



}

@media all and (max-width: 1000px){
  
}

@media all and (max-width: 999px){
 
  .wishlist-index-index{
    .products-grid .product-item{
      width: calc(50% - 25px);
    }
    
    .products-grid .product-item:nth-child(2n+1){
      margin-left: 0px;
    }
    .products-grid .product-item:nth-child(2n+2){
      margin-right: 0px;
    }

    .products-grid .product-item:nth-child(2n+1){
      margin-right: 25px;
    }
    .products-grid .product-item:nth-child(2n+2){
      margin-left: 25px;
    }

    .products-grid .product-item:first-child{
      margin-right: 25px; 
    }

  }



   .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.search.advanced, .form.form-orders-search {
    width: 100%;
  }

  .customer-account-login .form-create-account fieldset:first-of-type, .customer-account-create .form-create-account fieldset:first-of-type {
    margin-top:0%!important;
  }
  .customer-account-login, .customer-account-create{
    .newsletter {
       background-color: transparent;
      margin-top: 0!important;
      height: auto!important;
    }
  }


  .wishlist-index-index{

      /* OL > LI items styling */
      // .products-grid .product-item {
      //   width: 50%;
      //   margin: 0 auto;
      //   text-align: center;
      //   float: left;
      //   position: relative;
      // }


  }

  }

@media all and (max-width: 768px){

.form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.search.advanced, .form.form-orders-search {
  width: 100%;
}

.customer-account-login .form-create-account fieldset:first-of-type, .customer-account-create .form-create-account fieldset:first-of-type {
  margin-top:0%!important;
}
.customer-account-login, .customer-account-create{
  .newsletter {
    height: auto!important;
  }
}




.wishlist-index-index{


  
  .products-grid .product-item {
      width: calc(100% - 50px);
      margin-left: 25px!important;
      margin-right: 25px!important;
      background-color: white;
      height: auto;
      padding: 0;
      border: 2px solid #041FE2!important;
    }

  .products-grid.wishlist .product-image-container {
    max-width: 100%;
    
  }
  
  .products-grid.wishlist .product-item-photo {
    width: 100%;
    margin: 0 auto;
  }


    /* OL > LI items styling */
    // .products-grid .product-item {
    //   width: 100%;
    //   margin: 0 auto;
    //   text-align: center;
    //   float: left;
    //   position: relative;
    // }

}

}

@media all and (max-width: 767px){
 
.form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.search.advanced, .form.form-orders-search {
  width: 100%;
}

.customer-account-login .form-create-account fieldset:first-of-type, .customer-account-create .form-create-account fieldset:first-of-type {
  margin-top:0%!important;
}
.customer-account-login, .customer-account-create{
  .newsletter {
    height: auto!important;
  }
}

.wishlist-index-index .products-grid.wishlist {
  padding: 60px 5%;
}


}

