section.prismic-page {
  section.prismic-page-text {
    padding-top: 160px;
    h1 {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
  section.prismic-page-accordion {
    .accordion-inner p {
      padding-bottom: 0px;
    }
    .accordion-inner p:last-child {
      padding-bottom: 80px;
    }
    h2 {
      font-size: 60px;
    }
  }
}
.page-layout-1column-prismic-new {
  .prismic-page-text {
    h2 {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
}
.prismic-page-text {
  h2 {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  section.prismic-page {
    section.prismic-page-text {
      p {
        font-size: 31px;
        line-height: 51px;
      }
    }
  }
}

@media (max-width: 767px) {
  section.prismic-page {
    section.prismic-page-text {
      padding-top: 120px;
      p {
        font-size: 16px;
        line-height: 26px;
      }
      h1,
      h2 {
        margin-bottom: 30px;
      }
      h2.scale-heading {
        margin-bottom: 30px;
      }
    }
    section.prismic-page-accordion {
      h2 {
        margin-bottom: 30px;
        font-size: 19px;
        font-weight: 500 !important;
        padding: 0;
      }
      .accordion-inner p {
        padding-bottom: 30px;
        font-size: 16px;
        line-height: 26px;
      }
      .accordion-inner p:last-child {
        padding-bottom: 60px;
      }
    }
  }

  .page-layout-1column-prismic-new {
    .prismic-page-text {
      a {
        font-size: 16px; // previously 31px
      }
    }
  }
}
