$blue: #041fe2;
$white: #fbf9f7;
$green: #CDFFCC;



// STYLINGZ *****     
body.page-layout-1column-prismic-new.changeColor {
  header {
    .headerContent {
		.menuContainer {
			nav {
				ul {
					li {
					  	color: $blue !important;

					  	&:hover {
					  		border-color: $blue !important;

					  		a {
					  			border-color: $blue !important;
					  		}
					  	}
					}
				}
			}
			.headerContainer {
				.openCartLink {
					color:$blue !important;

					&:hover {
						border-color: $blue !important;
					}
				}
				.block-search {
					.block-title {
						color:$blue !important;
						border-color: transparent !important;
						&:hover {
							border-color: $blue !important;
						}
					}
				}
			}
      	}
    }
  } 
}
body.page-layout-1column-prismic-new{
	background-color: transparent;
	margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    float: left;
    opacity: 0;
    transition: all 0.5s ease;
    max-width: 100%;
    footer{
    	//background-image: linear-gradient(120deg, $green 0%, #f7d1e6 100%);
    }
    main{
    	margin-bottom: 285px;
    }
    .column.main{
		width: 100%;
	    display: block;
	    // overflow: hidden;
	    height: auto;
	    min-height: initial;
	    .container{
	    	// position: fixed;
    		// width: 100%;
    		// top: 0;
    		// left: 0;
    		// transition: transform 1s cubic-bezier(0.25,0.1,0.25,1);
	    }
    }
    header .openCartLink, header .instagramLink, header .storeSelecter{
    	color: $white;
    	a{
    		color: $white;
    	}
    }
    header .openCartLink:hover, header .instagramLink:hover, header .storeSelecter:hover{
    	border-bottom: 2px solid $white;
    }
    header .mobileToggle{
    	background: url('../images/menu_h.png') no-repeat;
    	background-size: 100% auto;
    }

    &.changeColor{
    	header .openCartLink, header .instagramLink, header .storeSelecter{
	    	color: $blue;
	    	a{
	    		color: $blue;
	    	}
	    }
	    header .openCartLink:hover, header .instagramLink:hover, header .storeSelecter:hover{
	    	border-bottom: 2px solid $blue;
	    }
	    header .mobileToggle{
	    	background: url('../images/menu_b.png') no-repeat;
	    	background-size: 100% auto;
	    }
	    header .headerContent .menuContainer nav ul li{
	    	color: $blue;
	    }
	    header .headerContent .menuContainer nav ul li a:hover{
	    	border-bottom: solid 2px $blue;
	    }
    }

}
.page-layout-1column-prismic-new main .newsletter .ig .sticky-wrapper .image-row img{
	vertical-align: top;
}
.page-layout-1column-prismic-new.changeColor section.background{
			opacity: 1;
}
.page-layout-1column-prismic-new main{
	section.backgroundImage {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 0;
		-webkit-transform: translate3d(0,0,0);
	}
	section.background {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 0;
		transition: opacity 500ms ease-in-out;
		opacity: 0;
		background: $white;
	}


	h2, p, a {
		font-family: sans-serif;
	}
	h2 {
	    font-size: 66px;
	    font-family: "Oswald", sans-serif;
	    color: $blue;
	    font-weight: 700!important;
	    margin-bottom: 80px;
	    text-transform: uppercase;
	}

	a {
		font-size: 31px;
	    font-family: "Libre Baskerville", serif;
	    color: #041FE2;
	    line-height: 51px;
	    margin: 0;
	    padding: 0;
	}

	a {
		text-decoration: none;
	}

	section.container {
		background-color: transparent;
	    width: 100%;
	    height: auto;
    	max-width: 2400px;
    	margin: auto;
	}
}

/**** NAVIGATION - MENU - LOGIN PANEL ****/
/*****************************************/
.page-layout-1column-prismic-new main .content4 .vertical_text{
	transform: rotate(-90deg);
    transform-origin: left bottom 0;
    float: right;
    color: #cdffcc;
    font-family: 'Oswald',sans-serif;
    font-size: 14px;
    position: absolute;
    margin: 0;
    left: calc(100% + 33px);
    width: 100%;
    bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}
.page-layout-1column-prismic-new main{

section.navigation, section.prod, div.controls, section.heroSection, section.product {
    float:left;
    width:100%;
    height: auto;
}

	

/**** HERO SECTION ****/
/**********************/

.hero {
	max-width: 100%;
	position: relative;
	height: 100%;
	.arrow-wrapper{
	    position: fixed;
	    bottom: 40px;
	    height: 15px;
	    width: 15px;
	    -webkit-animation: flying-arrow 1.6s infinite ease-in-out 0s;
	    -o-animation: flying-arrow 1.6s infinite ease-in-out 0s;
	    animation: flying-arrow 1.6s infinite ease-in-out 0s;
	    display: block;
	    left: 50%;
	    margin-left: -15px;
		.arrow{
			height: 15px;
	    width: 15px;
	    border: solid #fbf9fc;
	    border-width: 0 2px 2px 0;
	    padding: 3px;
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
		}
	}
}
	.hero img {
		max-width: 100%;
		z-index: 1;
		position: absolute;
		float: left;
		top: 0;
		left: 0;
		

	}

.heroSection {
	width: 100%;
	height: 100%;
	float: left;
	margin: 0 auto;
}


/* PRODUCT SECTIOn */

.product {
	width: 100%;
	float: left;
	position: relative;
}

.product_inner {
	width:100%;
	height: auto;
	float: left;
	overflow: hidden;
	&:nth-child(3){
		.space{
			display: none;
		}
	}
}

.product_inner img {
	width: 100%;
	vertical-align: top;
}

.text {
		position: absolute;
		z-index: 5;
		float: left;
		width: 100%; 
		height: 100%;
		text-align: center;
		display: table;

	}

	.headline {
		width: 100%;
		height: auto;
		margin: 0 auto;
		position: relative;
		vertical-align: middle;
		display: table-cell;
		.headContainer{
			display: inline-block;
			.subtitleBox {
				width: 100%;
				display: block;
				.subtitle {
					display: block;
					height: auto;
					text-align: center;
 					h4 {
						font-family: 'Oswald', sans-serif;
						text-transform: uppercase;
				    	color: $green;
						font-weight: normal;
						letter-spacing: 2px;
						font-weight: 200;
						font-size: 19px;
						margin: 0;
					}
				}
			}
		}
	}
	.headContainer:hover{
		h1{
			color: $green;
		}
	}
		.headline h1 {
			margin: 0;
			color: transparent;
			-webkit-text-stroke-width: 2px;
    		-webkit-text-stroke-color: $green;
    		letter-spacing: 7px;
    		font-size: 98px;
			font-family: 'Oswald', sans-serif ;
			font-weight: 700 !important;
			margin: 0;
			display: inline-block;
			transition: 0.5s all;
		}


	
	
	.space {
		width: 100%;
		padding-bottom: 8.33%;
		float: left;
	}

	.spaceBig {
		width: 100%;
		padding-bottom: 16.66%;
	}

	.content, .content2, .content3, .content4, .content5, .content6, .content7 {


	}

	 .content {
		width: 33.33%;
		height: auto;
		float: right;
		margin-right: 8.33%;
		position: relative;
	}
	.content2{
		h4{
			display: none;
		}
	}

		 .content img {
			max-width: 100%;
		}

		 .content .vertical_text {
		 	text-transform: uppercase;
			transform: rotate(-90deg);
			transform-origin: left top 0;
			color: $green;
			font-family: 'Oswald', sans-serif;
			font-size: 14px;
			font-weight: 500;
			position: absolute;
			bottom: -21px;
			left: -37px;
			width: 100%;
			margin: 0;
			letter-spacing: 1px;
			line-height: initial;
		}

	.content2 {
		width: 100%;
		height: auto;
		float: left;
		margin-left: 8.33%;
	}

		.content2 img {
			max-width: 100%;
			width: 16.66%;
		}

	.content3 {
		width: 33.33%;
		height: auto;
		float: right;
		margin-right: 24.99%;
		position: relative;
	}

		.content3 img {
			max-width: 100%;
		}

		.content3 .vertical_text {
			transform: rotate(-90deg);
		    transform-origin: left bottom 0;
		    float: right;
		    color: #cdffcc;
		    font-family: 'Oswald',sans-serif;
		    font-size: 14px;
		    position: absolute;
		    margin: 0;
		    left: calc(100% + 33px);
		    width: 100%;
		    bottom: 0;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    display: block;
		}

		.bigtitle {
			width: 100%;
			float: left;
			text-align: center;
		}

		.bigtitle h2 {
			color: transparent;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: $green;
			font-family: 'Oswald', sans-serif ;
			font-weight: 700 !important;
			font-size: 98px;
			line-height: 100px;
			text-transform: uppercase;
			text-align: center;
			margin:0;
			letter-spacing: 7px;
			transition: 0.5s all ;
			cursor: default;
			display: inline-block;
			&:hover{
				// -webkit-text-stroke-width: 2px;
			    // -webkit-text-stroke-color: $white;
			    color: $green;
			}
		}

	
	.content4 {
		width: 33.33333%;
		height: auto;
		float: left;
		margin-left: 16.66%;
		position: relative;
	}
		.content4 video {
			width: 100%;
			position: relative;
			z-index: 10;
			margin:0;
			padding:0;
			vertical-align: top;
			overflow: hidden;
			float: left;
		}

		.content4 img {
			max-width: 74.99999%;
			margin: 0 auto;
			position: absolute;
			z-index: 15;
			left: 12.5999%;
			top: 12.59999%;
		}

	.content5 {
		width: 50%;
		height: auto;
		float: right;
		margin-right: 8.33%
	}

		.content5 img {
			max-width: 100%;
		}

		.content5 h4 {
			// margin: 10 0 0 0;
			float: right;
			color: $green;
			font-family: 'Oswald', sans-serif;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 17px 0 0 0;
		}


	.content6 {
		width: 33.33333%;
		height: auto;
		float: left;
		margin-left: 24.99%;
		position: relative;
	}

		.content6 img {
			max-width: 100%;
		}

		.content6 h4 {
			    transform: rotate(-90deg);
			    transform-origin: left bottom 0;
			    float: right;
			    color: #cdffcc;
			    font-family: 'Oswald',sans-serif;
			    font-size: 14px;
			    position: absolute;
			    margin: 0;
			    left: calc(100% + 33px);
			    width: 100%;
			    bottom: 0;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    display: block;
		}


	.content7 {
		width: 58.3333%;
		height: auto;
		float: right;
		margin-right: 0;
	}

		.content7 img {
			max-width: 100%;
		}


		#maindiv{
			width: 100%;
		  overflow: hidden;
		  white-space: nowrap;
		  position: absolute;
		}

		#maindivMobile {
			display: none;
		}

		#div1 {
			width: 100%;
		  letter-spacing: 5;
		  display: inline-block;
		  animation: marquee 25s linear infinite;
		  font-size: 100px;
		  text-transform: uppercase;
		  font-family: 'Oswald', sans-serif ;
		 font-weight: 700;
		 font-size: 100px;
		 position: relative;
		color: transparent;
		-webkit-text-stroke-width: 2px;
    	-webkit-text-stroke-color: #F37187;
		}
		
		
		
		#div2 {
			width: 100%;
		letter-spacing: 5;
		  display: inline-block;
		  animation: marquee2 25s linear infinite;
		  animation-delay: 12.2s;
		  font-size: 100px;
		  text-transform: uppercase;
		 		 font-family: 'Oswald', sans-serif ;
		 font-weight: 700;
		 font-size: 100px;
		 position: relative;
		color: transparent;
		-webkit-text-stroke-width: 2px;
    	-webkit-text-stroke-color: #F37187;
		}


		@keyframes marquee {
		  from {
		    transform: translateX(100%);
		  }
		  to {
		    transform: translateX(-125%);
		  }
		}

		@keyframes marquee2 {
		  from {
		    transform: translateX(0%);
		  }
		  to {
		    transform: translateX(-225%);
		  }
		}



				.content8 {
					width: 33.333999%;
					background-image: linear-gradient(120deg, $green 0%, #f7d1e6 100%);
					padding-bottom: 35.111111%;
					margin-left: 8.33%;
				}



					.content8 .content-box {
						width: 100%;
						height: auto;
						float: left;
						position: absolute;
					}

					.content8 p {
						text-align: left;
						color:$blue;
						font-size: 19px;
						line-height: 26px;
						width: 100%;
						padding: 19.2% 12.5% 10% 12.5%;
						left: 0;
						position: absolute;
						margin:0;
						font-family: 'Libre Baskerville', serif;
					}

					.content8 .button {
						background: 0 0;
					    text-align: right;
					    text-decoration: none;
					    position: absolute;
					    right: 0;
					    text-transform: uppercase;
					    font-size: 14px;
					    letter-spacing: .7px !important;
					    line-height: 14px;
					    font-weight: 400;
					    border: none !important;
					    margin-top: 10px;
					}

					.form-container {
						position: absolute;
						margin-top: 78.84999%;
						margin-left: 12.5%;
						margin-bottom: 10px;
						width: 75%;
					}
						::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						  text-transform: uppercase;
							font-weight: 400;
							font-size: 14px;
							font-family: 'Oswald', sans-serif;
							color: $blue;
				
						}
						::-moz-placeholder { /* Firefox 19+ */
						  text-transform: uppercase;
							font-weight: 400;
							font-size: 14px;
							font-family: 'Oswald', sans-serif;
							color: $blue;

						}
						:-ms-input-placeholder { /* IE 10+ */
						  text-transform: uppercase;
							font-weight: 400;
							font-size: 14px;
							font-family: 'Oswald', sans-serif;
							color: $blue;

						}
						:-moz-placeholder { /* Firefox 18- */
						  text-transform: uppercase;
							font-weight: 400;
							font-size: 14px;
							font-family: 'Oswald', sans-serif;
							color: $blue;
				
						} 
						
						input[type="email"]::-webkit-input-placeholder  {
						  -webkit-transition: opacity 0.3s linear; 
						  color: $blue;
						}

						input[type="email"]:focus::-webkit-input-placeholder  {
						  opacity: 0;
						}

						.form-input {
							width: 100%;
							border: none;
							font-weight: 400 !important;
							border-bottom: 1px solid $blue !important;
							background-color: transparent;
							outline: none;
							padding-bottom: 10px !important;
							color:$blue;
							text-transform: uppercase;
							font-weight: 100;
							font-size: 14px;
							font-family: 'Oswald', sans-serif !important;
							color: $blue;
							letter-spacing: 0.7px !important;
						}


	.content9 {
		width: 41.66999%;
		height: auto;
		float: right;

		margin-right: 8.33%;
	}

		.content9 img {
			max-width: 100%;
		}

/*********************************/

	section.newsletter {
		margin-top:0;
		width: 100%;
		float: left;
		height: auto;
		background: transparent;
		// .space{
		// 	padding-bottom: 8.33%;
		// }
	}

	.newsletter .ig {
		width: 100%;
		float: left;
		height: auto;
		position: relative;
		top: 0;
	}
		.newsletter .sticky-wrapper {
			position: relative;
			top: 0;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			flex-direction: column;
			justify-content: center;
			

		}

		.newsletter .sticky-wrapper .title-wrapper {
			position: -webkit-sticky;
			position: sticky;
			transform: translate3d(0,0,0);
			top: 15vh;
		}
		
		.newsletter .sticky-wrapper .title-wrapper .title h2 {
			font-size:19px;
			line-height: 65px;
			color: #041fe2;
			text-transform: uppercase;
	  		font-family: 'Oswald', sans-serif ;
	 		font-weight: 400;
			text-align: center;
			margin:0;
		}			

		.newsletter .sticky-wrapper .title-wrapper .follow a, .newsletter .sticky-wrapper .title-wrapper .follow h2{
			font-size:60px;
			line-height: 65px;
			color: transparent;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #041fe2;
			text-transform: uppercase;
	  		font-family: 'Oswald', sans-serif ;
	 		font-weight: 700 !important;
	 		letter-spacing: 2px;
	 		transition: 0.5s all;
	 		text-decoration: none;

		}
		.newsletter .sticky-wrapper .title-wrapper .follow h2 {
			margin:0;
			transition: 0.5s all;
		}

		.newsletter .sticky-wrapper .title-wrapper .follow h2:hover {
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #041fe2;
			color:#041fe2;
		}

		.newsletter .ig .sticky-wrapper .image-row {
			width: 100%;
			float: left;
			
			&  .one {
				width: 41.666999%;
				float:right;
				margin-right: 8.333999%;
			}

			& .two {
				width: 41.666999%;
				float:right;
				margin-right: 8.333999%;
			}

			& .three {
				width: 41.666999%;
				float:right;
				margin-right: 8.333999%;
			}

			& img {
				width: 100%;
			}
		}


/*********************************/


	section.instagram {
		width: 100%;
		float: left;
		height: auto;
		background: transparent;
		padding: 0;
		.spaceBottom{
			height: auto;
			width: 100%;
			float: left;
		}
		.space.half{
			padding: 0;
			height: calc(50vh - 74px);
		}
	}

	.instagram .ig {
		width: 100%;
		float: left;
		height: auto;
		position: relative;
		top: 0;
	}
	.instagram .sticky-wrapper {
		position: relative;
		top: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.instagram .sticky-wrapper .title-wrapper {
		position: -webkit-sticky;
		position: sticky;
		transform: translate3d(0,0,0);
		top: calc(50% - 20px);
		padding: 0;
		.title{
			position: absolute;
    		bottom: 3px;
    		right: 5px;
		}
	}
		
	.instagram .sticky-wrapper .title-wrapper .title h2 {
		font-size:19px;
		color: #041fe2;
		text-transform: uppercase;
  		font-family: 'Oswald', sans-serif ;
 		font-weight: 400;
		text-align: center;
		margin:0;
		letter-spacing: 2px;
	}			

	.instagram .sticky-wrapper .title-wrapper .follow h2, .instagram .sticky-wrapper .title-wrapper .follow a {
		font-size:98px;
		line-height: 105px;
		color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #041fe2;
		text-transform: uppercase;
  	font-family: 'Oswald', sans-serif ;
 		font-weight: 700 !important;
 		letter-spacing: 7px;
 		transition: 0.5s all ease-in-out;

	}
	.instagram .sticky-wrapper .title-wrapper .follow h2 {
		margin:0;
		transition: 0.5s all;
		margin-bottom: 25px;
	}

	.instagram .sticky-wrapper .title-wrapper .follow h2:hover {
		// -webkit-text-stroke-width: 2px;
		// -webkit-text-stroke-color: #041fe2;
		// color:#041fe2;
		// transition: 1s all ease-in-out;
		a{
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #041fe2;
			color:#041fe2;
		}
	}

		.instagram .ig .sticky-wrapper .image-row {
			width: 100%;
			float: left;
			padding-top: 0 !important;
			margin-bottom: 0 !important;
			
			&  .one {
				width: 33%;
				margin-left: 8.33399%;
			}

			& .two {
				width: 33%;
				float:right;
				margin-right: 8.333999%;
			}

			& img {
				width: 100%;
			}
		}

}

/* BIGGER THAN 1200px */

@media only screen and (min-width: 1201px ) {
	.page-layout-1column-prismic-new main{
		.hero img {
			max-width: 1200px;
			width: 100%;
			z-index: 1;
			position: relative;
			float: left;
			top: 0;
			left: 0;
			

		}

		.text {

		}

			.headline {
				margin-top:0;
			}

		.navi {

		}
	}

}

/* TABLET MIN 667px and MAX 999px */
// @media only screen and (min-width: 670px ) and (max-width: 999px) {
@media only screen and (min-width: 768px ) and (max-width: 999px) {

	.page-layout-1column-prismic-new main{
		.instagram .ig .sticky-wrapper .image-row {
			width: 100%;
			float: left;
			
			&  .one, .two {
				width: 45%;
				margin:0 8.33399%;
			}
		}

		.form-container {

			margin-top: 73.84999%;
		}
		/* MARQUEE TEXT */
		.content7 {
			width:90%;
		}
		
			div #maindiv {

				display: none;
			}

			div #maindivMobile {
				position: relative;
				padding-bottom: 21.333999%;
				display: inline-block;
				white-space: nowrap;
			}

		#div1_mobile {
				font-size: 100px;
				line-height: 65px;
				letter-spacing: 1px;
				animation: marquee 10s linear infinite;

				width: 100%;

			 	display: inline-block;
			  	text-transform: uppercase;
			  	font-family: 'Oswald', sans-serif ;
			 	font-weight: 700;
			 	position: relative;
				color: transparent;
				-webkit-text-stroke-width: 2px;
	    		-webkit-text-stroke-color: #F37187;
			}

			#div2_mobile {
				font-size: 100px;
				line-height: 65px;
				letter-spacing: 1px;
				animation: marquee2 10s linear infinite;
			  	animation-delay: 5s;

			  	width: 100%;
				
			  	display: inline-block;
			  	text-transform: uppercase;
			 	font-family: 'Oswald', sans-serif ;
			 	font-weight: 700;

			 	position: relative;
				color: transparent;
				-webkit-text-stroke-width: 2px;
	    		-webkit-text-stroke-color: #F37187;
			}
		
		@keyframes marquee {
			  from {
			    transform: translateX(100%);
			  }
			  to {
			    transform: translateX(-100%);
			  }
			}

		@keyframes marquee2 {
			  from {
			    transform: translateX(0%);
			  }
			  to {
			    transform: translateX(-200%);
			  }
			}

			.newsletter .sticky-wrapper .title-wrapper {
				top: 30vh;
			}
		}

}

@media only screen and (max-width: 768px ) {
	.page-layout-1column-prismic-new main .content8 .button{
		bottom: -60px;
	}
	.page-layout-1column-prismic-new main .space{
		padding-bottom: 20%;
	}
	.page-layout-1column-prismic-new main .content8{
		padding-bottom: 41%;
	}
	.page-layout-1column-prismic-new main .newsletter .sticky-wrapper .title-wrapper{
		width: 39%;
    	margin-left: 50px;
	}
	.page-layout-1column-prismic-new main .newsletter .ig .sticky-wrapper .image-row .image-container{
		width: 41%;
		margin-right: 50px;
	}
	.page-layout-1column-prismic-new main .product_inner:nth-child(3) .space{
		display: block;
	}
	.page-layout-1column-prismic-new main section.newsletter .image-row .space{
		padding-bottom: 50px;
	}
	.page-layout-1column-prismic-new main .content5 img{
		// width: calc(100% + 60px);
		// position: relative;
		// left: -30px;
		// max-width: none;
	}
	body.page-layout-1column-prismic-new.changeColor header .instagramLink, body.page-layout-1column-prismic-new.changeColor header .storeSelecter{
		color: #fff;
		&:hover{
			border-color: transparent;
		}
		a{
			color: #fff;
		}
	}

	.page-layout-1column-prismic-new main{
		.content{
			width: 52%;
			margin-right: 50px;
		}
		.content2{
			margin-left: 50px;
			img{
				width: 26%;
			}
		}
		.content3{
			width: 52%;
			margin-right: 100px;
		}
		.content4, .content6{
			width: 52%;
			margin-left: 50px;
		}
		.content5{
			width: 78%;
			margin-right: 50px;
		}
		.bigtitle h2{
			font-size: 75px;
			line-height: 100px;
		}
	}

}
// @media only screen and (max-width: 667px ) {
@media only screen and (max-width: 767px ) {
	.page-layout-1column-prismic-new main section.newsletter .space {
    	padding-bottom: calc(8.33%*7);
	}
	.page-layout-1column-prismic-new main .headline .headContainer .subtitleBox .subtitle h4{
		font-size: 10px;
		font-weight: 500 !important;
		padding-right: 4px;
		letter-spacing: 2px;
	}
	.page-layout-1column-prismic-new main .content8 .button{
		bottom: -35px;
	}
	.page-layout-1column-prismic-new main .newsletter .sticky-wrapper .title-wrapper{
		width: 100%;
		margin-left: 0;
	}
	.page-layout-1column-prismic-new main section.newsletter .image-row{
		display: none;
	}
	.page-layout-1column-prismic-new main .product_inner{
		// overflow: initial;
	}
	.page-layout-1column-prismic-new main .product_inner:nth-child(3) .space{
		display: block;
	}
	.page-layout-1column-prismic-new main .content8{
		padding-bottom: 102%;
	}
	.page-layout-1column-prismic-new main{
		.content .vertical_text, .content3 .vertical_text, .content6 .vertical_text, .content5 .vertical_text, .content4 .vertical_text,{
			left: 0;
    		transform: none;
    		position: relative;
    		bottom: 0;
    		padding: 0;
    		margin: 0;
    		float: left;
    		margin-top: 10px;
		}
		.content, .content2, .content3, .content4, .content5, .content6{
			img{
				margin: 0;
			}
		}
	}
	.page-layout-1column-prismic-new main .instagram .sticky-wrapper .title-wrapper .title{
		bottom: -3px;
	}
	body.page-layout-1column-prismic-new main{
    	margin-bottom: 560px;
    }
	body.page-layout-1column-prismic-new {
	    .page-wrapper #maincontent .columns .column.main {
	    	padding: 0 8%;
		}
	}
	body.page-layout-1column-prismic-new {
		width: 100%;
		position: relative;
	}
	// .page-layout-1column-prismic-new main .content8{
	// 	padding-bottom: 0;
	// }
	// .page-layout-1column-prismic-new main .content8 .button{
	// 	position: relative;
 //    	text-align: right;
 //    	width: 100%;
 //    	bottom: 0;
	// }
	
	// .page-layout-1column-prismic-new main .form-container{
	// 	position: relative;
	//     width: 100%;
	//     padding: 0 12.5% 19.2% 12.5%;
	//     bottom: 0;
	//     margin: 0 !important;
	//     height: auto;
	// }
	// .page-layout-1column-prismic-new main .content8 .content-box{
	// 	position: initial;
	// }
	// .page-layout-1column-prismic-new main .content8 p{
	// 	position: relative;
	// }
	.page-layout-1column-prismic-new main{
		section.backgroundImage, section.background {
			left:0;
		}

		section.heroSection {
			position: relative;
			margin: 0 auto;
		}

	/* BIG HEADLINE AND SUBTITLE */
	.headline h1{
		font-size: 48px;
    letter-spacing: 4px;
    -webkit-text-stroke-width: 1px;
	}



	/* NAVIGATION */
	.navi {
		padding: 33 0 35 0;
	}

		.navi li:nth-last-child(1) {
			padding-right: 0;
		}

	.toggleMenu {
		position: absolute;
		padding: 30px 30px 30px 0;
	}

	/* PRODUCT SECTION */

	.product {
		top: 10%;
	}
	
	/* SPACE between images */
	.space {
		// padding-bottom: 21.33399%;
		padding-bottom: 37%;
	}

	.spaceBig {
		padding-bottom: 70%;
	}

	.content, .content3, .content4, .content5, .content6, .content9, .content8 {
		width: 100%;
		margin:0;

	}

		/* Vertical text align */
	main .content .vertical_text {
		position: relative;
		transform: none;
		font-size: 16px;
		bottom: 0;
		left: 0;
		padding: 15px 0 ;
	}
	

	.content2 {
		margin-left: 0;
		
		& img {
			width: 100%;
			margin:0;
		}
	}

	/* Vertical text align */
	// .content3 .vertical_text {
	// 	padding: 15px 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	transform: none;
	// 	position: relative;
	// }
	
	.content6 h4 {
		transform: none;
		position: relative;
		right: 0;
		bottom: 0;
		margin: 15px 0;
	}
	
	/* MARQUEE TEXT */
	.content7 {
		width:90%;
	}
	
		div #maindiv {

			display: none;
		}

		div #maindivMobile {
			position: relative;
			padding-bottom: 21.333999%;
			display: inline-block;
			white-space: nowrap;
		}

		#div1_mobile {
			font-size: 60px;
			line-height: 65px;
			letter-spacing: 1px;
			animation: marquee 10s linear infinite;

			width: 100%;

		 	display: inline-block;
		  	text-transform: uppercase;
		  	font-family: 'Oswald', sans-serif ;
		 	font-weight: 700;
		 	position: relative;
			color: transparent;
			-webkit-text-stroke-width: 2px;
    		-webkit-text-stroke-color: #F37187;
		}

		#div2_mobile {
			font-size: 60px;
			line-height: 65px;
			letter-spacing: 1;
			animation: marquee2 10s linear infinite;
		  	animation-delay: 4.9s;

		  	width: 100%;
			
		  	display: inline-block;
		  	text-transform: uppercase;
		 	font-family: 'Oswald', sans-serif ;
		 	font-weight: 700;

		 	position: relative;
			color: transparent;
			-webkit-text-stroke-width: 2px;
    		-webkit-text-stroke-color: #F37187;
		}

		.hid {
			width: 120%;
			margin-left: -10%;
		}

		.full {
			width: 120%;
			margin-left:-10%;
		}


			@keyframes marquee {
			  from {
			    transform: translateX(100%);
			  }
			  to {
			    transform: translateX(-200%);
			  }
			}

			@keyframes marquee2 {
			  from {
			    transform: translateX(0%);
			  }
			  to {
			    transform: translateX(-300%);
			  }
			}

	.content8 {
		margin-bottom: 26.666999%;
		padding-bottom:100%;

	}

	.bigtitle{overflow: hidden;}
	.bigtitle h2 {
		font-size: 48px;
		letter-spacing: 4px;
		line-height: 65px;
		-webkit-text-stroke-width: 1px;
		font-weight: 500 !important;
	}


	section.instagram {
		width: 100%;
		float: left;
		height: auto;
	}

	.instagram .ig {
		width: 100%;
		float: left;
		height: auto;
		position: relative;
		top: 0;
	}
		.instagram .sticky-wrapper {
			position: relative;
			top: 0;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

		}

		.instagram .sticky-wrapper .title-wrapper {
			position: -webkit-sticky;
			position: sticky;
			transform: translate3d(0,0,0);
			top: calc(50% - 20px);
		}
		
			.instagram .sticky-wrapper .title-wrapper .title h2 {
  			color: #041fe2;
  			text-transform: uppercase;
	  		font-family: 'Oswald', sans-serif ;
		 		font-weight: 400;
				text-align: center;
				margin:0;
				letter-spacing: 2px;
				font-size: 10px;
			}			

			.instagram .sticky-wrapper .title-wrapper .follow h2, .instagram .sticky-wrapper .title-wrapper .follow a {
				font-size:48px;
				line-height: initial;
				color: transparent;
				-webkit-text-stroke-width: 1px;
    			-webkit-text-stroke-color: #041fe2;
    			text-transform: uppercase;
		  		font-family: 'Oswald', sans-serif ;
		 		font-weight: 700;
		 		letter-spacing: 4px;

			}
				.instagram .sticky-wrapper .title-wrapper .follow h2 {
					margin:0;
					transition: 0.5s all;
				}

				.instagram .sticky-wrapper .title-wrapper .follow h2:hover {
					-webkit-text-stroke-width: 2px;
	    			-webkit-text-stroke-color: #041fe2;
	    			color:#041fe2;
	    			
				}


		.instagram .ig .sticky-wrapper .image-row {
			width: 100%;
			float: left;
			
			&  .one, .two {
				width: 100%;
				margin:0;
			}

			& img {
				width: 100%;
			}
		}



		// .newsletter .sticky-wrapper .title-wrapper {
		// 	position: relative;
		// 	padding-bottom: 0;
		// 	top: 0;
		// }

		
		.newsletter .ig .sticky-wrapper .image-row {
			width: 100%;
			float: left;
			
			&  .one, .two, .three {
				width: 100%;
				margin:0;
			}

			& img {
				width: 100%;
			}
		}

	}

}

@keyframes flying-arrow {
	0% {-webkit-transform: translateY(0);transform: translateY(0);}
	65% {-webkit-transform: translateY(11px);transform: translateY(11px);}
	100% {-webkit-transform: translateY(0);transform: translateY(0);}
}





