
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700|Roboto:300,400,500&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Oswald', sans-serif;


$beige: #FCF8ED;
$darkbeige: #EDE6D3;
$blue: #041FE2;
$pink: #F371B7;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;


.checkout-onepage-success{
  background: #eaeaea;
  #registration{
    display: none;
  }
  #maincontent{
    // padding-top: 120px;
    // padding: ;
    .action.primary.continue{
      border: solid 2px $blue;
      border-radius: 0;
      background: white;
      color: $blue;
      text-transform: uppercase;
      font-family: $oswald;
      letter-spacing: 1px;
      font-weight: 400;
      padding: 10px 40px;
      margin: 0 !important;
      float: right;
      display: block;
      position: fixed;
      width: 400px;
      bottom: 50px;
      right: 50px;
      &:hover{
        border: solid 2px $blue;
        border-radius: 0;
        background: white;
        color: $blue;
        text-transform: uppercase;
        font-family: $oswald;
        letter-spacing: 1px;
        font-weight: 400;
        padding: 10px 40px;
        margin: 0;
        float: right;
        display: block;
      }
    }
    .checkout-success{
      padding: 0;
      margin: 0;
      padding-top: 120px;
      padding-bottom: 70px;
      width: calc(100% - 500px);
      color: #000001;
      .account, .success-messages{
        margin: auto;
        width: 500px;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        border: none !important;
        background-color: transparent !important;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400 !important;
        strong{
          font-weight: 400 !important;
        }
      }
      .account{
        font-family: $oswald;
        font-size: 14px;
        .box-title, .order-title{
          font-weight: 400;
          text-transform: uppercase;
          span{
            font-weight: 400;
            font-size: 16px;
          }
        }
        .order-title{
          border-bottom: solid 1px #c6c6c6;
          margin-bottom: 20px;
        }
      }
      .success-messages{
        border-bottom: solid 1px #c6c6c6 !important;
        margin-bottom: 25px;
        text-transform: uppercase;
      }
      .order-details-items{
        position: fixed;
        top: 0;
        right: 0;
        width: 500px;
        background: white;
        padding: 30px 40px;
        padding-top: 120px;
        height: 100%;
        table{
          display: block;
          thead{
            display: none;
          }
          .col.price, .col.sku{
            display: none !important;
          }
          tbody, tbody tr{
            display: block;
            width: 100%;
            float: left;
          }
          tfoot{
            display: block;
            width: 100%;
            float: left;
            tr{
              width: 100%;
              float: left;
              display: block;
              th{
                width: 75%;
                display: block;
                float: left;
                padding-right: 0;
                padding-left: 0;
              }    
              td{
                width: 25%;
                display: block;
                float: left;
                padding-right: 0;
                padding-left: 0;
              }
            }
          }
          tbody tr td{
            text-align: left;
            width: 25%;
            float: left;
            display: block !important;
            padding: 0;
            .cart-price{
              font-weight: 400 !important;
              font-size: 14px !important;
              span{
                font-weight: 400 !important;
                font-size: 14px !important;
              }
            }
            &.subtotal{
              text-align: right;
            }
            dl{
              margin: 0;
            }
            &:nth-child(1){
              width: 50%;
              .product.name, .item-options{
                width: 50%;
                display: block;
                float: left;
                dt, dd{
                  float: left;
                  display: inline-block;
                  font-weight: 400;
                }
                dt:after{
                  content: ':';
                }
                dd{
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement div.mage-error{
  float: left !important;
  width: 100% !important;
}
.checkout-index-index{
  background: #eaeaea;
  .opc-estimated-wrapper{
    display: none;
  }
  #maincontent{
    .authentication-wrapper{
      display: none;
    }
    #checkout{
      padding: 0;
      margin: 0;
      padding-top: 68px;
      padding-bottom: 70px;
      width: calc(100% - 500px);
      color: #000001;
      .field-tooltip, .note{
        display: none;
      }
      .data.table.table-totals{
        position: absolute;
        left: 40px;
        right: 40px;
        width: calc(100% - 80px);
        bottom: 345px;
        .totals-tax{
          th{
            padding-bottom: 15px;
          }
        }
        th, td{
          padding: 0px;
          padding-bottom: 5px;
        }
        .grand.totals{
          margin-top: 5px;
          border-top: solid 1px black;
          th{
            padding-top: 10px !important;
          }
          .amount{
            padding-top: 10px;
          }
        }
      }
      .checkout-block{
        display: flex;
        flex-flow: column;
        .amcheckout-summary-container{
          order: 1;
          background: transparent;
          margin: 0;
          padding: 0;
          .amcheckout-content{
            margin: 0;
          }
          .step-title{
            font-size: 15px;
            padding: 0;
            text-transform: uppercase;
            border-bottom: solid 1px black;
            padding-bottom: 10px;
          }
          .items-in-cart{
            margin: 0;
            .minicart-items-wrapper{
              padding: 0;
              // overflow: hidden;
              overflow: scroll;
              .minicart-items .product-item:not(:first-child){
                border: none;
              }
              .minicart-items{
                // overflow: scroll;
                // width: 1500px;
                width: 100%;
                overflow: hidden;
                height: 90px;
                overflow: scroll;
              }
              .product-item{
                width: 310px;
                float: left;
                margin-right: 25px;
                // background: #eaeaea;
                padding: 0;
                margin: 0;
                width: 100%;
                position: relative;
                .product-item-details{
                  width: 50%;
                  float: right;
                  padding:0;
                  margin: 0;
                  width: 100%;
                  float: left;
                  .product.options{
                    position: absolute;
                    top: 5px;
                    left: 220px;
                    .toggle{
                      display: none;
                    }
                    .content{
                      display: block !important;
                      .item-options{
                        display: block;
                        margin: 0;
                        .label, .values{
                          font-weight: initial;
                          margin-bottom: 0;
                        }
                      }
                    }
                  }
                  .product-item-inner{
                    margin: 0;
                    .subtotal{
                      display: block;
                      position: absolute;
                      top: 5px;
                      right: 0;
                      .price-including-tax{
                        margin: 0;
                      }
                      .price{
                        font-size: 1.4rem;
                      }
                    }
                    .product-item-name-block{
                      padding: 5px 0;
                      .product-item-name{
                        margin-bottom: 0;
                      }
                      .details-qty{
                        margin: 0;
                        position: absolute;
                        top: 5px;
                        left: 140px;
                      }
                    }
                  }
                }
                .product-image-container{
                  margin: 0;
                  height: auto !important;
                  width: 50% !important;
                  display: none;
                  img{
                    max-width: 115px;
                    display: block;
                    margin: auto;
                  }
                }
              }
            }
            .title{
              display: none;
            }
            .minicart-items{
              display: block !important;
            }
          }
        }
        .amcheckout-additional-options{
          order: 3;
          position: absolute;
          bottom: 220px;
          width: calc(100% - 80px);
          left: 40px;
          box-sizing: border-box;
          margin: 0;
        }
        .checkout-payment-method{
          order: 2;
          .payment-option-title{
            display: none;
          }
          .discount-code{
            margin-top: 20px;
            position: absolute;
            width: calc(100% - 80px);
            left: 40px;
            right: 40px;
            bottom: 275px;
            .action-toggle{
              display: none;
            }
            .payment-option-content{
              display: block !important;
              padding: 0;
              .actions-toolbar{
                width: 50%;
                padding: 0 0 0 3px;
                margin: 0;
                float: left;
                margin-top: 16.36px;
                .primary{
                  width: 100%;
                }
                button{
                  font-weight: normal;
                  width: 100%;
                  height: 45px;
                  border-radius: 0;
                  padding-left: 20px !important;
                  font-size: 15px;
                  letter-spacing: 1px !important;
                  border: none !important;
                  margin-top: 13px;
                  padding-right: 35px !important;
                  background: #eaeaea;
                  background-color: #eaeaea !important;
                  color: #000001 !important;
                  font-family: "Oswald",sans-serif;
                }
              }
              .payment-option-inner{
                width: 50%;
                padding: 0 3px 0 0;
                margin: 0;
                float: left;
                label{
                  height: auto !important;
                  display: block;
                  float: left;
                  position: relative;
                }
                .field{
                  padding: 0;
                  margin: 0;
                }
              }
              input{
                background: #eaeaea !important;
                height: 30px;
                font-size: 12px;
              }
              button{
                height: 30px !important;
                font-size: 12px !important; 
              }
            }
          }
        }
      }
      label, legend.label{
        width: 100%;
        text-align: left;
        font-size: 12px;
        color: #000001;
        font-weight: normal;
        display: block;
        padding: 0 3px;
        &:after{
          color: #000001;
        }
      }
      input[type$="text"], input[type$="email"], input[type$="tel"]{
        font-weight: normal;
        width: 100%;
        height: 45px;
        border-radius: 0;
        padding-left: 20px !important;
        font-size: 15px;
        letter-spacing: 1px !important;
        border: none !important;
        margin-top: 15px;
        padding-right: 35px !important;
        background: white;
        background-color: white !important;
        color: #000001 !important;
        &:focus{
          box-shadow: 0px 0px 5px #000000 !important;
          border: 1px solid #000000 !important;
        }
        // &[aria-invalid$="false"]{
        //   &[aria-describedby]{
        //     border: 1px solid #d87474 !important;
        //   }
        // }
      }
      .field._error .control input{
        border: 2px solid #d87474 !important;
      }
      .field-error{
        display: none;
      }
      .fieldset{
        margin: 0;
      }
      .field{
        width: 100%;
        padding: 0 3px;
        margin: 0;
        display: inline-table;
        margin-bottom: 16px;
        .field{
          margin-bottom: 0;
          padding: 0;
        }
        .control{
          width: 100%;
        }
        &[name$=".firstname"], &[name$=".lastname"], &[name$=".country_id"], &[name$=".region"], &[name$=".postcode"], &[name$=".telephone"], &[name$=".city"]{ 
          width: 50%;
          padding: 0 3px;
        }
        &[name$="shippingAddress.street.1"], &[name$="billingAddressbambora_epay.street.1"]{
          display: none;
        }
      }
      select{
        font-weight: normal;
        font-family: "Oswald",sans-serif !important;
        width: 100%;
        height: 45px;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        letter-spacing: 1px;
        border: none;
        margin-top: 15px;
        color: #000001;
        background-color: white;
        -webkit-appearance: none !important;
      }
      .checkout-header{
        img{
          width: 250px;
          margin: auto;
          display: block;
        }
        .title{
          display: none;
        }
        .description{
          font-size: 14px;
          text-transform: uppercase;
          width: 100%;
          border-bottom: 1px solid black;
          padding-bottom: 16px;
          margin-bottom: 32px;
          margin-top: 60px;
        }
      }
      .checkout-column:nth-child(1), .checkout-header{
        margin: auto;
        width: 500px;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        border: none !important;
        background-color: transparent !important;
      }
      .checkout-column:nth-child(2){
        position: fixed;
        top: 0;
        right: 0;
        width: 500px;
        background: white;
        padding: 50px;
        padding: 30px 40px;
        height: 100%;
      }
      .checkout-block{
        margin: 0;
        padding: 0;
        box-shadow: none;
        background: transparent;
      }
      .payment-methods{
        .amcheckout-title, .payment-method-title, .payment-method-note, iframe{
          display: none;
        }
        .payment-method-content{
          padding: 0;

        }
      }
      .form-shipping-address{
        margin: 0;
      }
      button.checkout.amasty{
        position: absolute;
        left: 40px;
        right: 40px;
        width: 420px;
        bottom: 145px;
        background-color: #88daa4 !important;
        background-image: none !important;
        border: none !important;
        box-shadow: none !important;
        border-radius: 0;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 60px;
        padding: 0;
        letter-spacing: 1px;
        color: white;
        font-weight: 600;
      }
      .checkout-agreement.field{
        &:before{
          display: none;
        }
      }
      .amcheckout-additional-options{
        .admin__field{
          input{
            float: left;
          }
          label{
            float: left;
            width: auto;
          }
        }
      }
      .checkout-agreements.fieldset{
        // position: fixed;
        // right: 50px;
        // width: 400px;
        // bottom: 255px;
        // z-index: 1;
        .field{
          padding: 0;
          margin: 0;
          input{
            float: left;
          }
          button:hover{
            text-decoration: underline;
          }
          label{
            float: left;
            display: inline-block;
            width: auto;
            color: black;
            button{
              font-size: 12px;
              font-family: $oswald;
            }
            *{
              color: black;
            }

            &:after{
              display: none;
            }
          }
        }
      }
      .paymentCards{
        float: left;
        margin-top: 20px;
        position: absolute;
        bottom: 35px;
        left: 50px;
        right: 50px;
        width: 400px;
        .epay{
          .img{
            width: 80px;
            height: 50px;
            background: url('../images/epaysecure-payments.png') no-repeat;
            background-size: 100% auto;
            background-position-y: 14px;
            float: left;
          }
          .epayinfo{
            float: left;
            clear: right;
            border-left: 1px solid black;
            height: 44px;
            overflow: hidden;
            padding-left: 8px;
            margin-left: 8px;
            padding-top: 3px;
            p{
              font-size: 12px;
              letter-spacing: 1px;
              margin: 0;
              padding: 2px;
            }
          }
          p{

          }
        }
        .cardlist{
          width: 100%;
          float: left;
          background: url('../images/cards.png') no-repeat;
          background-size: 100% auto;
          height: 46px;
        }
      }
    }
  }

}
@media all and (max-width: 1150px), (max-height:650px){
  .checkout-index-index #maincontent #checkout .checkout-block .amcheckout-summary-container .items-in-cart .minicart-items-wrapper .minicart-items{
    height: auto;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .checkout-payment-method .discount-code .payment-option-content input{
    background: white !important;
    height: 45px;
    font-size: 15px;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .checkout-payment-method .discount-code .payment-option-content .actions-toolbar button{
    background: white !important;
    height: 45px !important;
    font-size: 15px !important;
    margin-top: 14px;
  }
  .checkout-index-index #maincontent #checkout .checkout-header{
    width: 100%;
    margin: auto;
    padding: 0 3px;
  }
  .checkout-onepage-success{
    #maincontent{
      .checkout-success{
          width: 100%;
          margin: auto;
          max-width: 540px;
          padding-left: 25px;
          padding-right: 25px;
        .account, .success-messages, .order-details-items{
          width: 100%;
          height: auto;
          display: block;
          float: left;
          overflow: hidden;
          position: relative;
          background: transparent;
          padding: 0;
        }
        .order-details-items{

        }
        .primary{
          width: 100%;
        }
        .action.primary.continue{
          position: relative;
          bottom: initial;
          right: initial;
          width: 100%;
          margin-top: 35px !important;
        }
      }
    }
  }
  .checkout-onepage-success #maincontent .checkout-success .order-details-items table tbody tr td:before{
    display: none;
  }
  .checkout-index-index{
    #maincontent{
      #checkout{
        width: 100%;
        margin: auto;
        max-width: 540px;
        padding-left: 25px;
        padding-right: 25px;
        .form.form-discount{
          margin-bottom: 15px;
          overflow: hidden;
        }
        .am-submit-summary.opc-wrapper{
          display: block;
          .checkout-column{
            width: 100%;
            height: auto;
            display: block;
            float: left;
            overflow: hidden;
            position: relative;
            margin: 0;
            padding: 0;
            &:nth-child(2){
              background: transparent;
              padding-bottom: 230px;
            }
          }
        }
      }
    }
  }
  .checkout-index-index #maincontent #checkout .checkout-block .amcheckout-additional-options{
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .checkout-payment-method .discount-code{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .checkout-index-index #maincontent #checkout .data.table.table-totals{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .checkout-payment-method .discount-code .payment-option-content input, .checkout-index-index #maincontent #checkout .checkout-block .checkout-payment-method .discount-code .payment-option-content .actions-toolbar button{
    background: white;
  }
  .checkout-index-index #maincontent #checkout button.checkout.amasty{
    left: 0;
    right: 0;
    width: 100%;
  }
  .checkout-index-index #maincontent #checkout label{
    padding: 0; 
  }
  .opc-wrapper .step-title{
    padding: 0 3px 10px 3px;
  }
}
@media all and (max-width: 1199px){
 
}

@media all and (max-width: 1000px){
  
}

@media all and (max-width: 999px){

}

@media all and (max-width: 768px){
 
}
@media all and (max-width: 767px){
  .checkout-payment-method .payment-methods, .checkout-payment-method .payment-option{
    margin: 0;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .amcheckout-summary-container{
    margin-top: 25px;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .checkout-payment-method .discount-code .payment-option-content input{
    padding: 7px 20px !important;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .checkout-payment-method .discount-code .payment-option-content .actions-toolbar button{
    padding: 7px 0 !important;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .amcheckout-summary-container .items-in-cart .minicart-items-wrapper .product-item{
    height: 48px;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .amcheckout-summary-container .items-in-cart .minicart-items-wrapper .product-item .product-item-details .product-item-inner .product-item-name-block .details-qty{
    left: 0;
    top: 25px;
    font-size: 11px;
  }
  .checkout-index-index #maincontent #checkout .checkout-block .amcheckout-summary-container .items-in-cart .minicart-items-wrapper .product-item .product-item-details .product.options{
    top: 25px;
    left: 50px;
    font-size: 11px;
  }
  .checkout-index-index #maincontent #checkout .paymentCards{
    width: 270px;
    left: 50%;
    margin-left: -135px;
    right: inital;
    bottom: 0;
  }
  .checkout-index-index #maincontent #checkout .am-submit-summary.opc-wrapper .checkout-column:nth-child(2){
    padding-bottom: 200px;
  }
  .checkout-index-index #maincontent #checkout button.checkout.amasty{
    bottom: 110px;
  }
  .checkout-index-index #maincontent #checkout .paymentCards .epay .epayinfo{
    width: calc(100% - 73px);
  }
  .checkout-index-index #maincontent #checkout .paymentCards .epay .img{
    width: 65px;
    height: 45px;
  }
  .checkout-index-index #maincontent #checkout .paymentCards .epay .epayinfo p{
    font-size: 8px;
  }
  .checkout-index-index #maincontent #checkout .paymentCards .cardlist{
    height: 32px;
    width: 270px;
    margin-top: 15px;
  }
}

@media all and (max-width: 550px){
  .checkout-index-index #maincontent #checkout{
  }

}