$beige: #FCF8ED;
$darkbeige: #EDE6D3;
$blue: #041FE2;
$pink: #F371B7;


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


.lazy{
  opacity: 0;
  @include transition(opacity 800ms);
  &.loaded{
    opacity: 1;
  }
}
picture{
  height: auto;
  display: block;
}
.full-width-image-sticky{
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
  .title-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    h1{
      color: rgb(252, 248, 237);
      text-transform: uppercase;
      font-size: 95px;
      font-weight: 500 !important;
      margin-bottom: 30px;
      letter-spacing: 4px;
    }
    a{
      text-decoration: none !important;
    }
    h2{
      color: rgb(252, 248, 237);
      text-transform: uppercase;
      text-decoration: none !important;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 1px;
      margin: 0;
    }
    .title{
      margin: 0 auto;
    }
    .subtitle{
      margin: 0 auto;
    }
  }
  .imageContainer{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.image-gallery-5{
  background-color: rgb(252, 248, 237);
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 80px 120px;
  height: auto;
  overflow: hidden;
  .image-row{
    position: relative;
    clear: both;
    height: auto;
    overflow: hidden;
    .image-container {
      position: relative;
      img{
        width: 100%;
      }
      &.one{
        width: 48%;
        float: right;
      }
      &.two{
        width: 52%;
        float: left;
        margin-top: 100px;
      }
      &.three{
        width: 24%;
        float: left;
        margin-left: calc(52% + 100px);
        position: absolute;
        bottom: 0;
      }    
      &.four{
        width: 48%;
        float: right;
        margin-top: 100px;
      }
      &.five{
        width: 80%;
        float: left;
        margin-top: 100px;
      }
    } 
    .image-text-top, .image-text-bottom{
      width: 100%;
      position: absolute;
      right: 0;
      z-index: 1;
      height: 50%;
      text-align: center;
      top: 0;
      &.full{
        height: 100%;
      }
      &:hover, &.active{
        h2{
          display: block;
        }  
        text-decoration: none;
      }
      &.active{
        h2{
          top: 50%;
          margin-top: -9px;
        }
      }
      h2{
        display: none;
        color: rgb(252, 248, 237);
        text-transform: uppercase;
        text-decoration: none !important;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        color: white;
        margin: 0;
        padding: 0;
        position: relative;
      }
    }
    .image-text-bottom{
      top: 50%;
    }
  }
}
.image-gallery-video{
  background: white;
  display: block;
  z-index: 1;
  position: relative; 
  video{
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  canvas{
    display: none;
  }
  .image-column{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    z-index: 1;
    .image-container{
      display: table-cell;
      vertical-align: middle;
      .image-container-inner{
        width: 30%;
        margin: auto;
        position: relative;
      }
      .image-text-top, .image-text-bottom{
        width: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
        height: 50%;
        text-align: center;
        top: 0;
        &.full{
          height: 100%;
        }
        &:hover, &.active{
          h2{
            display: block;
          }  
          text-decoration: none;
        }
        &.active{
          h2{
            top: 50%;
            margin-top: -9px;
          }
        }
        h2{
          display: none;
          color: rgb(252, 248, 237);
          text-transform: uppercase;
          text-decoration: none !important;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 1px;
          color: white;
          margin: 0;
          padding: 0;
          position: relative;
        }
      }
      .image-text-bottom{
        top: 50%;
      }
      picture{
        width: 100%;
        margin: auto;
        img{
          width: 100%;
        }
      }
    }
  }
}
.instagram{
  background: $beige;
  position: relative;
  width: 100%;
  z-index: 2;
  padding: 80px 120px;
  height: auto;
  overflow: hidden;
  .title-wrapper{
    padding-top: 220px;
    .title{
      h2{
        font-size: 16px;
        text-transform: uppercase;
        color: $blue;
        font-weight: 500;
        margin: 0;
        text-align: center;
      }
    }
  }
  .instagram-logo-wrapper{
    text-align: center;
    padding-bottom: 300px;
    display: block;
    img{
      height: 100px;
      width: auto;
      margin: auto;
    }
  }
  .image-row{
    width: 100%;
    float: left;
    margin-bottom: 100px;
    .image-container{
      width: 60%;
      float: left;
      &.two{
        float: right;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 767px){
  .full-width-image-sticky .title-wrapper .title{
    order: 1;
  }
  .full-width-image-sticky .title-wrapper h1{
    font-size: 40px;
  }
  .full-width-image-sticky .title-wrapper h2{
    font-size: 16px;
    margin-bottom: 10px;
  }
}