

// font-family: 'Roboto', sans-serif;
// font-family: 'Oswald', sans-serif;


$beige: #FCF8ED;
$darkbeige: #EDE6D3;
$blue: #041FE2;
$pink: #F371B7;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
.gridChange{
  display: none;
}

body.scroll-lock{
  position: fixed !important;
  width: 100% !important;
  height: 100vh !important;
  overflow-y: scroll;
  padding: 0 !important;
  overflow-x: hidden;
}
body:not(.changeColor) header.showhead .headerContent .menuContainer .headerContainer .block-search .block-title:hover{
  border-color: $blue !important;
}
.catalog-category-view{
  header{
    .header.content {
      background-color: white;
      height: 83px;
    }
    .headerContent{
      background: white;
    }
  }
}
header{
  &.up{

  }
  &.showhead{
    opacity: 1;
    height: 100%;
    .bgoverlaymenu{
      height: 100%;
      opacity: 0.4;
    }
    .headerContent .menuContainer .headerContainer .block-search .block-title{
    	color: $blue !important;
      &:hover {
        border-color: $blue !important;
      }
    }
  }
//   // .storeSelecter{
//   //   display: none;
//   // }
//   &.active{
//     background-image: linear-gradient(120deg, #CDFFCC 0%, #f7d1e6 100%);
//   }
  .bgoverlaymenu{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    height: 0px;
    // background: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: opacity 500ms;
    opacity: 0;
    -webkit-transition: opacity 500ms;
  }
  .headerContent{
    padding: 30px;
    height: auto;
    // overflow: hidden;
    float: left;
    width: 100%;
    .logo{
      display: none;
    }
    .menuContainer{
      height: auto !important;
      float: left;
      width: 100%;
      nav{
        overflow: hidden;
        float: left;
        &.open{
          ul li ul{
            transition: none;
            &.active{
              transition: none;
            }
          }
        }
        ul{
          list-style: none;
          float: left;
          height: auto;
          padding: 0;
          margin: 0;
          li{
            float: left;
            text-transform: uppercase;
            color: $blue;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 15px;
            // line-height: 17px;
            margin: 0;
            padding: 0;
            margin-right: 30px;
            .block-cms-link, .block-category-link{
              margin: 0;
            }
            a{
              text-transform: inherit;
              color: inherit;
              letter-spacing: inherit;
              font-weight: inherit;
              font-size: inherit;
              line-height: inherit;
              position: relative;
              z-index: 90;
              display: inline-block;
              border-bottom: solid 2px transparent;
              &:hover{
                text-decoration: none;
                border-bottom: solid 2px $blue;
              }
            }
            &.active{
              ul{
                transform: translateY(0);
              }
              a{
                text-decoration: none;
                border-bottom: solid 2px $blue;
              }
            }
            &.show{
              ul li{
                opacity: 1;
              }    
            }
            ul{
              position: fixed;
              display: block;
              top: 0;
              left: 0;
              width: 100%;
              height: 250px;
              background-image: linear-gradient(120deg, #CDFFCC 0%, #f7d1e6 100%);
              padding: 90px 30px 55px 30px;
              z-index: 9;
              transform: translateY(-100%);
              transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
              will-change: transform;
              display: flex;
              -ms-flex-direction: column;
              flex-direction: column;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -ms-flex-line-pack: start;
              align-content: flex-start;
              li{
                &.goBack{
                  display: none;
                }
                opacity: 0;
                transition: opacity .6s;
                font-size: 13px;
                letter-spacing: 1px;
                line-height: 26px;
                float: none;
                display: flex;
                list-style-type: none;
                margin-right: 70px;
                // &:nth-child(5), &:nth-child(8), &:nth-child(11){
                //   clear: left;
                // }



                a{
                  border-bottom: none !important;
                }
                &:hover{
                  // opacity: 0.5;
                  span{
                    border-bottom: solid 2px $blue;
                  }
                }
              }
            }
          }
        }
      }
      .headerContainer{
        // .block-search, .header.links{
        .block-search{
          float: left;
          padding: 0;
          width: auto;
          .amasty-xsearch-loader{
            right: 0;
          }
          .block-content{
            display: none;
          }
          .block-title{
            display: inline-block;
            clip: initial;
            height: auto;
            width: auto;
            position: relative;
            color: $blue;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 15px;
            letter-spacing: 0.5px;
            font-weight: 400;
            margin: 0;
            border-bottom: solid 2px transparent !important;
            strong{
              font-weight: 400 !important;
            }
            &:hover{
              // border-bottom: solid 2px white !important;
              border-bottom: solid 2px white !important;
              text-decoration: none;
            }
          }
          #search_mini_form{
            width: 450px;
            // max-width: 600px;
            min-width: initial;
            top: 0px;
            right: 0px;
            position: fixed;
            z-index: 99;
            height: 100%;
            background-image: linear-gradient(120deg, #CDFFCC 0%, #f7d1e6 100%);
            border: none;
            margin: 0px;
            padding: 50px;
            .amsearch-wrapper-input{
              width: 100% !important;

              input#search::placeholder {
              	color:#fbf9f7;
              }
            }
            .search-autocomplete{
              width: 100% !important;
              top: 55px;
              .amsearch-results{
                background: transparent;
                overflow: hidden;
                width: 100%;
                .amsearch-item:hover{
                  background: none;
                }
                .amsearch-products{
                  width: 100%;
                  .amasty-xsearch-block-header{
                    display: none;
                  }
                  .amsearch-wrapper-content{
                    padding: 0;
                    margin: 0 -10px;

                    .amsearch-autocomplete-information {
						margin-top: 10px !important;
                    }

                    .amsearch-item{
                      width: 50%;
                      padding: 0 10px;
                      margin-bottom: 25px;
                      cursor: pointer;
                      color: $blue;
                      .amsearch-highlight{
                        color: $blue;
                        background: transparent;
                      }
                      .product-item-link{
                        color: $blue;
                        text-decoration: none !important;
                        text-transform: uppercase;
                        font-weight: 400;
                      }
                      .product-item-details{
                        min-height: auto;
                      }
                      .product-image-container{
                        width: 100% !important;
                        img.product-image-photo{
                          max-width: none;
                          width: 100%;
                          border:none;
                          background: $beige;
                        }
                      }
                      .amsearch-wrapper-inner{
                        display: none;
                      }
                    }
                  }
                  .amsearch-link{
                    position: fixed;
                    color: $blue;
                    font-family: "Oswald",sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 0;
                    width: auto;
                    border-radius: 0;
                    border: none;
                    float: right;
                    right: 180px;
                    bottom: 50px;
                    padding: 0;
                    font-size: 19px;
                    line-height: initial;
                    &:hover{
                      color: $blue;
                    }
                  }
                }
              }
            }
          }
          &.active{
            .control{
              display: block;
            }
            .block-content{
              display: block;
            }
            .field.search label span{
              display: none;
            }
          }
          .actions{
            button{
              display: none;
            }
          }
          .control{
            display: none;

          }
          .action.advanced{
            display: none;
          }
          .amsearch-leftside{
            display: none !important;

          }
          .amsearch-loupe, .amsearch-close{
            display: none !important;
          }
          .field.search{
            label{
              width: auto;
              height: auto;
              position: relative;
              margin: 0;
              clip: initial;
              display: none;
              span{
                display: none;
                display: inline-block;
                clip: initial;
                height: auto;
                width: auto;
                position: relative;
                color: $blue;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 15px;
                letter-spacing: 0.5px;
                font-weight: 400;
                margin: 0;
                border-bottom: solid 2px transparent;
                &:hover{
                  border-bottom: solid 2px $blue;
                  text-decoration: none;
                }
              }
              &:before{
                display: none;
              }
            }
          }
        }
        .header.links{
          display: none;
        }
        float: right;
        width: auto;
        position: relative;
        z-index: 9;
        .openCartLink, .openSearcLink, .openLoginLink{
          text-transform: uppercase;
          color: $blue;
          letter-spacing: 0.5px;
          font-weight: 400;
          font-size: 15px;
          // line-height: 17px;
          display: inline-block;
          margin-left: 30px;
          padding-bottom: 0;
          border-bottom: solid 2px transparent;
          cursor: pointer;
          &:hover{
            border-bottom: solid 2px $blue;
            text-decoration: none;
          }
        }
      }
    }
  }
  .minicart-wrapper .action.showcart{
    display: none !important;
  }
//   .openCartLink, .mobileToggle, .instagramLink, .storeSelecter{
//     position: fixed;
//     top: 50px;
//     transform-origin: left;
//     -webkit-transform-origin: left;
//     // transition: top 200ms ease-in;
//     // -webkit-transition: top 200ms ease-in;
//     @include transition(top 200ms ease-in, transform 200ms ease-in);
//     font-weight: 400;
//     cursor: pointer;
//     z-index: 1;
//   }
  .openCartLink, .instagramLink, .storeSelecter{
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    &:hover{
      // border-bottom: 2px solid $blue;
      // transform: translate(5px, 0);
      // border-left: 2px solid $blue;
      // padding-left: 5px;
    }
  }
//   // .mobileToggle:hover{
//   //   transform: scaleX(1.1);
//   //   -webkit-transform: scaleX(1.1);
//   // }
//   &.up{
//     .openCartLink, .instagramLink, .mobileToggle, .storeSelecter{
//       top: -30px;
//     }
//   }
//   .instagramLink{
//     right: 120px;
//   }
//   .storeSelecter{
//     right: 240px;
//     // padding-right: 15px;
//     // background: url('../images/Kategori_blue.png') no-repeat;
//     // background-size: auto 17px;
//     // background-position-x: 100%;
  
  
//     &:before{
//       // content: '^';
//       // display: block;
//       // font-family: "Oswald",sans-serif;
//       // position: absolute;
//       // top: 1px;
//       // right: 0;
//       // font-size: 21px;
//     }
//     &:after{
//       // content: '^';
//       // display: block;
//       // transform: rotate(180deg);
//       // font-family: "Oswald",sans-serif;
//       // position: absolute;
//       // bottom: -1px;
//       // right: 0px;
//       // font-size: 21px;

//     }
//   }
  .openCartLink{
    right: 50px;
    opacity: 0;
    // transition: opacity 200ms;
    // -webskit-transition: opacity 200ms;
    @include transition(top 200ms ease-in, opacity 200ms, transform 200ms ease-in);
    &.show{
      opacity: 1;

      @media all and (min-width: 769px){
        &:before {
          // content: "";
          // position: absolute;
          // width: 100%;
          // height: 2px;
          // bottom: -4px;
          // left: 0;
          // background-color: $blue;
          // visibility: hidden;
          // -webkit-transform: scaleX(0);
          // transform: scaleX(0);
          // -webkit-transition: all 0.3s ease-in-out 0s;
          // transition: all 0.3s ease-in-out 0s;
          // transform-origin:  0% 50%;
        }
        
        &:hover:before {
          // visibility: visible;
          // -webkit-transform: scaleX(1);
          // transform: scaleX(1);
        }
      }


    }
  }
  .mobileToggle{
    display: inline-block;
    // width: 30px;
    // height: 30px;
    position: relative;
    left: 30px;
    // top: 30px;
    background: none !important;
    // background: url('../images/menu_b.png') no-repeat;
    // background-size: 100% auto;
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    text-transform: uppercase;
    top: 27px;
    color: $blue;
    font-size: 15px;
  }
//   .openCartLink, .instagramLink, .storeSelecter{
//     font-size: 16px;
//     line-height: 17px;
//     color: $blue;
//     text-transform: uppercase;
//     cursor: pointer;
//     a{
//       text-decoration: none !important;
//       color: inherit;
//     }

//     @media all and (min-width: 769px){
//       a:before {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 2px;
//         bottom: -4px;
//         left: 0;
//         background-color: $blue;
//         visibility: hidden;
//         -webkit-transform: scaleX(0);
//         transform: scaleX(0);
//         -webkit-transition: all 0.3s ease-in-out 0s;
//         transition: all 0.3s ease-in-out 0s;
//         transform-origin:  0% 50%;
//       }
      
//       a:hover:before {
//         visibility: visible;
//         -webkit-transform: scaleX(1);
//         transform: scaleX(1);
//       }
//     }
//   }
//   &.active{
//     .headerContent{
//       top: 0;
//     }
//   }
//   // .headerContent{
//   //   display: none;
//   // }
//   .header.links{
//     display: none;
//   }
//   &.page-header{
//     .panel.wrapper{
//       display: none;
//     }
//     .block-search{
//       display: none;
//     }
//   }
//   &.show{
//     .block-search{
//       display: block;
//     }
//     .menuContainer{
//       display: none;
//     }
//   }
//   .headerContent{
//     height: 100%;
//     background-image: url('../images/resume_cph_collection_millennium_menu.jpg');
//     position: fixed;
//     left: 0;
//     top: -100%;
//     width: 100%;
//     padding: 40px 40px 10px 40px;
//     z-index: 10;
//     // transition: top 500ms;
//     // -webkit-transition: top 500ms;
//     @include transition(top 500ms);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     .logo{
//       margin: 0;
//       width: 170px;
//       max-width: initial;
//       display: none;
//     }
//   }
//   .menuContainer{
//     margin-top: 50px;
//     float: left;
//     width: 100%;
//     margin-bottom: 45px;
//     height: auto;
//     // transition: height 500ms ease-in-out;
//     @include transition(height 500ms ease-in-out);
//     overflow: hidden;
//     .instagramLink, .storeSelecter{
//       display: none;
//     }
//     .widget{
//       margin: 0 !important;
//     }
//     br{
//       display: none !important;
//     }
//     .closeMenu {
//       display: none;
//       position: absolute;
//       left: 40px;
//       top: 40px;
//       width: 20px;
//       height: 20px;
//       opacity: 1;
//     }
//     .closeMenu:hover {
//       opacity: 1;
//       cursor:pointer;
//     }
//     .closeMenu:before, .closeMenu:after {
//       position: absolute;
//       left: 9px;
//       content: ' ';
//       height: 20px;
//       width: 2px;
//       background-color: #FFF;
//     }
//     .closeMenu:before {
//       transform: rotate(45deg);
//     }
//     .closeMenu:after {
//       transform: rotate(-45deg);
//     }
//     nav{
//       ul{
//         padding: 0;
//         margin: 0;
           
//         li{
//           margin: 0;
//           // overflow-y: hidden;
//           overflow: hidden;
//           // transition: height 800ms ease-in-out;
//           height: auto;
//           position: relative;
//           &.anchor {
//             display: inline-block;
//             padding-right: 22px;
//             // &:not(:last-child):after{
//             //   content: '/';
//             //   display: inline-block;
//             //   position: relative;
//             //   font-size: 42px;
//             //   font-weight: 300;
//             //   color: white;
//             //   font-family: "Oswald",sans-serif;
//             //   padding: 0 25px;
//             //   line-height: 42px;
//             //   opacity: 0.4;
//             // }
//             .widget.block {
//               display: inline-block;
//             }
//             & > .widget > a{
//               font-size: 42px;
//               color: white;
//               line-height: 42px;
//               font-family: $oswald;
//               font-weight: 300;
//               opacity: 0.4;
//             }
//           }
//           &.full{
//             a{
//               color: white;
//             }
//           }
//           a{
//             color: white;
//             font-size: 16px;
//             letter-spacing: 0.5px;
//             text-transform: uppercase;
//             font-family: "Oswald",sans-serif;
//             font-weight: 300;
//             &:hover{
//               text-decoration: none;
//             }
//           }
//           &.active{
//             overflow: visible;
//             vertical-align: top;
//             // transition: height 500ms ease-in-out,
//             &.anchor {
//               &:nth-child(1):after{
//                 opacity: 1;
//               }
//               & > .widget > a{
//                 opacity: 1;
//               }
//             }
//             a{
//               color: white;
//             }
//           }
//           ul{
//             // display: none;
//             height: auto;
//             overflow: hidden;
//             position: absolute;
//             left: 0;
//             padding-top: 18px;
//             opacity: 0;
//             width: 200px;
            
//             // transition: opacity 200ms ease-in-out;
//             @include transition(opacity 200ms ease-in-out);
//             li{
//               width: 100%;
//               float: left;
//               margin: 2px 0 !important;
//               display: inline-block;
//               a{
//                 color: white;
//                 line-height: 34px;
//                 // padding-bottom: 20px;
//                 position: relative;
//                 @media all and (min-width: 769px){
//                   :before {
//                     content: "";
//                     position: absolute;
//                     width: 100%;
//                     height: 2px;
//                     bottom: -4px;
//                     left: 0;
//                     background-color: white;
//                     visibility: hidden;
//                     -webkit-transform: scaleX(0);
//                     transform: scaleX(0);
//                     -webkit-transition: all 0.3s ease-in-out 0s;
//                     transition: all 0.3s ease-in-out 0s;
//                     transform-origin:  0% 50%;
//                   }
                  
//                   :hover:before {
//                     visibility: visible;
//                     -webkit-transform: scaleX(1);
//                     transform: scaleX(1);
//                   }
//                 }
//               }
//               &.goBack{
//                 display: none;
//               }
//             }
//           }
//           &.active{
//             ul{
//               opacity: 1;
//               // display: block;
//             }
//           }
//         }
//       }
//     }
//   }
}


@media all and (max-width: 1199px){
  
}

@media all and (max-width: 1000px){
  
}

@media all and (max-width: 999px){
}

@media all and (max-width: 768px){
  // header .menuContainer .closeMenu{
  //   left: 30px;
  //   top: 30px;
  // }
  .catalog-category-view .gridChange{
    display: block;
    position: fixed;
    top: 28px;
    right: calc(50% - 23px);
    z-index: 3;
    width: 46px;
    margin:0 auto;
    @include transition(top 200ms ease-in);
    &.up{
      top: -30px;
    }
    .multiple, .single{
      display: block;
      width: 18px;
      height: 22px;
      background: url('../images/3x3_grid_Blue.png') no-repeat;
      background-size: 18px auto;
      background-position-y: 100%;
      float: left;
      opacity: 0.4;
      @include transition(opacity 200ms);
      &.active{
        opacity: 1;
      }
    }
    .single{
      background: url('../images/2x2_grid_Blue.png') no-repeat;
      background-size: 18px auto;
      background-position-y: 100%;
      float: right;
    }
  }
  // .catalog-category-view{
  //   header{
  //     .openCartLink{
  //       right: 100px;
  //     }
  //   }
  // }
  // header .menuContainer nav ul li.anchor:not(:last-child):after{
  //   display: none;
  // }
  // header{
  //   .instagramLink, .storeSelecter{
  //     display: none;
  //   }
  //   .openCartLink, .mobileToggle{
  //     top: 30px;
  //     cursor: none;
  //   }
  //   .openCartLink{
  //     opacity: 1;
  //     right: 30px;
  //     width: 22px;
  //     height: 22px;
  //     text-indent: 9999px;
  //     color: transparent;
  //     overflow: hidden;
  //     background: url('../images/Kurv_Blue.png') no-repeat;
  //     background-size: 100% auto;
  //   }
  //   .menuContainer{
  //     nav ul li.anchor>.widget>a{
  //       opacity: 1;
  //     }
  //     .instagramLink, .storeSelecter{
  //       display: block;
  //       position: absolute;
  //       bottom: 30px;
  //       top: initial;
  //       left: 30px;
  //       right: initial;
  //       font-weight: 300;
  //       font-size: 19px;
  //     }
  //     .storeSelecter{
  //       bottom:30px;
  //       color: white;
  //       &:before{
  //         // content: '^';
  //         // display: block;
  //         // font-family: "Oswald",sans-serif;
  //         // position: absolute;
  //         // top: 1px;
  //         // right: 0;
  //         // font-size: 21px;
  //       }
  //       &:after{
  //         // content: '^';
  //         // display: block;
  //         // transform: rotate(180deg);
  //         // font-family: "Oswald",sans-serif;
  //         // position: absolute;
  //         // bottom: -1px;
  //         // right: 0px;
  //         // font-size: 21px;
  //       }
  //     }
  //     .instagramLink{
  //       left: 120px;
  //       color: white;
  //     }
  //   }
  // }
  // header .mobileToggle{
  //   left: 30px;
  // }
  // header .openCartLink, header .instagramLink{
  //   cursor: none;
  // }
  // header .headerContent{
  //   padding: 50px;
  //   padding-right: 0;
  //   height: 100%;
  //   right: 100%;
  //   top: 0;
  //   left: inherit;
  //   width: calc(100%);
  //   display: block;
  //   // transition: right 500ms ease-in-out;
  //   @include transition(right 500ms ease-in-out);
  // }
  // header.active{
  //   .headerContent{
  //     // overflow: visible;
  //     right: 0;
  //   }
  // }
  // header.active.show{
  //   .headerContent{
  //     right: 100%;
  //   }
  // }
  // header{
  //   .menuContainer{
  //     height: auto;
  //     overflow: visible;
  //     nav{
  //       width: 100%;
  //       overflow: hidden;
  //       float: left;
  //       // overflow: visible;
  //       overflow: scroll;
  //       // max-height: 320px;
  //       &::-webkit-scrollbar {
  //         width: 0px;  /* Remove scrollbar space */
  //         background: transparent;  /* Optional: just make scrollbar invisible */
  //       }
  //       /* Optional: show position indicator in red */
  //       &::-webkit-scrollbar-thumb {
  //           background: transparent;
  //       }
  //       -ms-overflow-style: none;  // IE 10+
  //       scrollbar-width: none;  // Firefox
  //       &::-webkit-scrollbar { 
  //           display: none;  // Safari and Chrome
  //       }
  //       ul{
  //         overflow: hidden;
  //         float: left;
  //         width: 100%;
  //         // overflow: visible;
  //         li{
  //           width: 100%;
  //           margin: 12.5px 0;
  //           float: left;
  //           height: 50px;
  //           // transition: height 200ms ease-in-out;
  //           @include transition(height 200ms ease-in-out);
  //           &.active{
  //             text-decoration: underline;
  //             height: 120px;
  //             ul{
  //             }
  //           }
  //           ul{
  //             padding-top: 25px;
  //             position: relative;
  //             height: auto;
  //             // transition: height 200ms ease-in-out;
  //             overflow: scroll;
  //             display: flex;
  //             flex-direction: row;
  //             -webkit-overflow-scrolling: touch;
  //             padding-bottom: 10px;
  //             width: calc(100% + 100px);
  //             left: -50px;
  //             &::-webkit-scrollbar {
  //                 width: 0px;  /* Remove scrollbar space */
  //                 background: transparent;  /* Optional: just make scrollbar invisible */
  //             }
  //             /* Optional: show position indicator in red */
  //             &::-webkit-scrollbar-thumb {
  //                 background: transparent;
  //             }
  //             -ms-overflow-style: none;  // IE 10+
  //             scrollbar-width: none;  // Firefox
  //             &::-webkit-scrollbar { 
  //                 display: none;  // Safari and Chrome
  //             }
  //             li{
  //               width: initial;
  //               height: auto;
  //               float: none;
  //               overflow: visible;
  //               margin: 0 !important;
  //               margin-right: 30px !important;
  //               white-space: nowrap;
  //               &:nth-child(2){
  //                 margin-left:50px !important;
  //               }
  //               &:nth-last-child(1){
  //                 padding-right:50px !important;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
@media all and (max-width: 767px){

  header.showhead{
    height: 0;
  }
  .header .header.content .mobileToggle{
    display: inline-block !important;

  }
  header .header.content .mobileToggle{
    display: block;
  }
  header .mobileOpenCartLink{
    display: block;
    text-transform: uppercase;
    // width: 22px;
    // height: 22px;
    // text-indent: 99999px;
    color: $blue;
    position: absolute;
    top: 27px;
    right: 30px;
    font-size: 15px;
    // background: url('../images/Kurv_Blue.png') no-repeat;
    // background-size: 100% auto;
    cursor: pointer;
    &:hover {
      // border:none!important;
    }
  }
  .page-layout-1column-prismic-new header .mobileOpenCartLink {
    // background: url('../images/Kurv_White.png') no-repeat;
    // background-size: 100% auto;

  }
  header .headerContent .menuContainer nav ul li a{
   color: $blue; 
   
  }
  .catalog-category-view{
    header{
      .headerContent{
        background-image: linear-gradient(120deg, #CDFFCC 0%, #f7d1e6 100%);
      }
    }
  }
  .catalog-category-view .gridChange .multiple {
    background: url('../images/2x2_grid_Blue.png') no-repeat;
    background-size: 18px auto;
    background-position-y: 100%;
  }
  .catalog-category-view .gridChange .single {
    background: url('../images/1x1_grid_Blue.png') no-repeat;
    background-size: 18px auto;
    background-position-y: 100%;
  }
  .nav-toggle{
    display: none;
  }
  .closeMenu{
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 18px;
    top: 16px;
    cursor: pointer;
  }
  .closeMenu:before, .closeMenu:after {
    position: absolute;
    left: 21px;
    content: ' ';
    height: 22px;
    width: 2px;
    top: 10px;
    background-color: $blue;
  }
  .closeMenu:before {
    transform: rotate(45deg);
  }
  .closeMenu:after {
    transform: rotate(-45deg);
  }
  .closeSearch{
    &.active{
      display: block;
    }
      position: fixed;
      // left: 30px;
      // top: 30px;
      display: none;
      background: none;
      width: 44px;
      height: 44px;
      left: 18px;
      top: 16px;
      cursor: none;
      z-index: 99;
      &:before, &:after {
          position: absolute;
          left: 21px;
          content: ' ';
          height: 22px;
          width: 2px;
          top: 10px;
          background-color: $blue;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .amsearch-more-results .amsearch-link{
      background: transparent;
    }
    .amsearch-wrapper-content>.amsearch-item:before{
      display: none;
    }
    .amsearch-autocomplete-information{
      padding: 0;
    }
  header .headerContent .menuContainer .headerContainer .block-search{
    .block-title{
      font-size: 19px;
    }
    .control{
      border: none;
      margin: 0;
      padding: 0;
    }
    .amsearch-leftside{
      display: block !important;
      background: transparent;
      .popular_searches, .recent_searches{
        display: none !important;
      }
    }
    .block-title{
      color: $blue !important;
    }
    #search_mini_form{
      width: 100%;
      padding: 90px 30px 30px 30px;
      .search-autocomplete{
        margin: 0;
        top: 30px;
        height: auto;
        overflow: hidden;
        display: block;
        max-height: none;

        .amsearch-results .amsearch-products .amsearch-link{
          // right: 30px;
          right:calc(50% - 50px);
          bottom: 30px;
        }
        .amsearch-results .amsearch-products{
          .amsearch-wrapper-content .amsearch-item{
            display: block;
            float: left;
          }
          .amsearch-autocomplete-image{
            cursor: none;
            width: 100%;
          }
        }
      }
      .amsearch-wrapper-input{
        #search{
          left: 0;
          margin: 0;
          position: relative;
          font-size: 18px;
        }
      }
    }
  }
  header{
    .bgoverlaymenu{
      display: none !important;
    }
    &.active{
      .headerContent{
        transform: translateX(0);
      }
    }
    .headerContent.active{
      display: flex;

      .headerContainer{
        display: block !important;
        position: absolute;
        bottom: 25px;
        z-index: 99;
      }
    }
    .headerContent{
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(120deg, #CDFFCC 0%, #f7d1e6 100%);
      padding: 90px 30px 30px 30px;
      z-index: 9;
      transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
      will-change: transform;
      display: none;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      transform: translateX(-100%);
      .menuContainer{
        .headerContainer{
            display: none;
            float: left;
            width: 100%;
            .openLoginLink{
              margin: 0;
              font-size: 18px;
            }
           .openSearcLink{
            display: none; 
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 50px;
              background: white;
              left: 0;
              margin: 0;
              padding: 0 30px;
              line-height: 50px;
              &:hover{
                border-bottom: solid 2px transparent;
              }
           }
           .openCartLink{
            display: none !important;
           }
        }
        nav{
          &.open{

            overflow: hidden;
            height: auto;

            ul li ul{
              transition: opacity 0.6s cubic-bezier(0.86, 0, 0.07, 1);
            }
          }
          ul{

            overflow: hidden;
            height: auto;

            li{
              font-size: 19px;
              display: inline-block;
              clear: left;
              margin-bottom: 40px;
              &.active{
                ul{
                  transform: translateX(0);
                  opacity: 1;
                  z-index: 999;
                  overflow:scroll;
                  height: 100%;
                }  
              }
              ul{
                transition: opacity 0.6s cubic-bezier(0.86, 0, 0.07, 1);
                z-index: 99;
                padding: 90px 30px 30px 30px;
                transform: translateX(-100%);
                // height: 100%;
                display: block;
                opacity: 0;
                // overflow: scroll;
                height: 100%;
                overflow: scroll;
                li{
                  margin: 0;
                  margin-bottom: 35px;
                  font-size: 18px;
                  &:hover{
                    span{
                      border-color: transparent;
                    }
                  }
                  &.goBack{
                    display: block;
                    overflow: hidden;
                    cursor: pointer;
                    position: absolute;
                    top: 16px;
                    left: 18px;
                    margin: 0;
                    font-size: 14px;
                    height: 44px;
                    width: 44px;

                    .goBackSpan {
                      display: block;
                      position: absolute;
                      top: 16px;
                      left: 18px;
                      margin: 0;
                      font-size: 14px;
                      height: 13px;
                      width: 13px;
                      border: solid $blue;
                      border-width: 0 2px 2px 0;
                      padding: 3px;
                      transform: rotate(135deg);
                      -webkit-transform: rotate(135deg);
                      text-indent: 99999px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
 

 
}

@media all and (max-width: 500px){

}