.catalogsearch-result-index .message.notice{
	background: transparent;
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.catalogsearch-result-index .message.notice div{
	font-size: 38px;
	font-family: 'Oswald',sans-serif;
	font-weight: 500!important;
	color: #041fe3;
	line-height: 40px;
	text-align: center;
	padding: 20px;
	&:before{
		display: none;
	}
}
.catalogsearch-result-index .search.results .block {
	display: none;
}