<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
    <div class="block block-dashboard-addresses">
        <div class="block-content">
            <div class="box box-information">
                <div class="box-content">
                    <p>
                        <span><?= $block->escapeHtml(__('Billing Address')) ?>:</span>
                    </p>
                    <address>
                        <?= $block->getPrimaryBillingAddressHtml() ?>
                    </address>
                    <p>
                        <span><?= $block->escapeHtml(__('Shipping Address')) ?>:</span>
                    </p>
                    <address>
                        <?= $block->getPrimaryShippingAddressHtml() ?>
                    </address>
                </div>
                <div class="box-actions">
                    <p class="leftaction">
                        <span><?= $block->escapeHtml(__('Addresses')) ?></span>
                    </p>
                    <a class="action edit" href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div>
                <div class="lines"></div>
            </div>
        </div>
    </div>


    <div class="block block-orders">
        <div class="block-content">
            <div class="box box-information">
                <div class="box-content">
                    <img src="/resume-marley-dress-230.png" alt="">
                </div>
                <div class="box-actions">
                    <p class="leftaction">
                        <span><?= $block->escapeHtml(__('Order history')) ?></span>
                    </p>
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('sales/order/history')) ?>" ><span><?= $block->escapeHtml(__('See All')) ?></span></a>
                </div>
                <div class="lines"></div>
            </div>
        </div>
    </div>

    <?php if(1 === 2): ?>
        <div class="block block-my-design">
            <div class="block-content">
                <div class="box box-information">
                    <div class="box-content">
                        <div class="bgcover"></div>
                    </div>
                    <div class="box-actions">
                        <p class="leftaction">
                            <span><?= $block->escapeHtml(__('My design')) ?></span>
                        </p>
                        <div class="action edit changeMyDesign" ><span><?= $block->escapeHtml(__('Edit')) ?></span></div>
                    </div>
                    <div class="lines"></div>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <div class="block block-shop">
        <div class="block-content">
            <div class="box box-information">
                <div class="box-content">
                    <img src="/resume-marley-dress-230.png" alt="">
                </div>
                <div class="box-actions">
                    <a class="action edit leftaction" href="<?= $block->escapeUrl($block->getUrl('shop')) ?>" ><span><?= $block->escapeHtml(__('Go to shop')) ?></span></a>
                </div>
                <div class="lines"></div>
            </div>
        </div>
    </div>





</div>
