<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>

<div class="bgColor"></div>
<div class="bgWelcome"></div>
<div class="clubContainer">
    <div class="block block-dash">
        <div class="block-content">
            <div class="box box-information">
                <div class="box-content">
                    <p>
                        <span><?= $block->escapeHtml(__('Name')) ?>:</span>
                        <?= $block->escapeHtml($block->getName()) ?>
                    </p>
                    <p>
                        <span><?= $block->escapeHtml(__('Email')) ?>:</span>
                        <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?>
                    </p>
                    <?php if ($block->isNewsletterEnabled()): ?>
                        <p>
                            <span><?= $block->escapeHtml(__('Newsletter')) ?>:</span>
                            <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>">
                                <?php 
                                    if ($block->getIsSubscribed()){
                                        echo $block->escapeHtml(__('Subscriped'));
                                    }
                                    else{
                                        echo $block->escapeHtml(__('Not subscriped'));
                                    }
                                ?>
                            </a>
                        </p>
                    <?php endif; ?>

                    <?= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
                </div>
                <div class="box-actions">
                    <p class="leftaction">
                        <span><?= $block->escapeHtml(__('My Profile')) ?></span>
                    </p>
                    <a class="action edit rightaction" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                        <span><?= $block->escapeHtml(__('Edit')) ?></span>
                    </a>
                </div>
                <div class="lines"></div>
            </div>

        </div>
    </div>
    
    <div class="block block-wishlist">
        <div class="block-content">
            <div class="box box-information">
                <div class="box-content">
                    <img src="https://www.resumecph.dk/pub/media/catalog/product/cache/4b22627e7b55cbcea6832f202dcf9cc9/r/e/resume-rumer-blazer-912-kopier_gradient.jpg" alt="">
                </div>
                <div class="box-actions">
                    <p class="leftaction">
                        <span><?= $block->escapeHtml(__('Wishlist')) ?></span>
                    </p>
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('wishlist')) ?>" ><span><?= $block->escapeHtml(__('See All')) ?></span></a>
                </div>
                <div class="lines"></div>
            </div>
        </div>
    </div>
