@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700|Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

$beige: #FBF9F7;
$darkbeige: #EBE5DE;
$blue: #041FE2;
$pink: #F371B7;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$libra: 'Libre Baskerville', serif;

$padding-left: 100px;
$padding-right: 100px;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin sticky() {
    position: -webkit-sticky;
    position: sticky;
}
@mixin flex(){
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.fixed-fix {
  position:fixed;
  top:-1px; 
  height:1px; 
  width:100%; 
  background:white;
}
.lazy{
  opacity: 0;
  @include transition(opacity 800ms);
  &.loaded{
    opacity: 1;
  }
}
.move2{
  // @include transition(transform 800ms);
}

picture{
  height: auto;
  display: block;
  line-height: 0;
}
.full-width-image-sticky{
  width: 100%;
  height: 100vh;
  @include sticky();
  top: 0;
  z-index: 1;
  background-color:$darkbeige;
  .title-wrapper{
    @include flex();
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    h1{
      color: $beige;
      text-transform: uppercase;
      font-size: 95px;
      font-weight: 500 !important;
      margin-bottom: 30px;
      letter-spacing: 4px;
    }
    a{
      text-decoration: none !important;
    }
    h2{
      color: $beige;
      text-transform: uppercase;
      text-decoration: none !important;
      font-weight: 400 !important;
      font-size: 18px;
      letter-spacing: 1px;
      margin: 0;
    }
    .title{
      margin: 0 auto;
    }
    .subtitle{
      margin: 0 auto;
      border-bottom: 2px solid transparent;
      padding-bottom: 2px;
      &:hover{
        border-bottom: 2px solid white;
      }
    }
  }
  .imageContainer{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.image-gallery-5{
  background-color: $beige;
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 80px 120px;
  height: auto;
  overflow: hidden;
  .image-row{
    @include flex();
    flex-direction: row;
    align-items: baseline;
    clear: both;
    height: auto;
    max-width: 1200px;
    margin: auto;
    &.right{
      justify-content: flex-end;
    }
    &.last{
      height: 0;
      margin-bottom: 200px;
    }
    .image-container{
      position: relative;
      img{
        width: 100%;
      }
      &.one{
        width: 48%;
        float: right;
      }
      &.two{
        width: 52%;
        float: left;
        margin-top: 240px;
        margin-left: 100px;
      }
      &.three{
        width: 24%;
        float: left;
        margin-left: 100px;
      }    
      &.four{
        width: 48%;
        float: right;
        margin-top: 230px;
      }
      &.five{
        width: 80%;
        float: left;
        margin-top: 80px;
      }
    } 
    .image-text-top, .image-text-bottom{
      width: 100%;
      position: absolute;
      right: 0;
      z-index: 1;
      height: 50%;
      text-align: center;
      top: 0;
      &.full{
        height: 100%;
      }
      &:hover, &.active{
        h2{
          display: block;
        }  
        text-decoration: none;
      }
      &.active{
        h2{
          top: 50%;
          margin-top: -9px;
        }
      }
      h2{
        display: none;
        color: $beige;
        text-transform: uppercase;
        text-decoration: none !important;
        font-weight: 500 !important;
        font-size: 40px;
        letter-spacing: 1px;
        color: white;
        margin: 0;
        padding: 0;
        position: relative;
      }
    }
    .image-text-bottom{
      top: 50%;
    }
  }
}
.image-gallery-video{
  background: $beige;
  display: block;
  z-index: 1;
  position: relative;
  // height: 100vh;
  display: flex;
  // margin-top: -50vh;
  z-index: 2;
  // display: none;
  video{
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  canvas{
    display: none;
  }
  .image-column{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .image-container{
      @include flex();
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 100%;
      .image-container-inner{
        width: 30%;
        margin: auto;
        position: relative;
      }
      .image-text-top, .image-text-bottom{
        width: 100%;
        position: absolute;
        right: 0;
        z-index: 1;
        height: 50%;
        text-align: center;
        top: 0;
        &.full{
          height: 100%;
        }
        &:hover, &.active{
          h2{
            display: block;
          }  
          text-decoration: none;
        }
        &.active{
          h2{
            top: 50%;
            margin-top: -9px;
          }
        }
        h2{
          display: none;
          color: $beige;
          text-transform: uppercase;
          text-decoration: none !important;
          font-weight: 400;
          font-size: 24px;
          letter-spacing: 1px;
          color: white;
          margin: 0;
          padding: 0;
          position: relative;
        }
      }
      .image-text-bottom{
        top: 50%;
      }
      picture{
        width: 100%;
        margin: auto;
        img{
          width: 100%;
        }
      }
    }
  }
}
.newsletter{
  position: relative;
  height: 300vh;
  z-index: 1;
  background-color: $beige;
  .left{
    @include sticky();
    float: left;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    top: 0;
    .title-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      z-index: 1;
      .title h2{
        color: $blue;
        font-size: 46px;
        text-transform: uppercase;
        margin-top: 14px;
        letter-spacing: 2px;
        font-weight: 500 !important;;
      }
      .subtitle h3{
        color: $blue;   
        font-size: 20px;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 2px;
        font-weight: 500 !important;
      }
      .form-wrapper{
        width: 80%;
        bottom: 120px;
        position: absolute;
        max-width: 600px;
      }
      input.email{
        color: $blue;   
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500 !important;
        padding-bottom: 8px !important;
      }
      input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blue;  
        opacity: 1; /* Firefox */
      }

      input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $blue;  
      }

      input::-ms-input-placeholder { /* Microsoft Edge */
        color: $blue;
      }
      input.button{
        color: $blue;   
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500 !important;
        border: none !important;
        float: right;
        margin-top: 8px;
      }
    }
  }
  .right{
    float: right;
    width: 50%;
    position: relative;
    .image-wrapper{
      height: 100vh;
      position: relative;
      width: 100%;
      overflow: hidden;
    }  
  }
}
.instagram{
  background: $beige;
  position: relative;
  transform: translate3d(0,0,0);
  width: 100%;
  z-index: 2;
  padding: 80px 120px;
  height: auto;
  top: 0;
  .sticky-wrapper{
    position: relative;
    top: 0;
    @include flex();
    transform: translate3d(0,0,0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50vh;
    padding-bottom: 50vh;
    .title-wrapper{
      @include sticky();
      transform: translate3d(0,0,0);
      top: calc(50% - 20px);
      z-index: 1;
      .title{
        h2{
          font-size: 16px;
          text-transform: uppercase;
          color: $blue;
          font-weight: 500;
          margin: 0;
          text-align: center;
        }
      }
    }
    .instagram-logo-wrapper{
      text-align: center;
      display: block;
      margin-top: 10px;
      position: relative;
      .instagram-logo{
        position: relative;
        z-index: 2;
      }
      .instagram-logo-hover{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        @include transition(opacity 200ms);
      }
      &:hover .instagram-logo-hover{
        opacity: 1;
      }
      img{
        height: 100px;
        width: auto;
        margin: auto;
      }
    }
    .image-row{
      width: 100%;
      float: left;
      margin-bottom: 100px;
      &:nth-child(2){
        padding-top: 50vh;
      }
      &:nth-child(3){
        margin-bottom: 350px;
      }
      .image-container{
        width: 60%;
        float: left;
        &.two{
          float: right;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  // .image-gallery-5 .image-row .image-container.two{
  //   width: 58%;
  //   float: left;
  //   margin-top: 0;
  //   margin-left: 0;
  // }
  // .image-gallery-5 .image-row .image-container.four{
  //   margin-top: -460px;
  // }
}

@media only screen and (max-width: 900px){
  .newsletter {
    position: relative;
    height: 170vh;
    z-index: 1;
    background-color: #FBF9F7;
    margin-top: 70vh;
  }
  .newsletter .left {
    position: -webkit-sticky;
    position: sticky;
    float: left;
    width: 100%;
    height: 30vh;
    background-image: -webkit-linear-gradient(110deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    top: 70%;
  }
  .newsletter .right {
    height: 70vh;
    float: right;
    width: 100%;
    position: relative;
    margin-top: -100vh;
    z-index: -1;
  }
  .newsletter .right .image-wrapper {
    height: 70vh;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .newsletter .mc-field-group{
    display: none;
  }
  .newsletter .left .title-wrapper input.button{
    color: #041FE2;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500 !important;
    border: none !important;
    float: left;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -97px;
  }
  .instagram .sticky-wrapper .instagram-logo-wrapper img{
    height: auto;
    width: 100%;
    margin: auto;
  }
  .instagram{
    background: #FBF9F7;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 2;
    padding: 0;
    height: auto;
    top: 0;
  }
  .instagram .sticky-wrapper .title-wrapper{
    padding: 0 40px;
  }
  .instagram .sticky-wrapper .image-row .image-container{
    width: 90%;
  }
}


@media only screen and (max-width: 767px){
  .image-gallery-5{
    padding: 80px 30px;
    .image-row{
      display: block;
      .image-container{
        &.one, &.two, &.three{
          width: 100%;
        }
      }
    }
  }
  .full-width-image-sticky .title-wrapper .title{
    order: 1;
  }
  .full-width-image-sticky .title-wrapper h1{
    font-size: 40px;
  }
  .full-width-image-sticky .title-wrapper h2{
    font-size: 16px;
    margin-bottom: 10px;
  }

}
.cms-page-view.page-layout-1column.location-page .column.main{
  max-width: 100% !important;
  padding: 0 !important;
}
.location-page{
  header, footer{
    display: none !important;
  }
  .locationChooser{
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    .logoContainer{
      position: absolute;
      left: 0;
      width: 100%;
      top: 100px;
      img{
        width: 350px;
        height: auto;
      }
      p{
        font-family: 'Roboto';
        color: white;
        font-size: 18px;
        margin-top: 10px;
      }
    }
    .locations{
      display: table-cell;
      vertical-align: middle;
      a{
        display: inline-block;
        margin: 0 20px;
        color: white;
        font-family: 'Oswald';
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 18px;
        padding-bottom: 7px;
        border-bottom: solid 2px transparent;
        position: relative;
        &:hover{
          // color: white;
          text-decoration: none;
          // border-bottom: solid 2px white;
        }

        @media all and (min-width: 769px){
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0px;
            left: 0;
            background-color: white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            transform-origin:  0% 50%;
          }
          
          &:hover:after {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }
    }
  }
  .bg1, .bg2, .bg3{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('../images/bgc1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .bg3, .bg2{
      display: none;
  }
}
.collection-intro{
  @include sticky();
  text-align: center;
  height: 100vh;
  overflow: hidden;
  top: 0;
  @include flex();
  flex-direction: column;
  justify-content: center;
  img{
    width: 100%;
    min-width: 25% !important;
    // &.loaded{
    //   transition: none;
    // }
  }
  .title-wrapper{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    text-align: center;
    margin: -250px -350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      color: $beige;
      text-transform: uppercase;
      font-size: 95px;
      font-weight: 500 !important;
      margin-bottom: 30px;
      letter-spacing: 4px;
    }
    h2{
      color: $beige;
      text-transform: uppercase;
      text-decoration: none !important;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 1px;
      margin: 0;
    }
  }
  .intro-image{
    &.fadeout{
      opacity: 0.4;
    }
  }
}
.collection-intro-spacer{
  height: 150vh;
}
.collection-intro-text{
  position: relative;
  color: $blue;
  max-width: 90%;
  margin: auto;
  min-width: 500px;
  text-align: left;
  margin-bottom: 50vh;
  p{
    letter-spacing: 4px;
    color: white;
    margin: 0;
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
  }
}

.single-image{
  position: relative;
  background-color: $beige;
  clear: both;
  height: auto;
  overflow: hidden;
  padding: 100px;
  &.left{
    .image-container{
      width: 50%;
      margin-left: 100px;
      float: left;
      position: relative;
      img{
        width: 100%;
      }
    }
  }
  &.right{
    .image-container{
      width: 50%;
      margin-left: 100px;
      float: right;
      position: relative;
      img{
        width: 100%;
      }
    }
  }
  &.center{
    .image-container{
      width: 100%;
      margin-left: 100px;
      position: relative;
      text-align: center;
      img{
        width: 50%;
      }
    }
  }
}
.full-width-image{
  position: relative;
  width: 100%;
  background-color: $beige;
  overflow: hidden;
  img{
    width: 100%;
  }
}
.full-width-image-2{
  position: relative;
  width: 100%;
  background-color: $beige;
  overflow: hidden;
  .image-row{ 
    @include flex();
    .image-container{
      width: 50%;
      position: relative;
      img{
        width: 100%;
      }
    }
  }
}
.full-width-image-2, .full-width-image, .single-image{
  .image-text-top, .image-text-bottom{
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    height: 50%;
    text-align: center;
    top: 0;
    &.full{
      height: 100%;
    }
    &:hover, &.active{
      h2{
        display: block;
      }  
      text-decoration: none;
    }
    &.active{
      h2{
        top: 50%;
        margin-top: -9px;
      }
    }
    h2{
      display: none;
      color: $beige;
      text-transform: uppercase;
      text-decoration: none !important;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 1px;
      color: white;
      margin: 0;
      padding: 0;
      position: relative;
    }
  }
  .image-text-bottom{
    top: 50%;
  }
}
    
section.prismic-page {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
    padding-bottom: 100px;

  section.prismic-page-text, section.prismic-page-accordion {
    position: relative;
    z-index: 2;
  }

  section.prismic-page-text {

    padding-left: $padding-left;
    padding-right: $padding-right;
    padding-top:100px;

    h1 {
      font-size:66px;
      font-family: $oswald;
      color:$blue;
      font-weight: 700!important;
      margin-bottom: 80px;
      text-transform: uppercase;

    }

    p {
      font-size:31px;
      font-family: $libra;
      color: $blue;
      line-height: 51px;
      margin:0;
      padding:0;
    }
  }

  section.prismic-page-accordion {

    padding-left: $padding-left;
    padding-right: $padding-right;

    .accordion {
      cursor: pointer;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      transition: 0.4s;
      overflow: hidden;
      float: left;

    }

    .active {
      overflow: unset;
      text-decoration: underline blue;
    }

    .accordion-inner {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      float: left;
      width: 100%;

      p {
        padding-top:40px;
        position: relative;
        padding-bottom: 80px;
      }

    }

    h2 {
      font-size:66px;
      line-height: 60px;
      font-family: $oswald;
      color:$blue;
      font-weight: 600!important;
      margin:0;
      text-transform: uppercase;

      &:hover {
        opacity:0.5;
      }
    }

    p {
      font-size:31px;
      font-family: $libra;
      color: $blue;
      line-height: 51px;
      margin:0;
      padding:0;
    }
  

  }

  section.prismic-page-image {
    width: 100%;

    picture {
      width: 100%;
      margin:0 auto;
      padding-left: $padding-left;
      padding-right: $padding-right;
      margin-top: 80px;
      margin-bottom: 80px;
    
    
      img {
        width: 100%;
      }
    }

  }
  
  section.backgroundImage {
    top:0;
    left: 0;
    opacity:0.3;
  }



  

}

  @media all and (max-width: 1024px) {
    section.prismic-page {

      section.prismic-page-text  {
        padding-left:8.333%;
        padding-right: 8.333%;
        
        h1 {
          margin-bottom: 55px;
        }

        p {
          font-size: 41px;
          line-height: 61px;
        }  
      }

      section.prismic-page-image picture {
        padding-left:8.333%;
        padding-right: 8.333%;
      }

      section.prismic-page-accordion{
        padding-left:8.333%;
        padding-right: 8.333%;

        p {
          font-size: 41px;
          line-height: 61px;
        }
      }
    }
  }

  @media all and (max-width: 767px) {
    section.prismic-page {

      section.prismic-page-text  {
        padding-left:8.333%;
        padding-right: 8.333%;

        h1.do-not-scale {
          font-size:50px!important;
        }
        h1.scale-heading {
          font-size:19px;
          margin-bottom:55px;
          font-weight: 500!important;
        }

        h1 {
          font-size:19px;
          margin-bottom:55px;
        }

        p {
          font-size: 19px;
          line-height: 39px;
        }  
      }

      section.prismic-page-image picture {
        padding-left:8.333%;
        padding-right: 8.333%;
      }

      section.prismic-page-accordion{
        padding-left:8.333%;
        padding-right: 8.333%;

        h2 {
          font-size: 19px;
          font-weight: 400!important;
          line-height: 19px;
          padding-bottom: 55px;
        }
        


        .accordion-inner p {
          font-size: 19px;
          line-height: 39px;
          padding-top: 0px;
        }
      }
    }
  }

  @media all and (max-width: 768px){
    .location-page .locationChooser .logoContainer{
      top: 75px;
    }
    .location-page .bg1{
      display: none;
    }
    .location-page .bg2{
      display: block;
      background: url('../images/bgc2.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .image-gallery-5{
      padding: 80px 0;
    }
  }

  @media all and (max-width: 767px){
    .collection-intro .title-wrapper h1{
      font-size: 35px;
    }
    .collection-intro{
      width: 120%;
      margin-left: -10%;
    }
    .collection-intro-text p {
      letter-spacing: 4px;
      color: white;
      margin: 0;
      font-size: 28px;
      line-height: 38px;
      font-weight: 400;
      padding: 0 5px;
      width: 100vw;
    }
    .single-image{
      padding: 10px;
    }
    .single-image.center .image-container{
      margin-left: 0;
    }
    .image-gallery-5{
      padding: 80px 30px 0;
    }
    .image-gallery-5 .image-row{
      height: auto;
      overflow: hidden;
      display: block
    }
    .image-gallery-5 .image-row .image-container.one, .image-gallery-5 .image-row .image-container.two, .image-gallery-5 .image-row .image-container.three, .image-row .image-container.four, .image-row .image-container.five{
      transform: none !important;
      display: flex;
      flex-direction: column;
      width: 100% !important;
    }
    .image-gallery-5 .image-row .image-container.three{
      margin-left: 0;
      width: 80% !important;
      float: right;
    }
    .image-gallery-5 .image-row .image-container.five{
      width: 100%;
      float: left;
      margin-top: 0;
    }
    .image-gallery-5 .image-row .image-container.four{
      margin-top:150px;
    }
    .image-gallery-5 .image-row .image-container.two{
      margin: 0;
    }
    .image-gallery-video{
      display: none;
    }
    .image-gallery-5 .image-row .image-text-top{
      width: 100%;
      position: relative;
      right: 0;
      height: 50px;
      text-align: center;
      top: 0;
      display: block;
      order: 2;
      z-index: 2;
      margin-bottom: 80px;
    }
    .image-gallery-5 .image-row .image-text-bottom{
      display: none;
    }
    .image-gallery-5 .image-row .image-text-top h2{
      color: #FBF9F7;
      text-transform: uppercase;
      text-decoration: none !important;
      font-weight: 400;
      font-size: 19px;
      letter-spacing: 1px;
      color: blue;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: left;
      margin-top: 10px;
      display: block;
    }
    .collection-intro-text{
      max-width: 85%;
      margin: auto;
      min-width: 500px;
      text-align: left;
      margin-bottom: 50vh;
      width: 100%;
    }
    .collection-intro-text p{
      letter-spacing: 4px;
      color: white;
      margin: 0;
      font-size: 30px;
      line-height: 42px;
      font-weight: 400;
    }
    .location-page .bg2{
      display: none;
    }
    .location-page .bg3{
      display: block;
      background: url('../images/bgc3.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .location-page .locationChooser .logoContainer img{
      width: calc(100% - 60px);
      max-width: inital;
    }
    .location-page .locationChooser .locations{
      display: block;
      position: absolute;
      bottom: 30px;
      left: 30px;
      width: calc(100% - 60px);
      a{
        width: 100%;
        display: block;
        text-align: left;
        margin: 15px 0;
        &:hover{
          border-bottom: none;
        }
      }
    }
  }

