@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700|Roboto:300,400,500&display=swap");
body { font-family: "Oswald", sans-serif; background: #FBF9F7; padding-bottom: 285px; }
body.customer-account-login, body.customer-account-create { background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); }
@media all and (max-width: 767px) { body { padding-bottom: 560px; } }
body.hide { padding-bottom: 0 !important; }
body.hide .toolbar.toolbar-products { display: none !important; }

* { box-sizing: border-box; }

.page.messages { display: none !important; }

.modals-wrapper { position: relative; z-index: 9999; }

.mobileProductListOverlay { display: none; }

.toolbar.toolbar-products { display: none !important; margin: 0; padding: 0; background: white; height: 110px; overflow: hidden; }
.toolbar.toolbar-products .field.limiter { display: none; }
.toolbar.toolbar-products .pages { width: 100%; }
.toolbar.toolbar-products .pages .items { width: 100%; height: auto; }
.toolbar.toolbar-products .pages .item { margin: 0; font-size: 16px; line-height: 110px; font-weight: 400; width: 2.2222%; float: left; }
.toolbar.toolbar-products .pages .item:nth-child(1) { margin-left: 44.44%; }
.toolbar.toolbar-products .pages .item a { color: rgba(4, 31, 226, 0.5) !important; }
.toolbar.toolbar-products .pages .item a span { color: rgba(4, 31, 226, 0.5) !important; }
.toolbar.toolbar-products .pages .item strong.page { font-size: 16px; line-height: 110px; color: #041FE2 !important; font-weight: 400; padding: 0; }
.toolbar.toolbar-products .pages .item strong.page span { font-size: 16px; line-height: 110px; color: #041FE2 !important; font-weight: 400; }
.toolbar.toolbar-products .pages .item.pages-item-previous, .toolbar.toolbar-products .pages .item.pages-item-next { width: 33.33%; margin-right: 11.11%; margin-left: 0; }
.toolbar.toolbar-products .pages .item.pages-item-next { margin-left: 11.11%; margin-right: 0; }
.toolbar.toolbar-products .pages .item a.action { border: none; margin: 0; width: auto; }
.toolbar.toolbar-products .pages .item a.action:before { display: none; }
.toolbar.toolbar-products .pages .item a.action .label { display: none; }
.toolbar.toolbar-products .pages .item a.action span { text-transform: uppercase; font-size: 16px; line-height: 110px; color: #041FE2 !important; height: auto; position: relative; width: auto; clip: initial; margin: 0; border: none; font-weight: 400; }

/* ADD ZOOM TO NEXTSLICK */
.catalog-product-view .page-wrapper .product-info-main .product.media .nextSlick { z-index: 11; cursor: none; }
.catalog-product-view .page-wrapper .product-info-main .product.media .nextSlick #zoom { display: none; }

.closeSlick { z-index: 999; position: fixed; top: 50%; left: 50%; font-family: "Oswald", sans-serif; font-size: 21px; width: 70px; text-align: center; cursor: default; color: #041FE2; }
.closeSlick #closeZoom { display: none; }

.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next { position: absolute; display: block; height: 100%; width: 40%; line-height: 0; font-size: 0; color: transparent; top: 0; margin-top: 0px; padding: 0; border: none; outline: none; z-index: 10; }
.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-list { z-index: 9; }
.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev:hover, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev:focus, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next:hover, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next:focus, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next:active, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev:active { outline: none; background: transparent; color: transparent; border: none; cursor: auto; box-shadow: none; opacity: 0; }
.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev:hover .paginationTextLeft { display: block; }
.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next:hover .paginationTextRight { display: block; }
.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev:hover:before, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev:focus:before, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next:hover:before, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next:focus:before, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next:before, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev:before { opacity: 0; }
.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-prev.slick-disabled:before, .catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider .slick-next.slick-disabled:before { opacity: 0; }

.products.wrapper ~ .toolbar.toolbar-products { display: block !important; }

body.hide .products.wrapper ~ .toolbar.toolbar-products { display: none !important; }

.catalog-product-view .page-footer { display: none; }

.modal-popup .modal-inner-wrap { width: 100%; max-width: 500px; display: inline-block; height: auto; min-height: 300px; }
.modal-popup .modal-inner-wrap .modal-header * { display: none; }
.modal-popup .modal-inner-wrap .modal-header .action-close { position: absolute; display: block; }
.modal-popup .modal-inner-wrap .modal-footer { height: 1px; position: unset; }
.modal-popup .modal-inner-wrap .modal-footer button { border: solid 2px #041FE2; border-radius: 0; background: white; color: #041FE2; text-transform: uppercase; font-family: "Oswald", sans-serif; letter-spacing: 1px; font-weight: 400; padding: 10px 40px; margin: 0 !important; display: block; }
.modal-popup .modal-inner-wrap .modal-footer button.action-accept { position: absolute; left: 30px; bottom: 30px; }
.modal-popup .modal-inner-wrap .modal-footer button.action-dismiss { position: absolute; right: 30px; bottom: 30px; }
.modal-popup .modal-inner-wrap .modal-content { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: table; background: #041FE2; padding: 0 30px !important; }
.modal-popup .modal-inner-wrap .modal-content div { display: table-cell; vertical-align: middle; text-align: center; }
.modal-popup .modal-inner-wrap .modal-content * { color: white; font-size: 18px; }

h1, h2, h3, h4 { font-weight: 400 !important; letter-spacing: 0.5px; }
h1 a, h2 a, h3 a, h4 a { font-weight: inherit !important; }

.cms-page-view.page-layout-1column .column.main { max-width: 750px; margin: auto; padding: 120px 30px 50px !important; }
.cms-page-view.page-layout-1column .column.main h1 { font-size: 18px; }
.cms-page-view.page-layout-1column .column.main h2 { font-size: 16px; }

.column.main:after { content: ''; display: none; width: 100%; height: 100px; position: fixed; top: 0; left: 0; z-index: 0; }

footer { height: 285px; background: #041FE2; z-index: 9; z-index: 1; position: fixed; bottom: 0; left: 0; width: 100%; }
footer .footer.content { padding: 0; margin: 0; border: none; height: 100%; display: table; width: 100%; }
footer .footer.content .footerLinks { display: table-cell; vertical-align: middle; text-align: center; }
footer .footer.content .footerLinks ul { padding: 0; margin: 0; width: 100%; height: auto; float: left; list-style: none; display: block; text-align: center; }
footer .footer.content .footerLinks ul li { display: inline-block; margin: 0; padding: 0 25px; }
footer .footer.content .footerLinks ul li .widget { margin: 0 !important; float: none; }
footer .footer.content .footerLinks ul li a { color: white; text-transform: uppercase; font-size: 18px; letter-spacing: 0.5px; }
footer .footer.content .footerLinks ul li a:hover, footer .footer.content .footerLinks ul li a:focus { text-decoration: none; color: white; }
footer .block.newsletter { display: none; }

.product-info-main, .productDetails, .relatedProducts { opacity: 0; -moz-transition: opacity 200ms ease-in; -o-transition: opacity 200ms ease-in; -webkit-transition: opacity 200ms ease-in; transition: opacity 200ms ease-in; position: relative; }
.product-info-main h3, .productDetails h3, .relatedProducts h3 { display: none; }

.relatedProducts { position: relative; z-index: 2; width: 100%; height: auto; overflow: hidden; padding-top: 10%; margin-bottom: 15%; }
.relatedProducts .caroufredsel_wrapper { overflow: visible !important; }
.relatedProducts .relatedContainer .relatedProduct { text-align: center; width: 200px; height: auto; float: left; position: relative; margin-left: 50px; max-width: 280px; }
.relatedProducts .relatedContainer .relatedProduct img { width: 100%; height: auto; border: none; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; }
.relatedProducts .relatedContainer .relatedProduct:hover .inforel, .relatedProducts .relatedContainer .relatedProduct.pressed .inforel { opacity: 1; }
.relatedProducts .relatedContainer .relatedProduct:hover img, .relatedProducts .relatedContainer .relatedProduct.pressed img { opacity: 0.4; }
.relatedProducts .relatedContainer .relatedProduct .infoOverlay { opacity: 1; z-index: -1; background-image: linear-gradient(120deg, #FBF9F7 0%, #EBE5DE 100%); position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: 200ms; -webkit-transition: opacity 200ms; }
.relatedProducts .relatedContainer .relatedProduct .inforel { opacity: 0; transition: 200ms; -webkit-transition: opacity 200ms; width: 100%; float: left; height: auto; position: absolute; z-index: 1; left: 0; top: 50%; }
.relatedProducts .relatedContainer .relatedProduct .inforel p { font-size: 19px; line-height: 19px; color: #041FE2; font-weight: 400; text-transform: uppercase; margin-bottom: 10px; }
.relatedProducts .relatedContainer .relatedProduct .inforel p.priceContainer { margin: 0; font-size: 16px; }

.active .product-info-main, .active .productDetails, .active .relatedProducts { opacity: 1; }

.catalog-product-view .active .preloaderContainer, .catalog-category-view .active .preloaderContainer { opacity: 0; }

.preloaderContainer { opacity: 0; }

.catalog-product-view .preloaderContainer, .catalog-category-view .preloaderContainer { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; opacity: 1; transition: opacity 200ms ease-in; -webkit-transition: opacity 200ms ease-in; }

.loader { position: absolute; left: 50%; top: 50%; margin-left: -25px; border: 5px solid #f3f3f3; border-radius: 50%; border-top: 5px solid blue; width: 50px; height: 50px; -webkit-animation: spin 1s linear infinite; /* Safari */ animation: spin 1s linear infinite; }
.loader img { display: none !important; }

/* Safari */
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
.page.messages { position: absolute; width: 500px; text-align: center; left: 50%; margin-left: -250px; }

.bgoverlay { position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 5; height: 0px; background: rgba(255, 255, 255, 0.7); cursor: pointer; transition: opacity 500ms; opacity: 0; -webkit-transition: opacity 500ms; }
.bgoverlay.active { height: auto; opacity: 1; }

header { margin: 0; padding: 50px 50px 0 50px; position: fixed; left: 0; top: 0; height: auto; width: 100%; transition: top 500ms; -webkit-transition: top 500ms; z-index: 9999; }
header.down { transition: top 10ms ease-in-out; -webkit-transition: top 10ms ease-in-out; }
header .panel.wrapper { display: none; }
header .header.content { padding: 0; }
header .header.content .header.links { float: right; }
header .header.content .header.links li { display: none; }
header .header.content .header.links li:first-child { display: block; }

header { height: 1px; padding: 0; }
header.hide { z-index: -1; }

header .header.content { height: 1px; }

.categoriesMenuToggle { position: fixed; left: 50%; top: 50px; z-index: 11; margin-left: -43px; cursor: pointer; text-transform: uppercase; color: #041FE2; letter-spacing: 0.5px; font-weight: 400; font-size: 16px; line-height: 17px; -moz-transition: top 200ms ease-in, transform 200ms ease-in; -o-transition: top 200ms ease-in, transform 200ms ease-in; -webkit-transition: top 200ms ease-in, transform 200ms ease-in; transition: top 200ms ease-in, transform 200ms ease-in; }
.categoriesMenuToggle.up { top: -30px; }
.categoriesMenuToggle.closebutton { position: absolute; opacity: 0; color: white; }
@media all and (min-width: 769px) { .categoriesMenuToggle:before { content: ""; position: absolute; width: 100%; height: 2px; bottom: -6px; left: 0; background-color: #041FE2; visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; transform-origin: 0% 50%; }
  .categoriesMenuToggle:hover:before { visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1); } }

.categoryOverlay { position: fixed; cursor: pointer; left: 0; top: 0; height: 100%; width: 100%; z-index: 9; background: rgba(255, 255, 255, 0.3); display: none; }
.categoryOverlay.active { display: block; }

.catalog-category-view .products.wrapper { filter: blur(0); transition: filter 0.5s ease-in-out; -webkit-transition: filter 0.5s ease-in-out; }
.catalog-category-view .products.wrapper.blurred { filter: blur(6px); }

.categoriesMenu { height: 0; height: 400px; overflow: hidden; position: fixed; left: 0; width: 100%; top: -400px; z-index: 12; background: #041FE2; opacity: 0; -moz-transition: top 500ms ease-out, bottom 500ms ease-out; -o-transition: top 500ms ease-out, bottom 500ms ease-out; -webkit-transition: top 500ms ease-out, bottom 500ms ease-out; transition: top 500ms ease-out, bottom 500ms ease-out; }
.categoriesMenu.active { top: 0; opacity: 1; }
.categoriesMenu .closebutton { opacity: 1; }
.categoriesMenu .catMenu { height: 100%; display: block; width: 100%; text-align: center; }
.categoriesMenu .catMenu ul { display: inline-flex; flex-direction: row; flex-wrap: wrap; width: auto; position: relative; margin-top: 130px; margin-bottom: 0; padding: 0; min-width: 900px; }
.categoriesMenu .catMenu ul li { display: inline-block; padding: 0; color: white; position: relative; text-align: left; width: 33%; margin-bottom: 25px; opacity: 0.4; }
.categoriesMenu .catMenu ul li:nth-child(3n) { width: auto; }
.categoriesMenu .catMenu ul li a { color: white; display: inline; padding: 0; position: relative; text-transform: uppercase; font-size: 15px; letter-spacing: 1px; vertical-align: top; text-decoration: none; }
.categoriesMenu .catMenu ul li:hover { opacity: 1; }
.categoriesMenu .catMenu ul li:hover span { opacity: 1; }
.categoriesMenu .catMenu ul li.active { opacity: 1; }
.categoriesMenu .catMenu ul li.active a { border-bottom: 2px solid white; }
.categoriesMenu .catMenu ul li.active span { opacity: 1; }
.categoriesMenu .catMenu ul li span { position: absolute; font-size: 10px; display: inline; vertical-align: text-top; opacity: 0; margin-left: 10px; }

.customer-account-login .form-create-account, .customer-account-create .form-create-account { display: table-cell; width: 100%; vertical-align: middle; height: auto; }
.customer-account-login .form-create-account .legend, .customer-account-create .form-create-account .legend { display: none; }
.customer-account-login .form-create-account .title, .customer-account-create .form-create-account .title { display: block; text-align: center; width: 100%; color: #041FE2; padding: 0; text-transform: uppercase; font-family: "Oswald", sans-serif; font-weight: 400; font-size: 20px; letter-spacing: 1px; margin-bottom: 100px; }
.customer-account-login .form-create-account .fieldset, .customer-account-create .form-create-account .fieldset { width: 55%; max-width: 650px; margin: auto; }
.customer-account-login .form-create-account .fieldset .label, .customer-account-create .form-create-account .fieldset .label { display: none !important; }
.customer-account-login .form-create-account .fieldset .control, .customer-account-create .form-create-account .fieldset .control { width: 100%; }
.customer-account-login .form-create-account .actions-toolbar, .customer-account-create .form-create-account .actions-toolbar { width: 55%; max-width: 650px; margin-left: 0 !important; margin: auto !important; margin-top: 50px !important; }
.customer-account-login .form-create-account .actions-toolbar .secondary, .customer-account-create .form-create-account .actions-toolbar .secondary { display: none; }
.customer-account-login .form-create-account .actions-toolbar .primary, .customer-account-create .form-create-account .actions-toolbar .primary { float: right; }
.customer-account-login .column.main, .customer-account-create .column.main { display: table; position: relative; padding: 120px 0; }
.customer-account-login .page-title-wrapper, .customer-account-create .page-title-wrapper { display: none; }
.customer-account-login .login-container, .customer-account-create .login-container { display: table-cell; width: 100%; vertical-align: middle; height: auto; }
.customer-account-login .login-container .showLogin, .customer-account-create .login-container .showLogin { display: inline-block; color: #041FE2; padding: 0; text-transform: uppercase; font-family: "Oswald", sans-serif; font-weight: 400; font-size: 20px; letter-spacing: 1px; cursor: pointer; }
.customer-account-login .login-container .block-title, .customer-account-create .login-container .block-title { display: none; }
.customer-account-login .login-container .block-new-customer, .customer-account-create .login-container .block-new-customer { width: 100%; float: left; height: auto; overflow: hidden; }
.customer-account-login .login-container .block-new-customer p, .customer-account-create .login-container .block-new-customer p { display: none; }
.customer-account-login .login-container .block-new-customer .actions-toolbar, .customer-account-create .login-container .block-new-customer .actions-toolbar { margin: 0; text-align: center; }
.customer-account-login .login-container .block-new-customer .actions-toolbar .primary, .customer-account-create .login-container .block-new-customer .actions-toolbar .primary { float: none; }
.customer-account-login .login-container .block-new-customer .actions-toolbar .primary a, .customer-account-create .login-container .block-new-customer .actions-toolbar .primary a { margin: 0; border: none; background: transparent; color: #041FE2; padding: 0; text-transform: uppercase; font-family: "Oswald", sans-serif; font-weight: 400; font-size: 20px; letter-spacing: 1px; }
.customer-account-login .login-container .block-customer-login, .customer-account-create .login-container .block-customer-login { width: 100%; float: left; height: auto; overflow: hidden; text-align: center; margin-bottom: 20px; }
.customer-account-login .login-container .block-customer-login .action.remind, .customer-account-create .login-container .block-customer-login .action.remind { margin: 0; color: blue; font-size: 16px; opacity: 0.5; letter-spacing: 1px; width: 100%; display: block; position: absolute; left: 0; bottom: 50px; }
.customer-account-login .login-container .block-customer-login .action.remind:hover, .customer-account-create .login-container .block-customer-login .action.remind:hover { text-decoration: none; }
.customer-account-login .login-container .block-customer-login .block-content, .customer-account-create .login-container .block-customer-login .block-content { display: none; width: 55%; max-width: 650px; margin: auto; margin-top: 130px; }
.customer-account-login .login-container .block-customer-login .block-content .fieldset, .customer-account-create .login-container .block-customer-login .block-content .fieldset { margin: 0; }
.customer-account-login .login-container .block-customer-login .block-content .note, .customer-account-create .login-container .block-customer-login .block-content .note { display: none; }
.customer-account-login .login-container .block-customer-login.active, .customer-account-create .login-container .block-customer-login.active { margin-bottom: 0; }
.customer-account-login .login-container .block-customer-login.active .block-content, .customer-account-create .login-container .block-customer-login.active .block-content { display: block; }

button.action.primary { border: solid 2px #041FE2; border-radius: 0; background: white; color: #041FE2; text-transform: uppercase; font-family: "Oswald", sans-serif; letter-spacing: 1px; font-weight: 400; padding: 10px 40px; margin: 0 !important; float: right; display: block; }
button.action.primary:hover { border: solid 2px #041FE2; border-radius: 0; background: white; color: #041FE2; text-transform: uppercase; font-family: "Oswald", sans-serif; letter-spacing: 1px; font-weight: 400; padding: 10px 40px; margin: 0; float: right; display: block; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px transparent inset !important; }

#password-strength-meter { display: none !important; }

.login-container input::placeholder, .form-create-account input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #041FE2; opacity: 1; /* Firefox */ }
.login-container input:-ms-input-placeholder, .form-create-account input:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #041FE2; }
.login-container input::-ms-input-placeholder, .form-create-account input::-ms-input-placeholder { /* Microsoft Edge */ color: #041FE2; }
.login-container .actions-toolbar .primary, .form-create-account .actions-toolbar .primary { float: right; }
.login-container .label, .form-create-account .label { display: none !important; }
.login-container .newsletter .label, .form-create-account .newsletter .label { display: inline-block !important; }
.login-container .fieldset.login:after, .form-create-account .fieldset.login:after { display: none; }
.login-container .control, .form-create-account .control { width: 100% !important; }

input { border: none !important; border-bottom: solid 2px blue !important; background-color: transparent !important; padding: 0 !important; color: #041FE2 !important; font-family: "Oswald", sans-serif !important; letter-spacing: 1px !important; }
input:focus { outline: none !important; box-shadow: none !important; }

.catalog-product-view .page-wrapper { padding-top: 0; position: relative; }
.catalog-product-view .page-wrapper .page-title-wrapper.product { display: none; }
.catalog-product-view .page-wrapper .product-info-main, .catalog-product-view .page-wrapper .productDetails { width: 100%; float: left; height: auto; display: block; overflow: hidden; position: relative; }
.catalog-product-view .page-wrapper .productDetails { z-index: 2; }
.catalog-product-view .page-wrapper .productDetails .detail-image, .catalog-product-view .page-wrapper .productDetails .detailContainer { width: 50%; float: left; height: 100%; display: table; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail { display: table-cell; vertical-align: middle; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd { width: 50%; max-width: 250px; margin-left: 15%; float: left; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd h1, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd h1 { margin: 0; line-height: 18px; font-size: 19px; margin-bottom: 10px; text-transform: uppercase; color: #041FE2; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .priceContainer, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .priceContainer { margin: 0; margin-bottom: 25px; line-height: 12px; font-size: 14px; font-family: "Roboto", sans-serif; font-weight: 400; color: #041FE2; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .product.info.detailed, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .product.info.detailed { margin: 0; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .product.info.detailed .product.data.items, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .product.info.detailed .product.data.items { margin: 0; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.title, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.title { display: none; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.content, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.content { padding: 0; border: none; background: transparent; margin: 0; line-height: 23px; font-size: 14px; font-family: "Roboto", sans-serif; margin-bottom: 12px; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.content *, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.content * { color: #041FE2; }
.catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.content p, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .product.info.detailed .product.data.items .data.item.content p { line-height: 23px; font-size: 12px; font-family: "Roboto", sans-serif; margin-bottom: 12px; }
.catalog-product-view .page-wrapper .productDetails .detail-image img, .catalog-product-view .page-wrapper .productDetails .detailContainer img { width: 50%; max-width: 350px; margin-right: 30px; float: right; background-color: #EBE5DE; }
.catalog-product-view .page-wrapper .productDetails .detail-image.noImage, .catalog-product-view .page-wrapper .productDetails .detailContainer.noImage { width: 100%; }
.catalog-product-view .page-wrapper .product-info-main .nextSlick { position: absolute; top: 50%; left: 50%; font-family: "Oswald", sans-serif; font-size: 21px; width: 70px; text-align: center; cursor: default; color: #041FE2; cursor: none; }
.catalog-product-view .page-wrapper .product-info-main .nextSlick .lastPagination { position: relative; left: -4px; }
.catalog-product-view .page-wrapper .product-info-main .nextSlick .paginationTextLeft, .catalog-product-view .page-wrapper .product-info-main .nextSlick .paginationTextRight { display: none; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery { margin: 0; width: 100%; height: 100%; opacity: 0; transition: opacity 500ms; -webkit-transition: opacity 500ms; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery .slick-list { height: 100%; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery .slick-list .slick-track { height: 100%; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery .slick-list .slick-track .slick-slide { overflow: hidden; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery .slick-list .slick-track .slick-slide div { height: 100%; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery .slick-list .slick-track .slick-slide .imageItem { text-align: center; display: flex !important; justify-content: center; align-items: center; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery .slick-list .slick-track .slick-slide img { height: initial; display: inline-block; }
.catalog-product-view .page-wrapper .product-info-main .imageGallery .slick-list .slick-track .slick-slide img.full-height { height: 100% !important; margin-top: 0 !important; }
.catalog-product-view .page-wrapper .product-info-main .product-info-stock-sku { display: none !important; }
.catalog-product-view .page-wrapper .product-info-main .price-label { display: none !important; }
.catalog-product-view .page-wrapper .product-info-main .product-options-bottom .field.qty { display: none !important; }
.catalog-product-view .page-wrapper .product-info-main .action.mailto.friend, .catalog-product-view .page-wrapper .product-info-main .action.tocompare, .catalog-product-view .page-wrapper .product-info-main .action.towishlist { display: none; }
.catalog-product-view .page-wrapper .product-info-main .product.media { height: 100%; width: 100%; position: fixed; top: 0; left: 0; height: 100%; overflow: hidden; z-index: 1; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form { position: fixed; z-index: 9; right: 50px; bottom: 50px; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form form { display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-bottom { float: right; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset { margin: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt { margin: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label, .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option { display: none; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options { margin: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option { background: transparent; color: #041FE2; padding: 0; margin: 0; font-size: 16px; font-weight: 400; text-transform: uppercase; min-width: initial; display: block; overflow: visible; letter-spacing: 1px; border: 2px solid transparent; border-radius: 30px; height: 40px; width: 40px; line-height: 36px; padding-left: 1px; margin-left: 10px; transition: background-color 0.3s ease; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option.selected { outline: none; border: 2px solid #041FE2; color: #FBF9F7; background-color: #041FE2 !important; opacity: 1; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option.selected:hover { border: 2px solid #041FE2; color: #FBF9F7; background-color: #041FE2 !important; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:first-child:before { display: none; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:hover { border: 2px solid #041FE2; color: #041FE2; background-color: transparent !important; outline: none; box-shadow: none; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:focus { outline: none; box-shadow: none; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart { margin: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart * { margin: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart .fieldset { margin: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart .fieldset .actions { padding: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart .fieldset .actions button { line-height: 21px; font-size: 19px; padding: 0; margin: 0; background: transparent; border: none; font-family: "Oswald", sans-serif; color: #041FE2; text-transform: uppercase; letter-spacing: 1px; font-weight: 500; margin-top: 30px !important; }
.catalog-product-view .page-wrapper .product-info-main .product-info-price { position: fixed; left: 50px; bottom: 50px; z-index: 9; }
.catalog-product-view .page-wrapper .product-info-main .product-info-price span { margin-bottom: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-info-price * { color: #041FE2; line-height: 21px; font-size: 24px; letter-spacing: 1px; display: block; }
.catalog-product-view .page-wrapper .product-info-main .product-info-price .price-box { margin: 0; }
.catalog-product-view .page-wrapper .product-info-main .product-info-price .price { line-height: 21px; font-size: 19px; font-weight: 500; letter-spacing: 1px; display: block; }

.paralaxElement { width: 100%; position: relative; float: left; z-index: -1; }

.page-header { border: none; margin: 0; }

.importantStyle { top: 50px !important; position: fixed; }

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main { max-width: 100%; }

.product-item-name, .product.name a { font-weight: inherit; }

.page-wrapper #maincontent { padding: 0; z-index: 2; }
.page-wrapper #maincontent .columns { background-color: #FBF9F7; }
.page-wrapper #maincontent .columns .column.main { width: 100%; padding: 0; }

.checkout-cart-index .cartBgImage.empty { background: url("../images/bgc1.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; z-index: -1; position: fixed; width: 100%; left: 0; top: 0; height: 100%; }
.checkout-cart-index .cart-empty { width: 100%; height: 100%; position: absolute; z-index: -1; display: table; }
.checkout-cart-index .cart-empty .emptyInner { display: table-cell; vertical-align: middle; text-align: center; }
.checkout-cart-index .cart-empty .emptyInner p { display: block; color: white; font-family: "Oswald", sans-serif; font-size: 19px; line-height: 22px; }
.checkout-cart-index .cart-empty .emptyInner p a { color: white; text-decoration: underline; }
.checkout-cart-index footer { display: none; }
.checkout-cart-index .cartBgImage { position: fixed; width: calc(100% - 600px); left: 0; top: 0; height: 100%; background: url("../images/bgc1.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.checkout-cart-index .cart-container { width: 50%; max-width: 600px; min-width: initial; top: 0; right: 0; position: fixed; z-index: 99; height: 100%; background: #041FE2; border: none; margin: 0; padding: 105px 85px 40px 85px; }
.checkout-cart-index .cart-container .form-cart { width: auto; overflow: hidden; }
.checkout-cart-index .cart-container .summary.title, .checkout-cart-index .cart-container .block.discount, .checkout-cart-index .cart-container .action.continue, .checkout-cart-index .cart-container #empty_cart_button { display: none; }
.checkout-cart-index .cart-container.hide { display: none; }
.checkout-cart-index .cart-container .cart-summary { top: initial; width: calc(100% - 170px); padding: 0; margin: 0; position: absolute; bottom: 40px; right: 85px; background: transparent; z-index: -1; }
.checkout-cart-index .cart-container .cart-summary #block-shipping { display: none; }
.checkout-cart-index .cart-container .cart-summary .action.primary.checkout { background: #FBF9F7; color: #041FE2; font-family: "Roboto",sans-serif; font-weight: 500; text-transform: uppercase; margin: 0; width: auto; border-radius: 0; border: none; float: right; position: absolute; padding: 20px 85px; font-size: 16px; line-height: initial; right: 0; bottom: 0; }
.checkout-cart-index .cart-container .cart-summary .checkout-methods-items { padding: 0; margin: 0 !important; }
.checkout-cart-index .cart-container .cart-summary .block.discount { display: none; }
.checkout-cart-index .cart-container .cart-summary #cart-totals { position: absolute; bottom: 155px; width: 100%; border: none; }
.checkout-cart-index .cart-container .cart-summary #cart-totals table tr { display: none; }
.checkout-cart-index .cart-container .cart-summary #cart-totals table tr.totals.sub { display: block; position: absolute; width: 100%; }
.checkout-cart-index .cart-container .cart-summary #cart-totals table tr .mark { float: left; font-size: 20px; text-transform: uppercase; letter-spacing: 1px; width: 50%; text-align: left; margin-bottom: 15px; color: white; padding: 0; font-weight: 300; font-family: "Roboto", sans-serif; padding-bottom: 15px; border-bottom: solid 2px white; }
.checkout-cart-index .cart-container .cart-summary #cart-totals table tr .amount { font-family: "Roboto", sans-serif; border-bottom: solid 2px white; float: right; font-size: 20px !important; text-transform: uppercase; letter-spacing: 1px; width: 50%; text-align: right; margin-bottom: 15px; padding: 0; font-weight: 300; color: white; padding-bottom: 15px; }
.checkout-cart-index .cart-container #shopping-cart-table { display: none; }
.checkout-cart-index .cart-container .cart.table-wrapper { position: relative; left: 0; width: 9999px; height: auto; overflow: hidden; float: left; }
.checkout-cart-index .cart-container .cart.table-wrapper .col { padding: 0; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item { float: left; border: none !important; margin-right: 30px; padding: 0; position: relative; width: 430px; margin-bottom: 33px; background: #FBF9F7; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .item-actions { position: absolute; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action-edit { display: none; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.action-delete, .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.update { float: left; text-transform: uppercase; font-weight: 300; letter-spacing: 1px; text-align: left; border: none; background: transparent; color: white; padding: 0; margin-top: 10px; position: absolute; bottom: -40px; left: 0; width: 110px; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.update { float: right; left: initial; right: 0; width: auto; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.update:before { display: none; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.item { display: none; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details { z-index: 1; position: absolute; right: 0; top: 0; width: 50%; height: 100%; padding: 0; display: table; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner { display: table-cell; vertical-align: middle; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .product-item-name { text-transform: uppercase; font-family: "Oswald",sans-serif; font-weight: 500; letter-spacing: 1px; font-size: 26px; color: #041FE2; margin: 0; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .product-item-name a { color: #041FE2; text-decoration: none !important; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .price { color: #041FE2; letter-spacing: 1px; font-size: 16px; font-weight: 400; margin-top: 5px; display: block; font-family: "Oswald",sans-serif; text-align: left; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options { float: left; margin: 0; margin-top: 10px; margin-right: 15px; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dd { float: left; margin: 0; float: left; text-transform: uppercase; color: #041FE2; font-size: 23px; margin-right: 8px; font-weight: 400 !important; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dd * { font-weight: 400 !important; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dt { float: right; margin: 0; color: #041FE2; text-transform: uppercase; margin: 0; font-size: 14px; font-weight: 400 !important; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dt:after { display: none !important; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty { float: left; margin-top: 10px; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty input { float: left; margin: 0; width: 25px; text-align: right; font-size: 23px; border: none !important; margin-right: 8px; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty span { float: right; margin: 0; color: #041FE2; text-transform: uppercase; margin: 0; font-size: 14px; position: relative; top: initial; left: initial; width: auto; height: auto; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.item { display: inline-block; width: 100%; padding: 0; max-width: initial; position: relative; top: 0; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-image-container { width: 100% !important; }
.checkout-cart-index .cart-container .cart.table-wrapper .cart.item img { height: auto !important; vertical-align: top; max-width: initial; width: 50% !important; float: left; padding: 0 5%; }

.cartItemNavigation .itemCart { font-size: 20px; float: left; line-height: 17px; margin-bottom: 30px; letter-spacing: 1px; font-weight: 300; color: white; font-family: "Roboto", sans-serif; }
.cartItemNavigation .itemCart .currentItem { letter-spacing: 1px; font-weight: 300; }
.cartItemNavigation .itemCart .totalItem { letter-spacing: 1px; font-weight: 300; }
.cartItemNavigation .itemPagination { float: right; font-size: 50px; margin-bottom: 30px; }
.cartItemNavigation .itemPagination .navLeft { opacity: 0.5; cursor: pointer; float: left; background: url("../images/Resume_h_v.png") no-repeat; background-size: 100% auto; color: transparent; width: 17px; height: 17px; }
.cartItemNavigation .itemPagination .navLeft.active { opacity: 1; }
.cartItemNavigation .itemPagination .navRight { opacity: 0.5; background: url("../images/Resume_h_h.png") no-repeat; cursor: pointer; float: left; background-size: 100% auto; color: transparent; width: 17px; height: 17px; margin-left: 20px; }
.cartItemNavigation .itemPagination .navRight.active { opacity: 1; }

.minicart-wrapper { overflow: visible; opacity: 0; }
.minicart-wrapper.show { opacity: 1; }
.minicart-wrapper .ui-widget { display: block !important; }

.minicart-items .action.edit > span, .minicart-items .action.delete > span { width: auto; height: auto; position: relative; margin: 0; }

.block-minicart .items-total { display: none; }

.minicart-wrapper .block-minicart { display: none !important; width: 50%; max-width: 600px; min-width: initial; top: 0; right: 0; position: fixed; z-index: 99; height: 100%; background: #041FE2; border: none; margin: 0; padding: 105px 85px 40px 85px; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemCart { font-size: 20px; float: left; line-height: 17px; margin-bottom: 30px; letter-spacing: 1px; font-weight: 300; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemCart .currentItem { letter-spacing: 1px; font-weight: 300; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemCart .totalItem { letter-spacing: 1px; font-weight: 300; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemPagination { float: right; font-size: 50px; margin-bottom: 30px; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navLeft { opacity: 0.5; cursor: pointer; float: left; background: url("../images/Resume_h_v.png") no-repeat; background-size: 100% auto; color: transparent; width: 17px; height: 17px; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navLeft.active { opacity: 1; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navRight { opacity: 0.5; background: url("../images/Resume_h_h.png") no-repeat; cursor: pointer; float: left; background-size: 100% auto; color: transparent; width: 17px; height: 17px; margin-left: 20px; }
.minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navRight.active { opacity: 1; }
.minicart-wrapper .block-minicart .minicart-items-wrapper { width: calc(100% + 85px); height: auto !important; margin: 0; overflow: hidden; padding: 0; border: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .items-total { display: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items { position: relative; left: 0; width: 9999px; height: auto; overflow: hidden; float: left; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item { float: left; border: none !important; margin-right: 30px; padding: 0; position: relative; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details { z-index: 1; position: absolute; right: 0; top: 0; width: 100%; height: 100%; padding: 0; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container { position: absolute; left: 0; top: 0; width: 100%; height: calc(100% - 33px); display: table; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner { display: table-cell; vertical-align: middle; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .toggle { display: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-name, .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product.options, .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing { width: 50%; float: right; margin: 0; margin-left: 20%; display: block; font-family: "Oswald", sans-serif; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product.options { width: auto; margin-left: 50%; float: left; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing:nth-child(4) { width: auto; float: left; margin: 0; margin-top: 10px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product.options, .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing { font-family: "Oswald", sans-serif; font-weight: 400; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product.options *, .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing * { font-family: "Oswald", sans-serif; font-weight: 400; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product.options { margin-top: 10px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .price-container, .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .details-qty { width: 100%; margin: 0; display: block !important; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty .update-cart-item { position: absolute; bottom: -33px; border: none; background: transparent; text-transform: uppercase; font-family: 'Roboto'; font-weight: 300; letter-spacing: 1px; font-size: 14px; padding: 0; right: 0; z-index: 10; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty .update-cart-item span { font-family: 'Roboto'; font-weight: 300; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty input.item-qty { font-size: 23px; margin-right: 8px; float: left; color: #041FE2; border: none !important; text-align: right; width: 25px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty label { color: #041FE2; float: right; text-transform: uppercase; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty label:after { display: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .qtyContainer { text-transform: uppercase; color: #041FE2; line-height: initial; display: none !important; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .qtyContainer .qtyAll { font-size: 23px; margin-right: 8px; float: left; color: #041FE2; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .qtyContainer .qtyLabel { font-size: 14px; float: left; color: #041FE2; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content { width: auto; float: left; display: block !important; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list { width: auto; margin: 0; float: left; margin-right: 20px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .values { margin: 0; float: left; text-transform: uppercase; color: #041FE2; font-size: 23px; margin-right: 8px; line-height: inital; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .values * { color: #041FE2; line-height: inital; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .label { color: #041FE2; float: left; text-transform: uppercase; margin: 0; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .label * { color: #041FE2; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .price-container * { margin: 0; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .price-container .price { color: #041FE2; letter-spacing: 1px; font-size: 16px; font-weight: 400; margin-top: 5px; display: block; font-family: "Oswald", sans-serif; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-name { text-transform: uppercase; font-family: "Oswald", sans-serif; font-weight: 500; letter-spacing: 1px; font-size: 26px; color: #041FE2; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-name:hover { text-decoration: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-name * { font-family: "Oswald", sans-serif; font-weight: 500; color: #041FE2; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-name *:hover { text-decoration: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions { width: 100%; position: absolute; bottom: 0; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions .primary { float: right; text-align: right; text-transform: uppercase; font-weight: 300; letter-spacing: 1px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions .primary .action.edit { display: none !important; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions .primary * { font-weight: 300; letter-spacing: 1px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions .primary .edit:before { display: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions .secondary { float: left; text-transform: uppercase; font-weight: 300; letter-spacing: 1px; text-align: left; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions .secondary * { font-weight: 300; letter-spacing: 1px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product.actions .delete:before { display: none; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-photo { width: 100%; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-photo span { display: block; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-photo .product-image-container { max-width: initial; width: 100% !important; background: #FBF9F7; margin-bottom: 33px; }
.minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-photo .product-image-container img { width: 100% !important; height: auto !important; vertical-align: top; max-width: initial; padding-bottom: 33px; width: 50% !important; float: left; padding: 0 5%; }
.minicart-wrapper .block-minicart * { color: #FBF9F7; font-weight: 400; font-family: "Roboto", sans-serif; }
.minicart-wrapper .block-minicart .subtotal { padding: 0; margin: 0; border-bottom: solid 2px #FBF9F7; width: calc(100% - 85px - 85px); position: absolute; bottom: 150px; }
.minicart-wrapper .block-minicart .subtotal .label { float: left; font-size: 20px; text-transform: uppercase; letter-spacing: 1px; width: 50%; text-align: left; margin-bottom: 15px; }
.minicart-wrapper .block-minicart .subtotal .label span { font-weight: 300; }
.minicart-wrapper .block-minicart .subtotal .price-container { float: right; font-size: 20px !important; text-transform: uppercase; letter-spacing: 1px; width: 50%; text-align: right; margin-bottom: 15px; }
.minicart-wrapper .block-minicart .subtotal .price-container span { font-size: 20px !important; font-weight: 300 !important; }
.minicart-wrapper .block-minicart #top-cart-btn-checkout { background: #FBF9F7; color: #041FE2; font-family: "Roboto", sans-serif; font-weight: 500; text-transform: uppercase; margin: 0; width: auto; border-radius: 0; border: none; float: right; position: absolute; right: 85px; bottom: 40px; padding: 20px 85px; font-size: 16px; line-height: initial; }
.minicart-wrapper .block-minicart .actions { margin: 0; }
.minicart-wrapper .block-minicart .actions .primary { margin: 0; }
.minicart-wrapper .block-minicart .action.viewcart { display: none; }

.minicart-wrapper .block-minicart.active { display: block !important; }

.priceContainer .oldPrice { text-decoration: line-through; display: inline-block; margin-right: 10px; }

/* ZOOM FUNCTION */
.imageZoomContainer { width: 100%; height: auto; top: 0; left: 0; position: absolute; background: white; z-index: 98; overflow: hidden; }
.imageZoomContainer:hover { cursor: url("./includes/images/close.png"), auto; }
.imageZoomContainer .innerZoom { position: relative; width: 100%; height: auto; left: 0; top: 0; z-index: 99; overflow: hidden; }

.enlarge { z-index: 98; display: block; overflow: hidden; }

.module { width: 300px; height: 300px; border: 1px solid white; background-image: url(https://images.unsplash.com/photo-1499162526249-f5b8b9ba9923?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=865bf5c0b77ceb22e88de9fd41c5a671); background-size: 1000px; }

.page-wrapper .column.main .products { margin: 0; }
.page-wrapper .column.main .products ol { opacity: 0; transition: opacity 200ms ease-in-out; -webkit-transition: opacity 200ms ease-in-out; width: 100%; margin: auto; }
.page-wrapper .column.main .products ol.show { opacity: 1; }
.page-wrapper .column.main .products ol.single li.product-item { width: calc(100% / 2); }
.page-wrapper .column.main .products ol li.product-item { width: calc(100% / 3); margin: 0; padding: 0; overflow: hidden; }
.page-wrapper .column.main .products ol li.product-item .product-item-info { width: 100%; }
.page-wrapper .column.main .products ol li.product-item .product-item-info .product-item-photo { line-height: 0; display: block; height: auto; overflow: hidden; }
.page-wrapper .column.main .products ol li.product-item .product-item-info .image-wrapper { position: relative; }
.page-wrapper .column.main .products ol li.product-item .product-item-info .image-wrapper img { width: 100%; position: relative; z-index: 1; }
.page-wrapper .column.main .products ol li.product-item .product-item-info .image-wrapper .image-gradient { width: 100%; height: 100%; top: 0; left: 0; position: absolute; background-image: linear-gradient(120deg, #FBF9F7 0%, #EBE5DE 100%); z-index: 0; }
.page-wrapper .column.main .products ol li.product-item .product-item-info .image-wrapper .blurred-image img { filter: blur(6px); -webkit-filter: blur(6px); }
.page-wrapper .column.main .products ol li.product-item .product-item-info .image-wrapper .non-blurred-image { transition: opacity 200ms; -webkit-transition: opacity 0.2s; z-index: 1; position: relative; }
.page-wrapper .column.main .products ol li.product-item .product-item-info .image-wrapper .blurred-image { z-index: 0; position: absolute; top: 0; left: 0; }
.page-wrapper .column.main .products ol li.product-item .actions-secondary { text-align: center; background-color: #041FE2; }
.page-wrapper .column.main .products ol li.product-item .actions-secondary .towishlist { display: none; top: 50%; position: absolute; margin-top: -15px; }
.page-wrapper .column.main .products ol li.product-item .actions-secondary .towishlist:before { content: ''; display: block; width: 12px; height: 12px; background-image: url("../images/heart.png"); background-size: 100%; text-align: right; right: 20px; }
.page-wrapper .column.main .products ol li.product-item * { color: #041FE2; }
.page-wrapper .column.main .products ol li.product-item .product-item-inner { display: none; }
.page-wrapper .column.main .products ol li.product-item .product-item-info { position: relative; z-index: 2; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay { cursor: pointer; opacity: 0; transition: 600ms; -webkit-transition: opacity 600ms; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0; flex-direction: column; align-items: center; justify-content: center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name { opacity: 1; cursor: pointer; text-transform: uppercase; font-size: 16px; text-align: left; left: 0; padding-left: 20px; float: left; margin: 0; position: relative; top: 0; width: 100%; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name a { cursor: pointer; text-decoration: none; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { opacity: 1; cursor: pointer; font-family: "Oswald", sans-serif; text-transform: uppercase; font-size: 16px; text-align: left; left: 0; float: left; font-weight: 400; margin: 4px; position: absolute; line-height: initial; top: calc(50% - 16px); padding-left: 30%; width: 100%; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay:hover .product-item-name { opacity: 1; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay:hover .priceContainer { opacity: 1; }
@media all and (min-width: 1950px) { .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { padding-left: 22%; } }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-details { height: 20px; text-align: center; margin: 32px 0 0 0; position: absolute; bottom: 40px; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-details * { font-family: "Roboto", sans-serif; text-transform: uppercase; font-size: 15px; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-details .swatch-attribute-options { margin: 0; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-details .swatch-option:not(.disabled):hover { outline: none; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-details .swatch-option.text { background: none; padding: 0; margin: 0; border: none; font-weight: 300; min-width: initial; line-height: initial; height: auto; color: #FBF9F7; outline: none !important; box-shadow: none !important; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-details .swatch-option.text:first-child:before { display: none; }
.page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-details .swatch-option.text:before { color: #FBF9F7; content: '/'; display: inline-block; padding: 0 5px; }
.page-wrapper .column.main .products ol li.product-item .actions-secondary { position: absolute; margin: auto; height: 60px; z-index: 99; right: 0; width: 100%; bottom: -60px; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -ms-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; opacity: 1; }
.page-wrapper .column.main .products ol li.product-item .actions-secondary .action.tocompare { display: none; }
.page-wrapper .column.main .products ol li.product-item:hover, .page-wrapper .column.main .products ol li.product-item.pressed { /* CHANGESZ ON HOVER */ }
.page-wrapper .column.main .products ol li.product-item:hover .productListOverlay, .page-wrapper .column.main .products ol li.product-item.pressed .productListOverlay { opacity: 1; }
.page-wrapper .column.main .products ol li.product-item:hover .non-blurred-image, .page-wrapper .column.main .products ol li.product-item.pressed .non-blurred-image { opacity: 1; }
.page-wrapper .column.main .products ol li.product-item:hover .actions-secondary, .page-wrapper .column.main .products ol li.product-item.pressed .actions-secondary { background-color: blue; opacity: 1; bottom: 0; }
.page-wrapper .column.main .products ol li.product-item:hover .actions-secondary .towishlist, .page-wrapper .column.main .products ol li.product-item.pressed .actions-secondary .towishlist { display: block; position: absolute; text-align: right; right: 20px; background: white; padding: 7px; }
.page-wrapper .column.main .products ol li.product-item:hover .product-item-name, .page-wrapper .column.main .products ol li.product-item:hover .priceContainer, .page-wrapper .column.main .products ol li.product-item.pressed .product-item-name, .page-wrapper .column.main .products ol li.product-item.pressed .priceContainer { color: white; text-align: left; }
.page-wrapper .column.main .products ol li.product-item.pressed .productListOverlay .product-item-name { display: block; top: 50% !important; margin-top: -33px; }
.page-wrapper .column.main .products ol li.product-item.pressed .productListOverlay .priceContainer { display: block; top: 50% !important; line-height: initial; }
.page-wrapper .column.main .products ol li.product-item:nth-child(3n+1) { margin-left: 0; }

@media all and (max-width: 1199px) { .categoriesMenu .catMenu ul { min-width: 800px; }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { font-size: 16px; }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { padding-left: 38%; margin: 4px; }
  .minicart-wrapper .block-minicart .subtotal .price-container span { line-height: 13px; font-size: 17px !important; }
  .minicart-wrapper .block-minicart { padding: 55px 50px 30px 50px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper { width: calc(100% + 50px); }
  .minicart-wrapper .block-minicart .subtotal { width: calc(100% - 50px - 50px); bottom: 100px; }
  .minicart-wrapper .block-minicart .subtotal .label { line-height: 13px; font-size: 17px; }
  .minicart-wrapper .block-minicart .amount.price-container { line-height: 13px; font-size: 17px !important; }
  .minicart-wrapper .block-minicart .amount.price-container * { line-height: 13px; font-size: 17px !important; }
  .minicart-wrapper .block-minicart #top-cart-btn-checkout { padding: 15px 45px; right: 50px; line-height: 10px; font-size: 14px; bottom: 30px; }
  .checkout-cart-index .cart-container { padding: 55px 50px 50px 50px; width: 55%; }
  .checkout-cart-index .cart-container .cart-summary { width: calc(100% - 100px); right: 50px; }
  .checkout-cart-index .cartBgImage { width: 45%; } }
@media all and (max-width: 1000px) { .categoriesMenu .catMenu ul li a { font-weight: 14px; }
  .categoriesMenu .catMenu ul li { margin-bottom: 20px; }
  .categoriesMenu .catMenu ul li span { margin-top: 2px; font-size: 9px; }
  .categoriesMenu .catMenu ul { min-width: auto; max-width: 700px; } }
@media all and (max-width: 999px) { .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { font-size: 14px; }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { padding-left: 43%; margin: 5px; }
  .minicart-wrapper .block-minicart { width: 55%; }
  .relatedProducts .relatedContainer .relatedProduct .inforel p { font-size: 21px; } }
@media all and (max-width: 768px) { .product-info-main .nextSlick { position: absolute; top: unset !important; left: 0 !important; right: 0 !important; display: block; bottom: 30px !important; margin: 0 auto; display: block !important; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-bottom { height: 55px !important; }
  .toolbar.toolbar-products .pages .item:nth-child(1) { margin-left: 33.33%; }
  .toolbar.toolbar-products .pages .item { width: 6.6666%; }
  .toolbar.toolbar-products .pages .item.pages-item-previous, .toolbar.toolbar-products .pages .item.pages-item-next { margin-left: 0; margin-right: 0; }
  .toolbar.toolbar-products .pages .item a.action span { display: none; }
  .categoriesMenuToggle { top: 30px; }
  .categoriesMenu .catMenu ul { flex-direction: column; padding-left: 50px; min-width: 100%; max-width: 100%; margin-top: 180px; }
  .categoriesMenu .catMenu ul li { opacity: 1; margin-bottom: 35px; }
  .categoriesMenu .catMenu ul li a { font-size: 18px; }
  .categoriesMenu .catMenu ul li span { opacity: 1; }
  .categoriesMenu { height: 100%; height: calc(100% - 100px); top: calc(-100% + 100px); }
  .page-products .columns { z-index: 13; }
  .checkout-cart-index .cartBgImage.empty { background: url("../images/bgc2.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
  .checkout-cart-index .cart-container { width: 65%; }
  .checkout-cart-index .cartBgImage { width: 35%; background: url("../images/bgc2.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty input.item-qty { font-size: 15px; height: 13px; width: 17px; }
  .catalog-product-view .page-wrapper .product-info-main .product-info-price { left: 30px; bottom: 30px; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form { right: 30px; bottom: 30px; }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { font-size: 26px; }
  .minicart-wrapper .block-minicart #top-cart-btn-checkout { bottom: 45px; right: 55px; }
  .minicart-wrapper .block-minicart .subtotal { width: calc(100% - 55px - 55px); bottom: 115px; }
  .minicart-wrapper .block-minicart { width: 65%; padding: 105px 55px 45px 55px; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination { margin-bottom: 20px; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemCart { font-size: 17px; line-height: 13px; margin-bottom: 20px; }
  .minicart-wrapper .block-minicart .minicart-wrapper .block-minicart .subtotal .price-container span, .minicart-wrapper .block-minicart .minicart-wrapper .block-minicart .subtotal .label { line-height: 13px; font-size: 15px !important; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .details-qty.qty label { font-size: 7px; line-height: 8px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .details-qty.qty input.item-qty { font-size: 15px; line-height: 13px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing { margin-top: 4px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .qtyContainer .qtyAll { font-size: 15px; line-height: 13px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .qtyContainer .qtyLabel { font-size: 7px; line-height: 8px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .values { font-size: 15px; line-height: 13px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .label { font-size: 7px; line-height: 8px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .price-container .price { font-size: 11px !important; line-height: 9px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-name { font-size: 15px; line-height: 13px; } }
@media all and (max-width: 767px) { body { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }
  .relatedProducts { padding-top: 30% !important; }
  .page-wrapper .column.main .products ol li.product-item:hover .actions-secondary, .page-wrapper .column.main .products ol li.product-item.pressed .actions-secondary { opacity: 0.8; }
  .page-wrapper .column.main .products ol li.product-item.pressed .mobileProductListOverlay { bottom: 0; }
  .page-wrapper .column.main .products ol li.product-item .mobileProductListOverlay { display: block; position: absolute; height: 50%; bottom: -300px; -webkit-transition: all 0.7s ease-out; -moz-transition: all 0.7s ease-out; -ms-transition: all 0.7s ease-out; -o-transition: all 0.7s ease-out; transition: all 0.7s ease-out; text-align: center; background-color: #041FE2; opacity: 0.8; width: 100%; z-index: 9; flex-direction: column; align-items: center; justify-content: center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
  .page-wrapper .column.main .products ol li.product-item .actions-secondary { display: none; }
  /* HIDE ADD TO WISHLIST HEART-ICON */
  .page-wrapper .column.main .products ol li.product-item:hover .actions-secondary .towishlist, .page-wrapper .column.main .products ol li.product-item.pressed .actions-secondary .towishlist { display: none; }
  /* OVERLAY TEXT - TITLE */
  .page-wrapper .column.main .products ol li.product-item .mobileProductListOverlay .product-item-name { margin: 0; padding: 0; text-align: center; font-size: 14px; color: white; text-transform: uppercase; letter-spacing: 1px; }
  /* OVERLAY TEXT - PRICE */
  .page-wrapper .column.main .products ol li.product-item .mobileProductListOverlay .priceContainer { margin: 0 auto; padding: 11px 0 0 0; font-size: 11px; text-align: center; color: white; letter-spacing: 1px; }
  /* SHOP BUTTON STYLINGZ */
  .shopContainer { font-size: 11px; text-transform: uppercase; color: white !important; position: absolute; bottom: 0; margin: 0 0 20px 0; letter-spacing: 1px; }
  /* SINGLE GRID LAYOUT */
  .hideElement .mobileProductListOverlay { display: none !important; }
  .single { /* OVERLAY TEXT - TITLE */ /* OVERLAY TEXT - PRICE */ /* SHOP BUTTON STYLINGZ */ }
  .single .mobileProductListOverlay { height: 150px !important; margin: 0 20px 0 20px; bottom: 25vh !important; width: calc(100% - 40px) !important; opacity: 0 !important; -moz-transition: 0.5s all !important; -o-transition: 0.5s all !important; -webkit-transition: 0.5s all !important; transition: 0.5s all !important; }
  .single li.product-item.pressed .mobileProductListOverlay { opacity: 1 !important; outline: none; }
  .single li.product-item .mobileProductListOverlay .product-item-name { position: absolute; top: 25px; left: 20px; font-size: 16px !important; }
  .single li.product-item .mobileProductListOverlay .priceContainer { position: absolute; top: 42px; left: 20px; font-size: 12px !important; }
  .single .shopContainer { position: absolute; right: 20px; bottom: 32px; font-size: 16px; margin: 0; }
  body.catalog-product-view { padding-bottom: 0 !important; }
  .toolbar.toolbar-products .pages .item:nth-child(1) { margin-left: 10%; }
  .toolbar.toolbar-products .pages .item.pages-item-previous { margin-left: 0; }
  .toolbar.toolbar-products { height: 80px; }
  .toolbar.toolbar-products .pages .item, .toolbar.toolbar-products .pages .item strong.page, .toolbar.toolbar-products .pages .item strong.page span { line-height: 80px; }
  .toolbar.toolbar-products .pages .item { width: 16%; }
  .toolbar.toolbar-products .pages .item.pages-item-previous, .toolbar.toolbar-products .pages .item.pages-item-next { width: 10%; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option.selected { border: none; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:hover, .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:focus { border: none; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option { border: none; background: transparent; color: #041FE2; padding: 0; margin: 0; font-size: 17px; font-weight: 400; text-transform: uppercase; min-width: initial; display: block; overflow: visible; letter-spacing: 1px; border: none; border-radius: 30px; height: initial; width: 20px; line-height: 17px; padding-left: 1px; margin-right: 15px; }
  .page-footer.cat-shown { display: none; }
  .page-main.cat-shown .products.wrapper { display: none; }
  .categoriesMenu .catMenu ul { opacity: 0; -moz-transition: opacity 200ms ease-in; -o-transition: opacity 200ms ease-in; -webkit-transition: opacity 200ms ease-in; transition: opacity 200ms ease-in; transition-delay: 500ms; -webkit-transition-delay: 500ms; padding-bottom: 100px; }
  .categoriesMenu .catMenu ul li { width: auto; }
  .categoriesMenu:before { content: ''; display: inline-block; width: 100%; height: 100px; position: relative; top: -10px; left: 0; background: #041fe2; z-index: 9; box-shadow: 0 30px 30px #041fe2; -webkit-box-shadow: 0 30px 30px #041fe2; opacity: 0; -moz-transition: opacity 200ms ease-in; -o-transition: opacity 200ms ease-in; -webkit-transition: opacity 200ms ease-in; transition: opacity 200ms ease-in; transition-delay: 400ms; -webkit-transition-delay: 400ms; }
  .categoriesMenu:after { content: ''; display: inline-block; width: 100%; height: 50px; position: relative; bottom: 0; left: 0; background: #041fe2; z-index: 9; box-shadow: 0 -30px 30px #041fe2; -webkit-box-shadow: 0 -30px 30px #041fe2; opacity: 0; -moz-transition: opacity 200ms ease-in; -o-transition: opacity 200ms ease-in; -webkit-transition: opacity 200ms ease-in; transition: opacity 200ms ease-in; transition-delay: 400ms; -webkit-transition-delay: 400ms; }
  .categoriesMenu.active { position: relative; }
  .categoriesMenu.active:before { opacity: 1; position: fixed; }
  .categoriesMenu.active:after { opacity: 1; position: fixed; }
  .categoriesMenu.active .catMenu ul { opacity: 1; }
  .categoriesMenu.active .categoriesMenuToggle.closebutton { top: 30px !important; bottom: auto; position: fixed !important; }
  .checkout-cart-index .cartBgImage.empty { background: url("../images/bgc3.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
  .cart.table-wrapper .product-item-photo { max-width: 100%; position: relative; top: 0; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details { padding-left: 50%; width: 100%; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .product-item-name { display: block; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .price { width: 100%; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .price:before { display: none; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.action-delete, .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.update { color: #041FE2; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty:before { display: none; }
  .checkout-cart-index .cart-container .cart-summary #cart-totals table tr.totals.sub { color: #041FE2; }
  .checkout-cart-index .cart-container .cart-summary #cart-totals table tr.totals.sub * { color: #041FE2; }
  .checkout-cart-index .cart-container .cart-summary { right: 30px; width: calc(100% - 60px); }
  .checkout-cart-index .cart-container .cart-summary #cart-totals { bottom: 125px; }
  .checkout-cart-index .cart-container .cart-summary #cart-totals table tr .mark, .checkout-cart-index .cart-container .cart-summary #cart-totals table tr .amount { color: #041FE2; border-color: #041FE2; line-height: 13px; font-size: 15px !important; font-weight: 400; }
  .checkout-cart-index .cart-container .cart-summary #cart-totals table tr .mark *, .checkout-cart-index .cart-container .cart-summary #cart-totals table tr .amount * { color: #041FE2; }
  .cartItemNavigation .itemCart { color: #041FE2; }
  .cartItemNavigation .itemCart * { color: #041FE2; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options { margin-right: 5px; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .product-item-name { line-height: 17px; font-size: 21px; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .product-item-name a { line-height: 21px; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty { width: auto; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .price { font-size: 14px !important; line-height: 12px; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dd, .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty input { font-size: 18px; line-height: 16px; height: 16px; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dt, .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty span { font-size: 10px; line-height: 10px; }
  .checkout-cart-index .cart-container .cart-summary .action.primary.checkout { position: fixed; width: calc(100% - 60px); left: 30px; color: white; background: blue; bottom: 30px; padding-left: 0; padding-right: 0; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navLeft, .cartItemNavigation .itemPagination .navLeft { background: url("../images/Resume_b_v.png") no-repeat; background-size: 100% auto; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navRight, .cartItemNavigation .itemPagination .navRight { background: url("../images/Resume_b_h.png") no-repeat; background-size: 100% auto; }
  .checkout-cart-index .cartItemNavigation { width: 100%; float: left; }
  .checkout-cart-index .cart-container .form-cart { float: left; width: calc(100% + 30px); }
  .checkout-cart-index .cart-container { padding: 90px 30px 30px 30px; width: 100%; background: #FBF9F7; max-width: 100%; }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item { background: #EBE5DE; margin-right: 15px; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navLeft { background: url("../images/Resume_b_v.png") no-repeat; background-size: 100% auto; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navRight { background: url("../images/Resume_b_h.png") no-repeat; background-size: 100% auto; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty input.item-qty { font-size: 18px; height: 16px; line-height: 16px; width: 20px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .details-qty.qty label { font-size: 10px; line-height: 10px; }
  footer { height: 560px; }
  footer .footer.content .footerLinks ul li { display: block; width: 100%; text-align: center; padding: 20px 25px; }
  .categoriesMenuToggle { top: initial !important; bottom: 30px; }
  .categoriesMenuToggle.closebutton { position: absolute; }
  .categoriesMenuToggle.closebutton:after, .categoriesMenuToggle.closebutton:before { display: none; }
  .categoriesMenu { top: 100%; min-height: 100vh; height: auto; }
  header.hide { z-index: 1; position: absolute; }
  .page-wrapper .column.main .products ol li.product-item { width: calc(100% / 2); }
  .page-wrapper .column.main .products ol.single li.product-item { width: 100%; }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { font-size: 21px; }
  .double .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .double .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer { font-size: 16px; }
  .customer-account-login .login-container .block-customer-login .block-content, .customer-account-login .form-create-account .fieldset, .customer-account-create .form-create-account .fieldset, .customer-account-create .form-create-account .actions-toolbar { width: 100%; max-width: calc(100% - 80px); }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-photo .product-image-container { background: #EBE5DE; }
  .minicart-wrapper .block-minicart .subtotal .label, .minicart-wrapper .block-minicart .subtotal .price-container span { line-height: 13px; font-size: 15px; }
  .minicart-wrapper .block-minicart { padding: 140px 40px 40px 40px; width: 100%; background: #FBF9F7; }
  .minicart-wrapper .block-minicart * { color: #041FE2; }
  .minicart-wrapper .block-minicart .subtotal .label span { font-weight: 400; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemCart { font-weight: 400; }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemCart .currentItem, .minicart-wrapper .block-minicart .cartItemNavigation .itemCart .totalItem { font-weight: 400; }
  .minicart-wrapper .block-minicart .subtotal .price-container span { font-weight: 400 !important; }
  .minicart-wrapper .block-minicart .subtotal { border-bottom: solid 2px #041FE2; bottom: 130px; width: calc(100% - 40px - 40px); }
  .minicart-wrapper .block-minicart #top-cart-btn-checkout { background: #041FE2; color: #FBF9F7; font-weight: 400; bottom: 40px; right: 40px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper { width: calc(100% + 40px); }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item { margin-right: 15px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-name { line-height: 17px; font-size: 21px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing { margin-top: 7px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product.options { margin-top: 10px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .values { font-size: 18px; line-height: 16px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .content .product.options.list .label { font-size: 10px; line-height: 10px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .qtyContainer .qtyAll { font-size: 18px; line-height: 16px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .qtyContainer .qtyLabel { font-size: 10px; line-height: 10px; }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .price-container .price { font-size: 14px !important; line-height: 12px; }
  .catalog-product-view .page-wrapper .product-info-main { -webkit-order: 2; order: 2; }
  .catalog-product-view .page-wrapper .product-info-main .product.media { background: #EBE5DE; padding: 0; position: relative; opacity: 1 !important; }
  .catalog-product-view .page-wrapper .product-info-main .product.media .slick-arrow { display: none !important; }
  .catalog-product-view .page-wrapper .productDetails { -webkit-order: 1; order: 1; padding: 0 30px 50px 30px; }
  .catalog-product-view .page-wrapper .productDetails .detail-image { display: none; }
  .catalog-product-view .page-wrapper .productDetails .detailContainer { width: 100%; height: auto; display: block; }
  .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail { display: block; }
  .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd { width: 100%; margin: 0; max-width: initial; }
  .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd h1 { line-height: 19px; font-size: 19px; margin-bottom: 12px; letter-spacing: 0; }
  .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .price-container { margin-bottom: 25px; line-height: 14px; font-size: 19px; }
  .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd p { line-height: 31px; font-size: 14px; }
  .catalog-product-view .page-wrapper .product-info-main .product-info-price { display: none; }
  .catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .priceContainer, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .priceContainer { font-size: 13px; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option, .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label, .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option, .catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart .fieldset .actions button { line-height: 19px !important; font-size: 19px !important; }
  .relatedProducts { -webkit-order: 3; order: 3; padding-bottom: 100px; overflow-x: hidden; overflow-y: visible; }
  .relatedProducts h3 { display: block; font-family: "Oswald", sans-serif; letter-spacing: 0; margin: 0; text-transform: uppercase; margin: 50px 30px 30px 30px; color: #041FE2; font-size: 19px; font-weight: 500 !important; }
  .relatedProducts .relatedContainer { height: 100% !important; overflow: hidden; }
  .relatedProducts .relatedContainer .relatedProduct { margin-left: 20px; margin-bottom: 63px; }
  .relatedProducts .relatedContainer .relatedProduct .inforel { display: block; opacity: 1; top: calc(100% + 15px) !important; margin-top: 0; text-align: left; }
  .relatedProducts .relatedContainer .relatedProduct .inforel p.relName { margin-bottom: 10px; text-transform: uppercase; font-size: 18px !important; line-height: 18px; }
  .relatedProducts .relatedContainer .relatedProduct .inforel p.priceContainer { font-family: Roboto; font-size: 14px !important; }
  .catalog-product-view .page-wrapper .product-info-main .nextSlick { text-indent: 99990px; background: url("../images/Resume_b_h.png") no-repeat; background-size: 100% auto; width: 20px; height: 20px; top: 30px !important; left: 60px !important; }
  .catalog-product-view .page-wrapper .product-info-main .nextSlick .paginationText, .catalog-product-view .page-wrapper .product-info-main .nextSlick .lastPagination { display: none; }
  .catalog-product-view .page-wrapper .product-info-main .product.media .slick-prev.slick-arrow { position: absolute; top: 30px; left: 30px; display: block !important; margin: 0; width: 100%; height: 100%; border-radius: 0; background: url("../images/Resume_b_v.png") no-repeat; background-size: 100% auto; border: none !important; box-shadow: none !important; z-index: 1; }
  .catalog-product-view .page-wrapper .product-info-main .product.media .slick-prev.slick-arrow:before { display: none; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form { right: 30px; left: 30px; bottom: 30px; position: absolute; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart .fieldset .actions button { margin: 0 !important; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper { float: left; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .swatch-attribute-options { display: none; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label { display: block; background: transparent; border: none; color: #041FE2; padding: 0; margin: 0; line-height: 21px; font-size: 24px; font-weight: 500; text-decoration: underline; height: initial; width: auto; text-transform: uppercase; min-width: initial; display: block; overflow: visible; letter-spacing: 1px; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form.active .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label { display: none; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form.active .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option { display: block; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form.active .swatch-attribute-selected-option { display: none !important; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form.active .swatch-attribute-options { display: block; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form.active .box-tocart .fieldset .actions button { display: none; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .swatch-attribute-label.active { display: none !important; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option { display: none; background: transparent; border: none; color: #041FE2; padding: 0; margin: 0; line-height: 21px; font-size: 24px; font-weight: 500; text-decoration: underline; height: initial; width: auto; text-transform: uppercase; min-width: initial; display: block; overflow: visible; letter-spacing: 1px; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option { line-height: 21px; font-size: 24px; font-weight: 500; }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:before { line-height: 21px; font-size: 24px; font-weight: 500; }
  .catalog-product-view .page-wrapper .product-info-main .product-info-price .price-box { display: none; }
  .catalog-product-view .page-wrapper { padding-top: 100px; } }

/*# sourceMappingURL=style.css.map */
