
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700|Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');


// font-family: 'Roboto', sans-serif;
// font-family: 'Oswald', sans-serif;

 
$beige: #FBF9F7;
$darkbeige: #EBE5DE;
$blue: #041FE2;
$pink: #F371B7;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;
$libra: 'Libre Baskerville', serif;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

body{
  font-family: $oswald;
  background: $beige;
  &.customer-account-login, &.customer-account-create{
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  }
  padding-bottom: 50px;
  @media all and (max-width: 767px){
    padding-bottom: 560px;
  }
  &.hide{
    .toolbar.toolbar-products{
      display: none !important;
    }
    padding-bottom: 0 !important;
  }
}



.prices-tier.items{
  // display: none;
}
*{
  box-sizing: border-box;
}
.page.messages{
  display: none !important;
}

.modals-wrapper{
  position: relative;
  z-index: 9999;
}
.mobileProductListOverlay{
  display:  none;
}
.toolbar.toolbar-products{
  display: none !important;
  margin: 0;
  padding: 0;
  background: white;
  height: 110px;
  overflow: hidden;
  .field.limiter{
    display: none;
  }
  .pages{
    width: 100%;
    .items{
      width: 100%;
      height: auto;
    }
    .item{
      margin: 0;
      font-size: 16px;
      line-height: 110px;
      font-weight: 400;
      width: 2.2222%;
      float: left;
      &:nth-child(1){
        margin-left: 44.44%;
      }
      a{
        color: rgba(4, 31, 226, 0.5) !important;
        span{
          color: rgba(4, 31, 226, 0.5) !important;
        }
      }
      strong.page{
        font-size: 16px;
        line-height: 110px;
        color: $blue !important;
        font-weight: 400;
        padding: 0;
        span{
          font-size: 16px;
          line-height: 110px;
          color: $blue !important;
          font-weight: 400;
        }
      }
      &.pages-item-previous, &.pages-item-next{
        width: 33.33%;
        margin-right: 11.11%;
        margin-left: 0;
      }
      &.pages-item-next{
       margin-left: 11.11%; 
       margin-right: 0; 
      }

      a.action{
        border: none;
        margin: 0;
        width: auto;
        &:before{
          display: none;
        }
        .label{
          display: none;
        }
        span{
          text-transform: uppercase;
          font-size: 16px;
          line-height: 110px;
          color: $blue !important;
          height: auto;
          position: relative;
          width: auto;
          clip: initial;
          margin: 0;
          border: none;
          font-weight: 400;
        }
      }
    }
  }
}


/* ADD ZOOM TO NEXTSLICK */ 
.catalog-product-view .page-wrapper .product-info-main .product.media{
 
  .nextSlick  {
    z-index: 11;
    cursor: none;

    #zoom {
      display: none;
    }

  }

}
.closeSlick {

  z-index: 9999999;
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  width: 70px;
  text-align: center;
  cursor: default;
  color: #041FE2;

  #closeZoom {
    display: none;
  }
}

.backgroundOverlayMain {
  width: 100%;
  height: 100vh;
  float: left;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: transparent;
  display: none;

  &.clickBlock {
    display:block;
  }
}

  

.catalog-product-view .page-wrapper .product-info-main .product.media .slick-slider {

  .slick-prev, .slick-next{
    position: absolute;
    display: block;
    height: 100%;
    width: 40%;
    line-height: 0;
    font-size: 0;
    // background: red;
    color: transparent;
    top: 0;
    margin-top: 0px;
    padding: 0;
    border: none;
    outline: none;
    z-index: 98;
    
  }

  .slick-list {
    z-index: 9;
  }

  
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus, 
  .slick-next:active,
  .slick-prev:active,{
    outline: none;
    background: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    box-shadow:none;
    opacity:0;
  }
  .slick-prev:hover {
    
    .paginationTextLeft {
      display: block;
    }
  }
  .slick-next:hover {
    
    .paginationTextRight {
      display: block;
    }
  }

  .slick-prev:hover:before, .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before,
  .slick-next:before,
  .slick-prev:before, {
    opacity: 0;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0;
  }

}



.products.wrapper~.toolbar.toolbar-products{
  display: block !important;
}
body.hide .products.wrapper~.toolbar.toolbar-products{
  display: none !important;
}

//remember to remove
// .switcher-currency{
//   display: none !important;
// }

.catalog-product-view .page-footer{
  display: none;
}

.modal-popup .modal-inner-wrap{
  width: 100%;
  max-width: 500px;
  display: inline-block;
  height: auto;
  min-height: 300px;
  .modal-header{
    *{
      display: none;
    }
    .action-close{
      position: absolute;
      display: block;
    }
  }
  .modal-footer{
    height: 1px;
    position: unset;
    button{
      border: solid 2px $blue;
      border-radius: 0;
      background: white;
      color: $blue;
      text-transform: uppercase;
      font-family: $oswald;
      letter-spacing: 1px;
      font-weight: 400;
      padding: 10px 40px;
      margin: 0 !important;
      display: block;
      &.action-accept{
        position: absolute;
        left: 30px;
        bottom: 30px;
      }
      &.action-dismiss{
        position: absolute;
        right: 30px;
        bottom: 30px; 
      }
    }
  }
  .modal-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    background: $blue;
    padding: 0 30px !important;
    div{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    *{
      color: white;
      font-size: 18px;
    }
  }
}
h1, h2, h3, h4{
  // font-family:'Georgia W01 Regular';
  // text-transform: uppercase;
  // letter-spacing: 1.5px;
  // font-weight: initial !important;
  // margin-top: 0;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
  a{
    font-weight: inherit !important;
  }
}
p, button, input{
  // font-family:'Avenir LT W01_45 Book1475508';
  // font-weight: initial !important;
  // font-size: 14px;
  // font-weight: 300;
}
.cms-page-view.page-layout-1column{
  .column.main{
    max-width: 750px;
    margin: auto;
    padding: 120px 30px 50px !important;
    h1{
      font-size: 18px;
    }
    h2{
      font-size: 16px;
    }
  }
}
.column.main{
  &:after {
    content: '';
    display: none;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
footer{
  height: 285px;
  // height: 375px; mobile
  background: $blue;
  z-index: 9;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .footer.content{
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
    display: table;
    width: 100%;
    .footerLinks{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      ul{
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        float: left;
        list-style: none;
        display: block;
        text-align: center;
        li{
          display: inline-block;
          margin: 0;
          padding: 0 25px;
          .widget{
            margin: 0 !important;
            float: none;
          }
          a{
            color: white;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 0.5px;
            &:hover, &:focus{
              text-decoration: none;
              color: white;
            }
          }
        }      
      }
    }
  }
  .block.newsletter{
    display: none;
  }
}
.product-info-main, .productDetails, .relatedProducts{
  opacity: 0;
  @include transition(opacity 200ms ease-in);
  // transition: opacity 200ms ease-in;
  position: relative;
  h3{
    display: none;
  }
}
.relatedProducts{
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 15%;
  margin-bottom: 30%;
  .caroufredsel_wrapper{
    // width: 100% !important;
    overflow: visible !important;
  }
  .relatedContainer{
    .relatedProduct{
      text-align: center;
      width: 200px;
      height: auto;
      float: left;
      position: relative;
      margin-left: 50px;
      max-width: 280px;
      img{
        width: 100%;
        height: auto;
        border: none;
        @include transition(opacity 200ms);
        // transition: 200ms;
        // -webkit-transition: opacity 200ms;
      }
      &:hover, &.pressed{
        .inforel{
          opacity: 1;
        }
        img{
          opacity: 0.4;
        }
      }
      .infoOverlay{
        opacity: 1;
        z-index: -1;
        background-image: linear-gradient(120deg, $beige 0%, $darkbeige 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 200ms;
        -webkit-transition: opacity 200ms;
      }
      .inforel{
        opacity: 0;
        transition: 200ms;
        -webkit-transition: opacity 200ms;
        width: 100%;
        float: left;
        height: auto;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 50%;
        // margin-top: -35px;
        p{
          font-size: 19px;
          line-height: 19px;
          color: $blue;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 10px;
          &.priceContainer{
            margin: 0;
            font-size: 16px;
          }
        }
      }
      
    }
  }
}
.active .product-info-main, .active .productDetails, .active .relatedProducts{
  opacity: 1;
}

.catalog-product-view .active .preloaderContainer, .catalog-category-view .active .preloaderContainer{
  opacity: 0;
}
.preloaderContainer{
  opacity: 0;
}
.catalog-product-view .preloaderContainer, .catalog-category-view .preloaderContainer{
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    transition: opacity 200ms ease-in;
    -webkit-transition: opacity 200ms ease-in;
}
.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid blue;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  img{
    display: none !important;
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.page.messages{
  position: absolute;
  width: 500px;
  text-align: center;
  left: 50%;
  margin-left: -250px;
}
.bgoverlay{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  height: 0px;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  transition: opacity 500ms;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  &.active{
    height: auto;
    opacity: 1;
  }
}

header{
  margin: 0;
  padding: 50px 50px 0 50px;
  // position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  transition: top 500ms;
  -webkit-transition: top 500ms;
  // z-index: 10;
  z-index: 9999;
  &.up{
    top:-80px;
  }
  &.down{
    transition: top 10ms ease-in-out;
    -webkit-transition: top 10ms ease-in-out;
  }
  .panel.wrapper{
    display: none;
  }
  .header.content{
    padding: 0;
    .header.links{
      float: right;
      li{
        display: none;
        &:first-child{
          display: block;
        }
      }
    }
  }
}

header{
  height: 1px;
  padding: 0;
  &.hide{
    z-index: -1;
  }
}
header .header.content {
  height: 1px;
}

header .header.content .mobileToggle {
  display: none;
}
.categoriesMenuToggle{
  position: fixed;
  left: 50%;
  top: 50px;
  z-index: 11;
  margin-left: -43px;
  cursor: pointer;
  text-transform: uppercase;
  color: $blue;
  letter-spacing: 0.5px;
  font-weight: 400;
  // padding-right: 15px;
  font-size: 16px;
  line-height: 17px;
  // padding-left: 5px;
  @include transition(top 200ms ease-in, transform 200ms ease-in);
  // background: url('../images/Kategori_blue.png') no-repeat;
  // background-size: auto 17px;
  // background-position-x: 100%;
  &:hover{
    // transform: translate(5px, 0);
    // border-left: 2px solid $blue;
  }
  &.up{
    top: -30px;
  }
  &:before{
    // content: '^';
    // display: block;
    // font-family: "Oswald",sans-serif;
    // position: absolute;
    // top: -1px;
    // right: 0;
    // font-size: 21px;
  }
  &:after{
    // content: '^';
    // display: block;
    // transform: rotate(180deg);
    // font-family: "Oswald",sans-serif;
    // position: absolute;
    // bottom: -2px;
    // right: 0px;
    // font-size: 21px;
  }
  &.closebutton{
    position: absolute;
    // top: -40px;
    // left: 50%;
    opacity: 0;
    color: white;
    // background: none;
  }

  @media all and (min-width: 769px){
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: $blue;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      transform-origin:  0% 50%;
    }
    
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
.categoryOverlay{
  position: fixed;
  cursor: pointer;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(255,255,255,0.3);
  display: none;
  &.active{
    display: block;
  }

}
.catalog-category-view .products.wrapper{
  filter: blur(0);
  transition: filter 0.5s ease-in-out;
  -webkit-transition: filter 0.5s ease-in-out;
  &.blurred{
    filter: blur(6px);
  }
}
.categoriesMenu{
  height: 0;
  height: 400px;
  overflow: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  top: -400px;
  z-index: 12;
  background: $blue;
  opacity: 0;
  @include transition(top 500ms ease-out, bottom 500ms ease-out);
  &.active{
    top: 0;
    opacity: 1;
  }
  .closebutton{
    opacity: 1;
  }
  .catMenu{
    height: 100%;
    display: block;
    width: 100%;
    text-align: center;
    ul{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: auto;
      position: relative;
      margin-top: 130px;
      margin-bottom: 0;
      padding: 0;
      min-width: 900px;
      li{
        display: inline-block;
        padding: 0;
        color: white;
        position: relative;
        text-align: left;
        width: 33%;
        margin-bottom: 25px;
        opacity: 0.4;
        &:nth-child(3n){
          width: auto;
        }
        a{
          color: white;
          display: inline;
          padding: 0;
          position: relative;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 1px;
          vertical-align: top;
          text-decoration: none;
        }
        &:hover{
          opacity: 1;
          span{
            opacity: 1;
          }
        }
        &.active{
          opacity: 1;
          a{
            border-bottom: 2px solid white;
          }
          span{
            opacity: 1;
          }
        }
        span{
          position: absolute;
          font-size: 10px;
          display: inline;
          vertical-align: text-top;
          opacity: 0;
          margin-left: 10px;
        }
      }
    }
  }
}




.customer-account-login, .customer-account-create{
  .form-create-account{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: auto;
    .legend{
      display: none;
    }
    .title{
      display: block;
      text-align: center;
      width: 100%;
      color: $blue;
      padding: 0;
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 100px;
    }
    .fieldset{
      width: 55%;
      max-width: 650px;
      margin: auto;
      .label{
        display: none !important;
      }
      .control{
        width: 100%;
      }
    }
    .actions-toolbar{
      width: 55%;
      max-width: 650px;
      margin-left: 0 !important;
      margin: auto !important;
      margin-top: 50px !important;
      .secondary{
        display: none;
      }
      .primary{
        float: right;
      }
    }
  }
  .column.main{
    display: table;
    position: relative;
    padding: 120px 0;
  }
  .page-title-wrapper{
    display: none;
  }
  .login-container{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: auto;
    .showLogin{
      display: inline-block;
      color: $blue;
      padding: 0;
      text-transform: uppercase;
      font-family: $oswald;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      cursor: pointer;
    }
    .block-title{
      display: none;
    }
    .block-new-customer{
      width: 100%;
      float: left;
      height: auto;
      overflow: hidden;
      p{
        display: none;
      }
      .actions-toolbar{
        margin: 0;
        text-align: center;
        .primary{
          float: none;
          a{
            margin: 0;
            border: none;
            background: transparent;
            color: $blue;
            padding: 0;
            text-transform: uppercase;
            font-family: $oswald;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 1px;
          }
        }
      }
    }
    .block-customer-login{
      width: 100%;
      float: left;
      height: auto;
      overflow: hidden;
      text-align: center;
      margin-bottom: 20px;
      .action.remind{
        margin: 0;
        color: blue;
        font-size: 16px;
        opacity: 0.5;
        letter-spacing: 1px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 50px;
        &:hover{
          text-decoration: none;
        }
      }
      .block-content{
        display: none;
        width: 55%;
        max-width: 650px;
        margin: auto;
        margin-top: 130px;
        .fieldset{
          margin: 0;
        }
        .note{
          display: none;
        }
      }
      &.active{
        margin-bottom: 0;
        .block-content{
          display: block;
        }
      }
    }
  }
}
button.action.primary{
  border: solid 2px $blue;
  border-radius: 0;
  background: white;
  color: $blue;
  text-transform: uppercase;
  font-family: $oswald;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 10px 40px;
  margin: 0 !important;
  float: right;
  display: block;
  &:hover{
    border: solid 2px $blue;
    border-radius: 0;
    background: white;
    color: $blue;
    text-transform: uppercase;
    font-family: $oswald;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 40px;
    margin: 0;
    float: right;
    display: block;
  }
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}
#password-strength-meter{
  display: none !important;
}
.login-container, .form-create-account{
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $blue;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $blue;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    color: $blue;
  }
  .actions-toolbar{
    .primary{
      float: right;
    }
  }
  .label{
    display: none !important;
  }
  .newsletter{
    .label{
      display: inline-block !important;
    }
  }
  .fieldset.login:after{
    display: none;
  }
  .control{
    width: 100% !important;
  }
  .fieldset:after{
    //display: none;
  }
}
input{
  border: none !important;
  border-bottom: solid 2px blue !important;
  background-color: transparent !important;
  padding: 0 !important;
  color: $blue !important;
  font-family: $oswald !important;
  letter-spacing: 1px !important;
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}
// .swatch-option.text.selected{
//   background-color: transparent !important;
// }
.catalog-product-view{
  .page-wrapper{
    padding-top: 0;
    position: relative;
    .page-title-wrapper.product{
      display: none;
    }
    .product-info-main, .productDetails{
      width: 100%;
      float: left;
      height: auto;
      display: block;
      overflow: hidden;
      position: relative;
    }
    .productDetails{
      z-index: 2;
      .detail-image, .detailContainer{
        width: 50%;
        float: left;
        height: 100%;
        display: table;
        .innerDetail{
          display: table-cell;
          vertical-align: middle;
          .detailsProd{
            width: 50%;
            max-width: 250px;
            margin-left: 15%;
            float: left;  
            h1{
              margin: 0;
              line-height: 18px;
              font-size: 18px;
              font-weight: 500!important;
              margin-bottom: 12px;
              text-transform: uppercase;
              color: $blue;
            }
            .priceContainer{
              margin: 0;
              margin-bottom: 40px;
              line-height: 12px;
              font-size: 14px;
              font-family: $roboto;
              font-weight: 400;
              color: $blue;
            }
            .product.info.detailed{
              margin: 0;
              .product.data.items{
                margin: 0;
                .data.item.title{
                  display: none;
                }
                .data.item.content{
                  padding: 0;
                  border: none;
                  background: transparent;
                  margin: 0;
                  line-height: 24px;
                  font-size: 14px;
                  font-family: $libra;
                  margin-bottom: 12px;
                  *{
                    color: $blue;
                  }
                  p{
                    line-height: 23px;
                    font-size: 12px;
                    font-family: $roboto;
                    margin-bottom: 12px;
                  }
                }
              }
            }
          }
        }
        img{
          width: 50%;
          max-width: 350px;
          margin-right: 30px;
          float: right;
          background-color: $darkbeige;
        }
        &.noImage{
          width: 100%;
        }
      }

    }
    .product-info-main{
      // position: fixed;
      .nextSlick{
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: $oswald;
        font-size: 21px;
        width: 70px;
        text-align: center;
        cursor: default;
        text-transform: uppercase;
        color: $blue;
        transition: left 200ms ease-out, top 200ms ease-out;
        -webkit-transition: left 200ms ease-out, top 200ms ease-out;
        cursor: none;
        .lastPagination{
          position: relative;
          left: -4px;
        }
        .paginationTextLeft, .paginationTextRight {
          display: none;
        }
      }
      .imageGallery{
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 500ms;
        -webkit-transition: opacity 500ms;
        .slick-list{
          height: 100%;
          .slick-track{
            height: 100%;
            .slick-slide{
              overflow: hidden;
              div{
                height: 100%;
              }
              .imageItem{
                text-align: center;
                display: flex !important;
                justify-content: center;
                align-items: center;
              }
              img{
                height: initial;
                display: inline-block;
                &.full-height{
                  height: 100% !important;
                  margin-top: 0 !important;
                }
                &:nth-child(1), &:nth-child(2){
                  // transform: scale(1.2);
                }
              }
            }
          }
        }
      }
      .product-info-stock-sku{
        display: none !important;
      }
      .price-label{
        display: none !important;
      }
      .product-options-bottom{
        .field.qty{
          display: none !important;
        }
      }
      .action.mailto.friend, .action.tocompare, .action.towishlist{
        display: none;
      }
      .product.media{
        height: 100%;
        width: 100%;
        // position: relative;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        z-index: 1;
      }
      .product-add-form{
        position: fixed;
        z-index: 9;
        right: 30px;
        bottom: 30px;
        form {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
        }
        .product-options-bottom{
          float: right;
        }
        .product-options-wrapper{
          margin-right: -15px;
          .fieldset{
            margin: 0;
            .swatch-opt{
              margin: 0;
              .swatch-attribute-label, .swatch-attribute-selected-option{
                display: none;
              }
              .swatch-attribute-options{
                margin: 0;
                .swatch-option{
                  background: transparent;
                  color: $blue;
                  padding: 0;
                  margin: 0;
                  font-size: 15px;
                  font-weight: 400;
                  text-transform: uppercase;
                  min-width: initial;
                  display: block;
                  overflow: visible;
                  letter-spacing: 1px;
                  // opacity: 0.4;
                  border: 2px solid transparent;
                  border-radius: 30px;
                  height: 40px;
                  width: 40px;
                  line-height: 36px;
                  padding-left: 1px;
                  margin-left: 10px;
                  transition: background-color 0.3s ease;
                  &.selected{
                    outline: none;
                    border: 2px solid $blue;
                    color: $beige;
                    background-color: $blue !important;
                    // font-weight: 500;
                    opacity: 1;

                    &:hover {
                      border: 2px solid $blue;
                      color: $beige;
                      background-color: $blue !important;
                    }
                  }
                  &:first-child{
                    &:before{
                      display: none;
                    }
                  }
                  &:before{
                    // display: block;
                    // font-weight: 400;
                    // float: left;
                    // content: '/';
                    // color: $blue;
                    // line-height: 15px;
                    // font-size: 17px;
                    // letter-spacing: 1px;
                    // padding: 0 5px;
                    // opacity: 0.4;
                  }
                  &:hover {
                    border: 2px solid $blue;
                    color: $blue;
                    background-color: transparent !important;
                    outline: none;
                    box-shadow: none;
                  }
                  &:focus {
                    outline: none;
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
        .box-tocart{
          margin: 0;
          *{
            margin: 0;
          }
          .fieldset{
            margin: 0;
            .actions{
              padding: 0;
              button{
                line-height: 21px;
                font-size: 18px;
                padding: 0;
                margin: 0;
                background: transparent;
                border: none;
                font-family: $oswald;
                color: $blue;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 500;
                margin-top:14px !important;
              }
            }
          }
        }
      }
      .product-info-price{
        position: fixed;
        left: 30px;
        bottom: 30px;
        z-index: 9;
        span{
          margin-bottom: 0;
        }
        *{
          color: $blue;
          line-height: 21px;
          font-size: 24px;
          letter-spacing: 1px;
          display: block;
        }
        .price-box{
          margin: 0;
        }
        .price{
          line-height: 21px;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1px;
          display: block;

        }
      }
    }
  }
}
.paralaxElement{
  width: 100%;
  position: relative;
  float: left;
  z-index: -1;
}
.page-header{
  border: none;
  margin: 0;
  // background-color: white;
  // width:100%;
  // height: 120px;
  // float:left;
  // position: relative;
  // z-index: 1;
}

.importantStyle {
  top:50px!important;
  position: fixed;
}

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main{
  max-width: 100%;
}
.product-item-name, .product.name a{
  font-weight: inherit;
}

.page-wrapper{
  #maincontent{
    padding: 0;
    z-index: 2;
    .columns{
      background-color: $beige;
      .column.main{
        width: 100%;
        padding: 0;
      }
    }
  }
}

.checkout-cart-index{
  .cartBgImage.empty{
    background: url('../images/bgc1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }
  .cart-empty{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: table;
    .emptyInner{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      p{
        display: block;
        color: white;
        font-family: $oswald;
        font-size: 19px;
        line-height: 22px;
        a{
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
  footer{
    display: none;
  }
  .cartBgImage{
    position: fixed;
    width: calc(100% - 600px);
    left: 0;
    top: 0;
    height: 100%;
    background: url('../images/bgc1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .cart-container{
    width: 50%;
    max-width: 600px;
    min-width: initial;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99;
    height: 100%;
    background: $blue;
    border: none;
    margin: 0;
    padding: 105px 85px 40px 85px; 
    .form-cart{
      width: auto;
      overflow: hidden;
    }
    .summary.title, .block.discount, .action.continue, #empty_cart_button{
      display: none;
    }
    &.hide{
      display: none
    }
    .cart-summary{
      top: initial;
      width: calc(100% - 170px);
      padding: 0;
      margin: 0;
      position: absolute;
      bottom: 40px;
      right: 85px;
      background: transparent;
      z-index: -1;
      #block-shipping{
        display: none;

      }
      .action.primary.checkout{
        background: $beige;
        color: $blue;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
        width: auto;
        border-radius: 0;
        border: none;
        float: right;
        position: absolute;
        padding: 20px 85px;
        font-size: 16px;
        line-height: initial;
        right: 0;
        bottom: 0;
      }
      .checkout-methods-items{
        padding: 0;
        margin: 0 !important;
      }
      .block.discount{
        display: none;
      }
      #cart-totals{
        position: absolute;
        bottom: 155px;
        width: 100%;
        border: none;
        table{
          tr{
            display: none;
            &.totals.sub{
              display: block;
              position: absolute;
              width: 100%;
            }
            .mark{
              float: left;
              font-size: 20px;
              text-transform: uppercase;
              letter-spacing: 1px;
              width: 50%;
              text-align: left;
              margin-bottom: 15px;
              color: white;
              padding: 0;
              font-weight: 300;
              font-family: $roboto;
              padding-bottom: 15px;
              border-bottom: solid 2px white;
            }
            .amount{
              font-family: $roboto;
              border-bottom: solid 2px white;
              float: right;
              font-size: 20px !important;
              text-transform: uppercase;
              letter-spacing: 1px;
              width: 50%;
              text-align: right;
              margin-bottom: 15px;
              padding: 0;
              font-weight: 300;
              color: white;
              padding-bottom: 15px;
            }
          }
        }
      }
    }
    #shopping-cart-table{
      display: none;
    }
    .cart.table-wrapper{
      position: relative;
      left: 0;
      width: 9999px;
      height: auto;
      overflow: hidden;
      float: left;
      .col{
        padding: 0;
      }
      .cart.item{
        float: left;
        border: none !important;
        margin-right: 30px;
        padding: 0;
        position: relative;
        width: 430px;
        margin-bottom: 33px;
        background: $beige;
        .item-actions{
          position: absolute;
        }
        .action-edit{
          display: none;
        }
        .action.action-delete, .action.update{
          float: left;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: 1px;
          text-align: left;
          border: none;
          background: transparent;
          color: white;
          padding: 0;
          margin-top: 10px;
          position: absolute;
          bottom: -40px;
          left: 0;
          width: 110px;
        }
        .action.update{
          float: right;
          left: initial;
          right: 0;
          width: auto;
          &:before{
            display: none;
          }
        }
        .col.item{
          display: none;
        }
        .product-item-details{
          z-index: 1;
          position: absolute;
          right: 0;
          top: 0;
          width: 50%;
          height: 100%;
          padding: 0;
          display: table;
          .itemInner{
            display: table-cell;
            vertical-align: middle;
            .product-item-name{
              text-transform: uppercase;
              font-family: "Oswald",sans-serif;
              font-weight: 500;
              letter-spacing: 1px;
              font-size: 26px;
              color: $blue;
              margin: 0;
              a{
                color: $blue;
                text-decoration: none !important;
              }
            }
            .price{
              color: #041FE2;
              letter-spacing: 1px;
              font-size: 16px;
              font-weight: 400;
              margin-top: 5px;
              display: block;
              font-family: "Oswald",sans-serif;
              text-align: left;
            }
            .item-options{
              float: left;
              margin: 0;
              margin-top: 10px;
              margin-right: 15px;
              dd{
                float: left;
                margin: 0;
                float: left;
                text-transform: uppercase;
                color: $blue;
                font-size: 23px;
                margin-right: 8px;
                font-weight: 400 !important;
                *{
                  font-weight: 400 !important;
                }

              }
              dt{
                float: right;
                margin: 0;
                color: $blue;
                text-transform: uppercase;
                margin: 0;
                font-size: 14px;
                font-weight: 400 !important;
                &:after{
                  display: none !important;
                }
              }
            }
          }
        }
        .product-item-photo{

        }
        .col.qty{
          float: left;
          margin-top: 10px;
          input{
            float: left;
            margin: 0;
            width: 25px;
            text-align: right;
            font-size: 23px;
            border: none !important;
            margin-right: 8px;
          }
          span{
            float: right;
            margin: 0;
            color: $blue;
            text-transform: uppercase;
            margin: 0;
            font-size: 14px;
            position: relative;
            top: initial;
            left: initial;
            width: auto;
            height: auto,
          }
        }
        .col.item{
          display: inline-block;
          width: 100%;
          padding: 0;
          max-width: initial;
          position: relative;
          top: 0;
        }
        .product-image-container{
          width: 100% !important;
        }
        img{
          height: auto !important;
          vertical-align: top;
          max-width: initial;
          // padding-bottom: 33px;
          width: 50% !important;
          float: left;
          padding: 0 5%;
        }
      }
    }
  }
}

.cartItemNavigation{
  .itemCart{
    font-size: 20px;
    float: left;
    line-height: 17px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
    font-family: $roboto;
    .currentItem{
      letter-spacing: 1px;
      font-weight: 300;
    }
    .totalItem{
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
  .itemPagination{
    float: right;
    font-size: 50px;
    margin-bottom: 30px;
    .navLeft{
      opacity: 0.5;
      cursor: pointer;
      float: left;
      background: url("../images/Resume_h_v.png") no-repeat;
      background-size: 100% auto;
      color: transparent;
      width: 17px;
      height: 17px;
      &.active{
        opacity: 1;
      }
    }
    .navRight{
      opacity: 0.5;
      background: url("../images/Resume_h_h.png") no-repeat;
      cursor: pointer;
      float: left;
      background-size: 100% auto;
      color: transparent;
      width: 17px;
      height: 17px;
      margin-left: 20px;
      &.active{
        opacity: 1;
      }
    }
  }
}


.minicart-wrapper{
  overflow: visible;
  opacity: 0;
  &.show{
    opacity: 1;
  }
  .ui-widget{
    display: block !important; 
  }
}
.minicart-items .action.edit>span, .minicart-items .action.delete>span{
  width: auto;
  height: auto;
  position: relative;
  margin: 0;
}
.block-minicart .items-total{
  display: none;
}
.minicart-wrapper .block-minicart{
  display: none !important;
  // display: block !important;
  width: 50%;
  max-width: 600px;
  min-width: initial;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 99;
  height: 100%;
  background: $blue;
  border: none;
  margin: 0;
  padding: 105px 85px 40px 85px;
  .cartItemNavigation{
    .itemCart{
      font-size: 20px;
      float: left;
      line-height: 17px;
      margin-bottom: 30px;
      letter-spacing: 1px;
      font-weight: 300;
      .currentItem{
        letter-spacing: 1px;
        font-weight: 300;
      }
      .totalItem{
        letter-spacing: 1px;
        font-weight: 300;
      }
    }
    .itemPagination{
      float: right;
      font-size: 50px;
      margin-bottom: 30px;
      .navLeft{
        opacity: 0.5;
        cursor: pointer;
        float: left;
        background: url("../images/Resume_h_v.png") no-repeat;
        background-size: 100% auto;
        color: transparent;
        width: 17px;
        height: 17px;
        &.active{
          opacity: 1;
        }
      }
      .navRight{
        opacity: 0.5;
        background: url("../images/Resume_h_h.png") no-repeat;
        cursor: pointer;
        float: left;
        background-size: 100% auto;
        color: transparent;
        width: 17px;
        height: 17px;
        margin-left: 20px;
        &.active{
          opacity: 1;
        }
      }
    }
  }
  .minicart-items-wrapper{
    width: calc(100% + 85px);
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    .items-total{
      display: none;
    }
    .minicart-items{
      position: relative;
      left: 0;
      width: 9999px;
      height: auto;
      overflow: hidden;
      float: left;
      li.item{
        float: left;
        border: none !important;
        margin-right: 30px;
        padding: 0;
        position: relative;
        .product-item-details{
          z-index: 1;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          // height: calc(100% + 33px);
          height: 100%;
          padding: 0;
          .product-detail-container{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% - 33px);
            display: table;
            .product-detail-inner{
              display: table-cell;
              vertical-align: middle;
              .toggle{
                display: none;
              }
              .product-item-name, .product.options, .product-item-pricing{
                width: 50%;
                float: right;
                margin: 0;
                margin-left: 20%;
                display: block;
                font-family: $oswald;
              }
              .product.options{
                width: auto;
                margin-left: 50%;
                float: left;
              }
              .product-item-pricing:nth-child(4){
                width: auto;
                float: left;
                margin: 0;
                margin-top: 10px;
              }

              .product.options, .product-item-pricing{
                font-family: $oswald;
                font-weight: 400;
                *{
                  font-family: $oswald;
                  font-weight: 400;
                }
              }
              .product.options{
                margin-top: 10px;
              }
              .price-container, .details-qty{
                width: 100%;
                margin: 0;
                display: block !important;
              }
              .product-item-pricing{
                .details-qty.qty{
                  // display: none !important;
                  .update-cart-item{
                    position: absolute;
                    bottom: -33px;
                    border: none;
                    background: transparent;
                    text-transform: uppercase;
                    font-family: 'Roboto';
                    font-weight: 300;
                    letter-spacing: 1px;
                    font-size: 14px;
                    padding: 0;
                    right: 0;
                    z-index: 10;
                    span{
                      font-family: 'Roboto';
                      font-weight: 300;
                    }
                  }
                  input.item-qty{
                    font-size: 23px;
                    margin-right: 8px;
                    float: left;
                    color: #041FE2;
                    border: none !important;
                    text-align: right;
                    width: 25px;
                  }
                  label{
                    color: $blue;
                    float: right;
                    text-transform: uppercase;
                    &:after{
                      display: none;
                    }
                  }
                }
              }
              .qtyContainer{
                text-transform: uppercase;
                color: $blue;
                line-height: initial;
                display: none !important;
                .qtyAll{
                  font-size: 23px;
                  margin-right: 8px;
                  float: left;
                  color: $blue;
                }
                .qtyLabel{
                  font-size: 14px;
                  float: left;
                  color: $blue;
                }
              }
              .content{
                width: auto;
                float: left;
                display: block !important;
                .product.options.list{
                  width: auto;
                  margin: 0;
                  float: left;
                  margin-right: 20px;
                  .values{
                    margin: 0;
                    float: left;
                    text-transform: uppercase;
                    color: $blue;
                    font-size: 23px;
                    margin-right: 8px;
                    line-height: inital;
                    *{
                      color: $blue;
                      line-height: inital;
                    }
                  }
                  .label{
                    color: $blue;
                    float: left;
                    text-transform: uppercase;
                    margin: 0;
                    *{
                      color: $blue;
                    }
                  }
                }
              }
              .price-container{
                *{
                  margin: 0;
                }
                .price{
                  color: $blue;
                  letter-spacing: 1px;
                  font-size: 16px;
                  font-weight: 400;
                  margin-top: 5px;
                  display: block;
                  font-family: $oswald;
                }
              }
              .product-item-name{
                text-transform: uppercase;
                font-family: $oswald;
                font-weight: 500;
                letter-spacing: 1px;
                font-size: 26px;
                color: $blue;
                &:hover{
                  text-decoration: none;
                }
                *{
                  font-family: $oswald;
                  font-weight: 500;
                  color: $blue;
                  &:hover{
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .product.actions{
            width: 100%;
            position: absolute;
            bottom: 0;
            .primary{
              float: right;
              text-align: right;
              text-transform: uppercase;
              font-weight: 300;
              letter-spacing: 1px;
              .action.edit{
                display: none !important;
              }
              *{
                font-weight: 300;
                letter-spacing: 1px;
              }
              .edit{
                &:before{
                  display: none;
                }
              }
            }
            .secondary{
              float: left;
              text-transform: uppercase;
              font-weight: 300;
              letter-spacing: 1px;
              text-align:left;
              *{
                font-weight: 300;
                letter-spacing: 1px;
              }
            }
            .delete{
              &:before{
                display: none;
              }
            }
          }
        }
        .product-item-photo{
          width: 100%;
          span{
            display: block;
          }
          .product-image-container{
            max-width: initial;
            width: 100% !important;
            background: $beige;
            margin-bottom: 33px;
            img{
              width: 100% !important;
              height: auto !important;
              vertical-align: top;  
              max-width: initial;
              padding-bottom: 33px;
              width: 50% !important;
              float: left;
              padding: 0 5%;
            }
          }
        }
      }
    }
    
  }
  *{
    color: $beige;
    font-weight: 400;
    font-family: $roboto;
  }
  .subtotal{
    padding: 0;
    margin: 0;
    border-bottom: solid 2px $beige;
    width: calc(100% - 85px - 85px);
    position: absolute;
    bottom: 150px;
    .label{
      float: left;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 50%;
      text-align: left;
      margin-bottom: 15px;
      span{
        font-weight: 300;

      }
    }
    .price-container{
      float: right;
      font-size: 20px !important;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 50%;
      text-align: right;
      margin-bottom: 15px;
      span{
        font-size: 20px !important;
        font-weight: 300 !important;
      }
    }
  }
  // opacity: 0;
  #top-cart-btn-checkout{
    background: $beige;
    color: $blue;
    font-family: $roboto;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    width: auto;
    border-radius: 0;
    border: none;
    float: right;
    position: absolute;
    right: 85px;
    bottom: 40px;
    padding: 20px 85px;
    font-size: 16px;
    line-height: initial;
  }
  .actions{
    margin: 0;
    .primary{
      margin: 0;
    }
  }
  .action.viewcart{
    display: none;
  }
}
.minicart-wrapper .block-minicart.active{
  display: block !important;
  // opacity: 1;
}
.priceContainer .oldPrice{
  text-decoration: line-through;
  display: inline-block;
  margin-right: 10px;
}

/* ZOOM FUNCTION */
.imageZoomContainer {

  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  z-index: 9999;
  overflow: hidden;


  .innerZoom {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: 99;
    overflow: hidden;
  }  
}





.enlarge {
    z-index: 98;
    display: block;
    overflow: hidden;

}


.module {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  background-image: url(https://images.unsplash.com/photo-1499162526249-f5b8b9ba9923?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=865bf5c0b77ceb22e88de9fd41c5a671);
  background-size: 1000px;
}


.page-wrapper .column.main .products{
  margin: 0;
  ol{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
    // padding: 0 22px;
    // max-width: 1400px;
    width: 100%;
    margin: auto;
    &.show{
      opacity: 1;
    }
    &.single{
      li.product-item{
        width: calc(100% / 2);  
      }  
    }
    li.product-item{
      width: calc(100% / 3);
      margin: 0;
      padding: 0;
      overflow: hidden;
      .product-item-info{
        width: 100%;
        .product-item-photo{
          line-height: 0;
          display: block;
          height: auto;
          overflow: hidden;
        }
        .image-wrapper{
          position: relative;
          img{
            width: 100%;
            // -webkit-transform: scale(1.05);
            // -ms-transform: scale(1.05);
            // transform: scale(1.05);
            position: relative;
            z-index: 1;
          }
          .image-gradient{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-image: linear-gradient(120deg, $beige 0%, $darkbeige 100%);
            z-index: 0;
          }
          .blurred-image img{
            filter: blur(6px);         
            -webkit-filter: blur(6px);
          }
          .non-blurred-image{
            transition: opacity 200ms;
             -webkit-transition: opacity 0.2s;
            z-index: 1;
            position: relative;
          }
          .blurred-image{
            z-index: 0;
            position: absolute;
            top:0;
            left: 0;
          }
        }
      }
      .actions-secondary{
        text-align: center;
        background-color: $blue;
        .towishlist{
          display: none;
          top: 50%;
          position: absolute;
          margin-top: -15px;
        }

        .towishlist:before{
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          background-image: url("../images/heart.png");
          background-size: 100%;
          text-align: right;
          right: 20px;
        }
      }
      *{
        color: $blue;
      }
      .product-item-inner{
        display: none;
      }
      .product-item-info{
        position: relative;
        z-index: 2;
      }

      .productListOverlay{
        cursor: pointer;
        opacity: 0;
        transition: 600ms;
        -webkit-transition: opacity 600ms;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        .product-item-name{
          opacity: 1;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 16px;
          text-align: left;
          left: 0;
          padding-left: 20px;
          float: left;
          margin: 0;
          position: relative;
          top: 0;
          width: 100%;
          a{
            cursor: pointer;
            text-decoration: none;
          }
        }
        .priceContainer{
          opacity: 1;
          cursor: pointer;
          font-family: $oswald;
          text-transform: uppercase;
          font-size: 16px;
          text-align: left;
          left:0;
          float: left;
          font-weight: 400;
          margin: 4px;
          position: absolute;
          line-height: initial;
          top: calc(50% - 16px);
          padding-left: 30%;
          width: 100%;
        }
        &:hover{
          .product-item-name{
            opacity: 1;
          }
          .priceContainer{
            opacity: 1;
          }
        }





@media all and (min-width: 1950px){

    .priceContainer{
      padding-left: 22%;
    }

}
        .product-item-details{
          *{
            font-family: $roboto;
            text-transform: uppercase;
            font-size: 15px;
          }
          height: 20px;
          text-align: center;
          margin: 32px 0 0 0;
          position: absolute;
          bottom: 40px;
          .swatch-attribute-options{
            margin: 0;
          }
          .swatch-option:not(.disabled):hover{
            outline: none;
          }
          // .swatch-option.text.selected{
          //   background: transparent;
          // }
          .swatch-option.text{
            background: none;
            padding: 0;
            margin: 0;
            border: none;
            font-weight: 300;
            min-width: initial;
            line-height: initial;
            height: auto;
            color: $beige;
            outline: none !important;
            box-shadow: none !important;
            &:first-child{
              &:before{
                display: none;
              }  
            }
            &:before{
              color: $beige;
              content: '/';
              display: inline-block;
              padding: 0 5px;
            }
          }
        }
      }
      .actions-secondary{ 
          position: absolute;
          margin: auto;
          height: 60px;
          z-index: 99;
          right: 0;
          width: 100%;
          bottom: -60px;
          -webkit-transition: all 0.4s ease-out;
             -moz-transition: all 0.4s ease-out;
              -ms-transition: all 0.4s ease-out;
               -o-transition: all 0.4s ease-out;
                  transition: all 0.4s ease-out;
          opacity: 1;
        .action.tocompare{
          display: none;
        }
      }
      &:hover, &.pressed{
        .productListOverlay{
          opacity: 1;
        }
        .non-blurred-image{
          opacity: 1;

        }

        /* CHANGESZ ON HOVER */ 

        .actions-secondary {
          background-color: blue;
          opacity: 1;
          bottom: 0;

          .towishlist {
            display: block;
            position: absolute;
            text-align: right;
            right: 20px;
            background:white;
            padding:7px;
          }
        }

        .product-item-name, .priceContainer{
          color:white;
          text-align: left;
          // left: 30px;

        }
      }
      &.pressed{
        .productListOverlay{
          .product-item-name{
            display: block;
            top: 50% !important;
            margin-top: -33px;
          }
          .priceContainer{
            display: block;
            top: 50% !important;
            line-height: initial;
          }
        }
      }
    }
    li.product-item:nth-child(3n+1) {
        margin-left: 0;
    }
  }
}

@media all and (max-width: 1199px){
  .categoriesMenu .catMenu ul{
    min-width: 800px;
  }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer{
    font-size: 16px;
  }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer{ 
    padding-left: 38%;
    margin: 4px;
  }
  .minicart-wrapper .block-minicart .subtotal .price-container span{
    line-height: 13px;
    font-size: 17px !important;
  }
  .minicart-wrapper .block-minicart{
    padding: 55px 50px 30px 50px;
    .minicart-items-wrapper{
      width: calc(100% + 50px);
    }
    .subtotal{
      width: calc(100% - 50px - 50px);
      bottom: 100px;
      .label{
        line-height: 13px;
        font-size: 17px;
      }
    }
    .amount.price-container{
      line-height: 13px;
      font-size: 17px !important;
      *{
        line-height: 13px;
        font-size: 17px !important;
      }
    }
    #top-cart-btn-checkout{
      padding: 15px 45px;
      right: 50px;
      line-height: 10px;
      font-size: 14px;
      bottom: 30px;
    }
  }
  .checkout-cart-index .cart-container{
    padding: 55px 50px 50px 50px;
    width: 55%;
  }
  .checkout-cart-index .cart-container .cart-summary{
        width: calc(100% - 100px);
        right: 50px;
  }
  .checkout-cart-index .cartBgImage{
    width: 45%;
  }
}

@media all and (max-width: 1000px){
  .categoriesMenu .catMenu ul li a{
    font-weight: 14px;
  }
  .categoriesMenu .catMenu ul li{
    margin-bottom: 20px;
  }
  .categoriesMenu .catMenu ul li span{
    margin-top: 2px;
    font-size: 9px;
  }
  .categoriesMenu .catMenu ul{
    min-width: auto;
    max-width: 700px;
  }
}

@media all and (max-width: 999px){

  .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer{
    font-size: 14px;
  }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer{ 
    padding-left: 43%;
    margin: 5px;
  }
  .minicart-wrapper .block-minicart{
    width: 55%;
  }
  .relatedProducts .relatedContainer .relatedProduct .inforel p{
    font-size: 21px;
  }
}

@media all and (max-width: 768px){

  .product-info-main{
      // position: fixed;
      .nextSlick{
        position: absolute;
        top: unset!important;
        left: 0!important;
        right: 0!important;
        display: block;
        bottom:30px!important;
        margin: 0 auto;
        display: block!important;
      }
  }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-bottom {
    height: 55px!important;
  }

  .toolbar.toolbar-products .pages .item:nth-child(1){
    margin-left: 33.33%;
  }
  .toolbar.toolbar-products .pages .item{
    width: 6.6666%;
  }
  .toolbar.toolbar-products .pages .item.pages-item-previous, .toolbar.toolbar-products .pages .item.pages-item-next{
    margin-left: 0;
    margin-right: 0;
  }
  .toolbar.toolbar-products .pages .item a.action span{
    display: none;
  }
  .categoriesMenuToggle{
    top: 30px;
  }
  .categoriesMenu .catMenu ul{
    flex-direction: column;
    padding-left: 50px;
    min-width: 100%;
    max-width: 100%;
    margin-top: 180px;
  }
  .categoriesMenu .catMenu ul li{
    opacity: 1;
    margin-bottom: 35px;
  }
  .categoriesMenu .catMenu ul li a{
    font-size: 18px;
  }
  .categoriesMenu .catMenu ul li span{
    opacity: 1;
  }
  .categoriesMenu{
    height: 100%;
    height: calc(100% - 100px);
    top: calc(-100% + 100px);
  }
  .page-products .columns{
    z-index: 13;
  }
  .checkout-cart-index .cartBgImage.empty{
    background: url('../images/bgc2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .checkout-cart-index .cart-container{
    width: 65%;
  }
  .checkout-cart-index .cartBgImage{
    width: 35%;
    background: url('../images/bgc2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty input.item-qty{
    font-size: 15px;
    height: 13px;
    width: 17px;
  }
  .catalog-product-view .page-wrapper .product-info-main .product-info-price{
    left: 30px;
    bottom: 30px;
  }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form{
    right: 30px;
    bottom: 30px;
  }
  .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer{
    font-size: 26px;
  }
  .minicart-wrapper .block-minicart #top-cart-btn-checkout{
    bottom: 45px;
    right: 55px;
  }
  .minicart-wrapper .block-minicart .subtotal{
     width: calc(100% - 55px - 55px);
     bottom: 115px;
  }
  .minicart-wrapper .block-minicart{
    width: 65%;
    padding: 105px 55px 45px 55px;
    .cartItemNavigation .itemPagination{
      margin-bottom: 20px;
    }
    .cartItemNavigation .itemCart{
      font-size: 17px;
      line-height: 13px;
      margin-bottom: 20px;
    }
    .minicart-wrapper .block-minicart .subtotal .price-container span, .minicart-wrapper .block-minicart .subtotal .label{
      line-height: 13px;
      font-size: 15px !important;
    }
    .minicart-items-wrapper{
      .minicart-items li.item{
        .product-item-details{
          .product-detail-container{
            .product-detail-inner{
              .details-qty.qty{
                label{
                  font-size: 7px;
                  line-height:8px; 
                }
                input.item-qty{
                  font-size: 15px;
                  line-height: 13px;
                }
              }
              .product-item-pricing{
                margin-top: 4px;
              }
              .qtyContainer .qtyAll{
                font-size: 15px;
                line-height: 13px;
              }
              .qtyContainer .qtyLabel{
                font-size: 7px;
                line-height:8px; 
              }
              .content .product.options.list{
                .values{
                  font-size: 15px;
                  line-height: 13px;
                }
                .label{
                  font-size: 7px;
                  line-height:8px; 
                }
              }
              .price-container .price{
                font-size: 11px !important;
                line-height: 9px;
              }
              .product-item-name{
                font-size: 15px;
                line-height: 13px;
              }
            }
          }
        }
      }
    }
  }
  // .page-wrapper .column.main .products ol{
  //   opacity: 1;
  //   padding: 120px 35px;
  //   li.product-item{
  //     width: calc(50% - 30px);
  //     // margin-bottom: 100px;
  //     margin: 0 15px 65px 15px !important;
  //     .productListOverlay{
  //       // .actions-secondary{
  //       //   display: none;
  //       // }
  //       .product-item-name{
  //         float: left;
  //         width: 100%;
  //       }
  //       .priceContainer{
  //         position: relative;
  //         float: left;
  //         bottom: initial;
  //         top: initial;
  //         width: 100%;
  //         font-size: 15px;
  //         margin-top: 10px;
  //       }
  //       .product-item-details{
  //         display: none;
  //       }
  //     }
  //   }
  // } 
  // .page-wrapper .column.main .products ol li.product-item:nth-child(3n+1){
  //   margin-left: 20px;
  // }
  // .page-wrapper .column.main .products ol li.product-item:first-child{
  //   margin-left: 0 !important;
  // }
  // .page-wrapper .column.main .products ol li.product-item:nth-child(2n+1){
  //   margin-left: 0;
  // }
}
@media all and (max-width: 767px){
  body {
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

  }

  .relatedProducts {
    padding-top: 30%!important;
  }

  .page-wrapper .column.main .products ol li.product-item:hover .actions-secondary, .page-wrapper .column.main .products ol li.product-item.pressed .actions-secondary {
    opacity:0.8;
  }
  .page-wrapper .column.main .products ol li.product-item{
    &.pressed{
      .mobileProductListOverlay{
        bottom: 0;
      }  
    }
    .mobileProductListOverlay{
      display: block;
      position: absolute;
      height: 50%;
      bottom: -300px;
      -webkit-transition: all 0.7s ease-out;
      -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out;
      text-align: center;
      background-color: $blue;
      opacity: 0.8;
      width: 100%;
      z-index: 9;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

    }
  }
  .page-wrapper .column.main .products ol li.product-item .actions-secondary {
    display: none;
    // height: 150px;
    // bottom: -150px;
    //   -webkit-transition: all 0.7s ease-out;
    //      -moz-transition: all 0.7s ease-out;
    //       -ms-transition: all 0.7s ease-out;
    //        -o-transition: all 0.7s ease-out;
    //           transition: all 0.7s ease-out;

  }

  /* HIDE ADD TO WISHLIST HEART-ICON */
  .page-wrapper .column.main .products ol li.product-item:hover .actions-secondary .towishlist, .page-wrapper .column.main .products ol li.product-item.pressed .actions-secondary .towishlist {
     display: none;
  
  }

  /* OVERLAY TEXT - TITLE */
  .page-wrapper .column.main .products ol li.product-item .mobileProductListOverlay .product-item-name {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  /* OVERLAY TEXT - PRICE */
  .page-wrapper .column.main .products ol li.product-item .mobileProductListOverlay .priceContainer {
    margin: 0 auto;
    padding: 11px 0 0 0;
    font-size: 11px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
  }
  
  /* SHOP BUTTON STYLINGZ */
  .shopContainer {
    font-size: 11px;
    text-transform: uppercase;
    color: white!important;
    position: absolute;
    bottom: 0;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
  }


  /* SINGLE GRID LAYOUT */
  .hideElement{
    .mobileProductListOverlay{
      display: none !important;
    }    
  }
  .single {

    .mobileProductListOverlay{
      
      height: 150px!important;
      margin:0 20px 0 20px;
      bottom: 25vh!important;
      width: calc(100% - 40px)!important;
      opacity: 0!important;
      @include transition(0.5s all!important);
    }

    li.product-item{
        &.pressed{
          .mobileProductListOverlay{
            opacity: 1!important;
            outline: none;
            
          }  
        }
    }
  /* OVERLAY TEXT - TITLE */
    li.product-item .mobileProductListOverlay .product-item-name {
      position: absolute;
      top: 25px;
      left: 20px;
      font-size: 16px!important;
    }

  /* OVERLAY TEXT - PRICE */
    li.product-item .mobileProductListOverlay .priceContainer {
      position: absolute;
      top: 42px;
      left: 20px;
      font-size: 12px!important;
    }
    
    /* SHOP BUTTON STYLINGZ */
    .shopContainer {
      position: absolute;
      right: 20px;
      bottom: 32px;
      font-size: 16px;
      margin:0;
    }


  }



  body.catalog-product-view{
    padding-bottom: 0 !important;
  }
  .toolbar.toolbar-products .pages .item:nth-child(1){
    margin-left: 10%;
  }
  .toolbar.toolbar-products .pages .item.pages-item-previous{
    margin-left: 0;
  }
  .toolbar.toolbar-products{
    height: 80px;
  }
  .toolbar.toolbar-products .pages .item, .toolbar.toolbar-products .pages .item strong.page, .toolbar.toolbar-products .pages .item strong.page span{
    line-height: 80px;
  }
  .toolbar.toolbar-products .pages .item{
    // width: 14.6667%;
    width: 16%;
  }
  .toolbar.toolbar-products .pages .item.pages-item-previous, .toolbar.toolbar-products .pages .item.pages-item-next{
    // width: 13.3332%;
    width: 10%;
  }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option.selected{
    border: none;
  }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:hover, .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option:focus{
    border: none;
  }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option{
    border: none;
    background: transparent;
    color: $blue;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    min-width: initial;
    display: block;
    overflow: visible;
    letter-spacing: 1px;
    // opacity: 0.4;
    border: none;
    border-radius: 30px;
    height: initial;
    width: 20px;
    line-height: 17px;
    padding-left: 1px;
    margin-right: 15px;
  }
  .page-footer.cat-shown{
    display: none;
  }
  .page-main.cat-shown{
    .products.wrapper{
      display: none;
    }
  }
  .categoriesMenu .catMenu ul{
    opacity: 0;
    @include transition(opacity 200ms ease-in);
    transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    padding-bottom: 100px;
  }
  .categoriesMenu .catMenu ul li{
    width: auto;  
  }
  .categoriesMenu{
    // height: auto;
    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100px;
      position: relative;
      top: -10px;
      left: 0;
      background: #041fe2;
      z-index: 9;
      box-shadow: 0 30px 30px #041fe2;
      -webkit-box-shadow: 0 30px 30px #041fe2;
      opacity: 0;
      @include transition(opacity 200ms ease-in);
      transition-delay: 400ms;
      -webkit-transition-delay: 400ms;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 50px;
      position: relative;
      bottom: 0;
      left: 0;
      background: #041fe2;
      z-index: 9;
      box-shadow: 0 -30px 30px #041fe2;
      -webkit-box-shadow: 0 -30px 30px #041fe2;
      opacity: 0;
      @include transition(opacity 200ms ease-in);
      transition-delay: 400ms;
      -webkit-transition-delay: 400ms;
    }
    &.active{
      position: relative;
      &:before{
        opacity: 1;
        position: fixed;
      }
      &:after{
        opacity: 1;
        position: fixed;
      }
      .catMenu ul{
        opacity: 1;
      }
      .categoriesMenuToggle.closebutton{
        top: 30px !important;
        bottom: auto;
        position: fixed !important;
      }
    }
  }
  .categoriesMenu .catMenu{
    // height: auto;
  }

  .checkout-cart-index .cartBgImage.empty{
    background: url('../images/bgc3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .cart.table-wrapper .product-item-photo{
    max-width: 100%;
    position: relative;
    top: 0;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details{
    padding-left: 50%;
    width: 100%;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .product-item-name{
    display: block;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .price{
    width: 100%;
    &:before{
      display: none;
    }
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.action-delete, .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .action.update{
    color: $blue;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty{
    &:before{
      display: none;
    }
  }
  .checkout-cart-index .cart-container .cart-summary #cart-totals table tr.totals.sub{
    color: $blue;
    *{
      color: $blue;
    }
  }
  .checkout-cart-index .cart-container .cart-summary{
    right: 30px;
    width: calc(100% - 60px);
  }
  .checkout-cart-index .cart-container .cart-summary #cart-totals{
    bottom: 125px;
  }
  .checkout-cart-index .cart-container .cart-summary #cart-totals table tr .mark, .checkout-cart-index .cart-container .cart-summary #cart-totals table tr .amount{
    color: $blue;
    border-color: $blue;
    line-height: 13px;
    font-size: 15px !important;
    font-weight: 400;
    *{
      color: $blue;
    }
  }
  .cartItemNavigation .itemCart{
    color: $blue;
    *{
      color: $blue;
    }
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options{
    margin-right: 5px;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .product-item-name{
    line-height: 17px;
    font-size: 21px;
    a{
      line-height: 21px;
    }
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty{
    width: auto;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .price{
    font-size: 14px !important;
    line-height: 12px;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dd,
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty input{
    font-size: 18px;
    line-height: 16px;
    height: 16px;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .product-item-details .itemInner .item-options dt,
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item .col.qty span{
    font-size: 10px;
    line-height: 10px;
  }
  .checkout-cart-index .cart-container .cart-summary .action.primary.checkout{
    position: fixed;
    width: calc(100% - 60px);
    left: 30px;
    color: white;
    background: blue;
    bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navLeft, .cartItemNavigation .itemPagination .navLeft{
    background: url("../images/Resume_b_v.png") no-repeat;
    background-size: 100% auto;
  }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navRight, .cartItemNavigation .itemPagination .navRight{
    background: url("../images/Resume_b_h.png") no-repeat;
    background-size: 100% auto;
  }
  .checkout-cart-index .cartItemNavigation{
    width: 100%;
    float: left;
  }
  .checkout-cart-index .cart-container .form-cart{
    float: left;
    width: calc(100% + 30px);
  }
  .checkout-cart-index .cart-container{
    padding: 90px 30px 30px 30px;
    width: 100%;
    background: $beige;
    max-width: 100%;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.item{
    background: $darkbeige;
    margin-right: 15px;
  }

  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navLeft{
    background: url("../images/Resume_b_v.png") no-repeat;
    background-size: 100% auto;
  }
  .minicart-wrapper .block-minicart .cartItemNavigation .itemPagination .navRight{
    background: url("../images/Resume_b_h.png") no-repeat;
    background-size: 100% auto;
  }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .product-item-pricing .details-qty.qty input.item-qty{
    font-size: 18px;
    height: 16px;
    line-height: 16px;
    width: 20px;
  }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-details .product-detail-container .product-detail-inner .details-qty.qty label{
    font-size: 10px;
    line-height: 10px;
  }
  footer{
    height: 560px;
    .footer.content .footerLinks ul li{
      display: block;
      width: 100%;
      text-align: center;
      padding: 20px 25px;
    }
  }
  .categoriesMenuToggle{
    top: initial !important;
    bottom: 30px;
    &.closebutton{
      position: absolute;
      &:after, &:before{
        display: none;
      }
    }
  }
  .categoriesMenu{
    top: 100%;
    min-height: 100vh;
    height: auto;
  }

  header{

    &.hide{
      z-index: 1;
      position: absolute;
    }
  }




  .page-wrapper .column.main .products ol li.product-item{
        width: calc(100% / 2);
  }
  .page-wrapper .column.main .products ol.single li.product-item{
        width: 100%;
  }
  

  .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer{
    font-size: 21px;
  }
  .double{
    .page-wrapper .column.main .products ol li.product-item .productListOverlay .product-item-name, .page-wrapper .column.main .products ol li.product-item .productListOverlay .priceContainer{
      font-size: 16px;
    }
  }
  .customer-account-login .login-container .block-customer-login .block-content, .customer-account-login .form-create-account .fieldset, .customer-account-create .form-create-account .fieldset, .customer-account-create .form-create-account .actions-toolbar{
    width: 100%;
    max-width: calc(100% - 80px);
  }
  .minicart-wrapper .block-minicart .minicart-items-wrapper .minicart-items li.item .product-item-photo .product-image-container{
    background: $darkbeige;
  }
  .minicart-wrapper .block-minicart .subtotal .label, .minicart-wrapper .block-minicart .subtotal .price-container span{
    line-height: 13px;
    font-size: 15px;
  }
  .minicart-wrapper .block-minicart{
    padding: 140px 40px 40px 40px;
    width: 100%;
    background: $beige;
    *{
      color: $blue; 
    }
    .subtotal .label span{
      font-weight: 400;
    }
    .cartItemNavigation .itemCart{
      font-weight: 400;
      .currentItem, .totalItem{
        font-weight: 400;
      }
    }
    .subtotal .price-container span{
      font-weight: 400 !important;
    }
    .subtotal{
      border-bottom: solid 2px $blue;
      bottom: 130px;
      width: calc(100% - 40px - 40px);
    }
    #top-cart-btn-checkout{
      background: $blue;
      color: $beige;
      font-weight: 400;
      bottom: 40px;
      right: 40px;
    }
    .minicart-items-wrapper{
      width: calc(100% + 40px);
      .minicart-items li.item{
        margin-right: 15px;
        .product-item-details .product-detail-container .product-detail-inner{
          .product-item-name{
            line-height: 17px;
            font-size: 21px;
          }
          .product-item-pricing{
            margin-top: 7px;
          }
          .product.options{
            margin-top: 10px;
          }
          .content .product.options.list{
            .values{
              font-size: 18px;
              line-height: 16px;
            }
            .label{
              font-size: 10px;
              line-height: 10px;
            }
          }
          .qtyContainer{
            .qtyAll{
              font-size: 18px;
              line-height: 16px;
            }
            .qtyLabel{
              font-size: 10px;
              line-height: 10px; 
            }
          }
          .price-container .price{
            font-size: 14px !important;
            line-height: 12px;
          }
        }
      }
    }
  }
  .catalog-product-view .page-wrapper{
    .product-info-main {
      -webkit-order: 2;
      order: 2;
      .product.media{
        background: $darkbeige;
        padding: 0;
        position: relative;
        opacity: 1 !important;
        .slick-arrow{
          display: none !important;
        }
      }
    }
    .productDetails{
      -webkit-order: 1;
      order: 1;
      padding: 0 30px 50px 30px;
      .detail-image{
        display: none;
      }
      .detailContainer{
        width: 100%;
        height: auto;
        display: block;
        .innerDetail{
          display: block;
          .detailsProd{
            width: 100%;
            margin: 0;
            max-width: initial;
            h1{
              line-height: 18px;
              font-size: 18px;
              margin-bottom: 12px;
              letter-spacing: 0;
            }
            .price-container{
              margin-bottom: 25px;
              line-height: 14px;
              font-size: 19px;
            }
            p{
              line-height: 31px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .catalog-product-view .page-wrapper .product-info-main .product-info-price{
    display: none;
  }
  .catalog-product-view .page-wrapper .productDetails .detail-image .innerDetail .detailsProd .priceContainer, .catalog-product-view .page-wrapper .productDetails .detailContainer .innerDetail .detailsProd .priceContainer {
    font-size: 13px;
  }
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option,
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label,
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option,
  .catalog-product-view .page-wrapper .product-info-main .product-add-form .box-tocart .fieldset .actions button{
    line-height: 18px !important;
    font-size: 18px !important; 
  }

  .relatedProducts{
    -webkit-order: 3;
    order: 3;
    padding-bottom: 100px;
    overflow-x: hidden;
    overflow-y: visible;
    h3{
      display: block;
      font-family: $oswald;
      letter-spacing: 0;
      margin: 0;
      text-transform: uppercase;
      margin: 50px 30px 30px 30px;
      color: $blue;
      font-size: 19px;
      font-weight: 500 !important;
    }
    .relatedContainer{
      height: 100% !important;
      overflow: hidden;
    }
    .relatedContainer .relatedProduct{
      margin-left: 20px;
      margin-bottom: 63px;
      .inforel{
        display: block;
        opacity: 1;
        top: calc(100% + 15px) !important;
        margin-top: 0;
        text-align: left;
        p.relName{
          margin-bottom: 10px;
          text-transform: uppercase;
          font-size: 18px !important;
          line-height: 18px;
        }
        p.priceContainer{
          font-family: Roboto;
          font-size: 14px !important;
        }
      }
    }
  }





  .catalog-product-view .page-wrapper .product-info-main .nextSlick{
    .paginationText, .lastPagination{
      display: none;
    }
    text-indent: 99990px;
    background: url('../images/Resume_b_h.png') no-repeat;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    top: 30px !important;
    left: 60px !important;
  }
  .catalog-product-view .page-wrapper .product-info-main .product.media .slick-prev.slick-arrow{
    position: absolute;
    top: 30px;
    left: 30px;
    display: block !important;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: url('../images/Resume_b_v.png') no-repeat;
    background-size: 100% auto;
    border: none !important;
    box-shadow: none !important;
    z-index: 1;
    &:before{
      display: none;
    }
  }
  
  .catalog-product-view .page-wrapper .product-info-main .product-add-form{
    right: 30px;
    left: 30px;
    bottom: 30px;
    position: absolute;
    .box-tocart .fieldset .actions button{
      margin: 0 !important;
    }
    .product-options-wrapper{
      float: left;
    }
    .swatch-attribute-options{
      display: none;
    }
    .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label{
      display: block;
      background: transparent;
      border: none;
      color: #041FE2;
      padding: 0;
      margin: 0;
      line-height: 21px;
      font-size: 24px;
      font-weight: 500;
      text-decoration: underline;
      height: initial;
      width: auto;
      text-transform: uppercase;
      min-width: initial;
      display: block;
      overflow: visible;
      letter-spacing: 1px;
      // &.active{
      //   display: none;
      // }
    }
    &.active{
      .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-label{
        display: none; 
      }
      .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option{
        display: block;
      }
      .swatch-attribute-selected-option{
        display: none !important;
      }
      .swatch-attribute-options{
        display: block;   
      }
      .box-tocart .fieldset .actions button{
        display: none;
      }
    }
    .swatch-attribute-label.active{
      display: none !important;
    }
    .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-selected-option{
      display: none;
      background: transparent;
      border: none;
      color: #041FE2;
      padding: 0;
      margin: 0;
      line-height: 21px;
      font-size: 24px;
      font-weight: 500;
      text-decoration: underline;
      height: initial;
      width: auto;
      text-transform: uppercase;
      min-width: initial;
      display: block;
      overflow: visible;
      letter-spacing: 1px;
      // &.active{
      //   display: block;
      // }
    }
    // .swatch-attribute.active{
    //   .swatch-attribute-selected-option{
    //     display: none !important;
    //   }
    //   .swatch-attribute-options{
    //     display: block;   
    //   }
    // }
    .product-options-wrapper .fieldset .swatch-opt .swatch-attribute-options .swatch-option{
      line-height: 21px;
      font-size: 24px;
      font-weight: 500;
      &:before{
        line-height: 21px;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .catalog-product-view .page-wrapper .product-info-main .product-info-price .price-box{
    display: none;
  }
  .catalog-product-view{
    .page-wrapper{
      padding-top: 100px;
    }
  }
}

@media all and (max-width: 500px){
}