<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Address\Book $block */
?>
<div class="clubContainer padtop">
<div class="block block-addresses-default">
    <div class="block-content">
        <div class="box box-information">
            <div class="box-content">
                <?php if ($_pAddsses = $block->getDefaultBilling()): ?>
                            <p>
                                <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
                            </p>
                            <address>
                                <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                            </address>
                <?php else: ?>
                            <p><?= $block->escapeHtml(__('You have no default billing address in your address book.')) ?></p>
                <?php endif ?>

                <?php if ($_pAddsses = $block->getDefaultShipping()): ?>
                    <p>
                        <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
                    </p>
                    <address>
                        <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                    </address>
                <?php else: ?>
                    <p><?= $block->escapeHtml(__('You have no default shipping address in your address book.')) ?></p>
                <?php endif ?>
            </div>
            <div class="lines"></div>
            <div class="box-actions">
                <?php if ($_pAddsses = $block->getDefaultShipping()): ?>
                    <a class="action edit leftaction" href="<?= $block->escapeUrl($block->getAddressEditUrl($_pAddsses)) ?>">
                        <span><?= $block->escapeHtml(__('Change Billing')) ?></span>
                    </a>
                <?php endif ?>
                <?php if ($_pAddsses = $block->getDefaultShipping()): ?>
                    <a class="action edit actionright" href="<?= $block->escapeUrl($block->getAddressEditUrl($_pAddsses)) ?>">
                        <span><?= $block->escapeHtml(__('Change Shipping')) ?></span>
                    </a>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>
