<div class="payment-methods">
    <div class="actions-toolbar">
        <button class="action primary checkout amasty"
                type="submit"
                data-bind="
                        click: placeOrder,
                        attr: {title: label}
                        "
                data-role="review-save">
            <span data-bind="text: label"></span>
        </button>
        <div class="paymentCards">
            <div class="epay"><div class="img"></div>
            <div class="epayinfo">
                <p><span data-bind="i18n: 'epay secure payment'"></span></p><p><span data-bind="i18n: 'pay securely with the following carts and MobilePay'"></span></p></div>
            </div>
            <div class="cardlist"></div>
        </div>
    </div>
</div>