.ovh{
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    color: #494848;
    text-align: center;
}
.neklo-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.neklo-img img{
    width: 100%;
    height: 100%;
}
.neklo-row{
    margin-bottom: 20px;
}
.neklo-link, .neklo-link:hover{
    color: #494848;
    text-decoration: none;
}
.neklo-link:hover .neklo-ext-name{
    text-decoration: underline;
}
.neklo-ext-name{
    font-weight: bold;
    min-height: 45px;
    margin-bottom: 10px;
}
.neklo-item{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    margin: 0 20px 20px 0 !important;
    vertical-align: top;
    width: 270px;
    text-align: center;
}
.neklo_core_message {
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    width: 280px;
}
.neklo_core_message .error {
    color: #D40707;
}
.neklo_core_message .success {
    color: #3d6611;
}
.neklo-logo {
    background: url(../images/logo.svg) no-repeat center center;
    height: 19px;
    width: 64px;
}