<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $_imageHelper = $objectManager->get("\Magento\Catalog\Helper\Image");
    $currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
    $currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
    $mediaUrl =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                 ->getStore()
                 ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <?php /* <div class="categoriesMenuToggle"><?php echo __('Categories'); ?></div> */ ?>
    <?php /* <div class="categoryOverlay"></div>
    <div class="categoriesMenu">
        <?php 
            $blockObj = $block->getLayout()->createBlock('WhitePixel\frontendHelper\Block\Categoriesmenu');
            echo $blockObj->getMenuCategories();
        ?>
        <div class="categoriesMenuToggle closebutton"><?php echo __('Categories'); ?></div>
    </div> */?>
    <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
            <?php //$productO = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId()); ?>
            <?php
            $productImageLoaded = $_imageHelper
                ->init($_product, "category_page_grid")
                ->constrainOnly(false)
                ->keepAspectRatio(true)
                ->keepTransparency(true)
                ->keepFrame(true)
                ->resize(750, 1125);

            
            $productImageLoadedUrl = $productImageLoaded->getUrl();

            if(strpos($productImageLoadedUrl, 'placeholder') !== false){
               // continue;
            }

            

            // $productImageLoadedWidth = $productImageLoaded->getOriginalSizeArray()[0];
            // $productImageLoadedHeight = $productImageLoaded->getOriginalSizeArray()[1];

            // LAV TIL LAV FORMAT OG BROWSER COMP

            $imageScaleStyle = "";
            // if($productImageLoadedHeight/$productImageLoadedWidth > 1.5){
            //     $imageScaleStyle = "";
            // }else if($productImageLoadedHeight/$productImageLoadedWidth < 1.5){
            //     $imageScaleStyle = 'style="transform: scale(calc(1.5/'.$productImageLoadedHeight/$productImageLoadedWidth.' + 0.055));"';
            // }else{
            //     $imageScaleStyle = "";
            // }

            ?>
                
            <li class="item product product-item">
                <div class="product-item-info" data-container="product-<?= /* @escapeNotVerified */ $viewMode ?>">
                    <?php
                        // $productImage = $block->getImage($_product, $imageDisplayArea);
                        // if ($pos != null) {
                        //     $position = ' style="left:' . $productImage->getWidth() . 'px;'
                        //         . 'top:' . $productImage->getHeight() . 'px;"';
                        // }
                    ?>
                    <?php // Product Image ?>

                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo">
                        <?php // $productImage->toHtml() ?>
                        <div class="image-wrapper">
                            <?php /*<div class="non-blurred-image"> */?>
                              <img src="<?php echo $productImageLoadedUrl; ?>" class="listProductImage non-blurred-image" <?php echo $imageScaleStyle; ?>/>
                              <div class="image-gradient"></div>
                           <?php /* </div>
                            
                            <div class="blurred-image">
                              <img src="<?php echo $productImageLoadedUrl; ?>" class="listProductImage" <?php echo $imageScaleStyle; ?>/>
                              <div class="image-gradient"></div>
                            </div>
                            */ ?>
                        </div>

                        
                    </a>
                    

                    
                    <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                        <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                            <div class="productListOverlay">
                                <h3 class="product name product-item-name">
                                        <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </h3>

                                <?php 
                                    $basePrice = $_product->getPriceInfo()->getPrice('regular_price');
                                    $regularPrice = $basePrice->getMinRegularAmount()->getValue();
                                    $specialPrice = $_product->getFinalPrice();
                                    if($regularPrice != $specialPrice){
                                        echo '<p class="priceContainer"><span class="oldPrice">'.$regularPrice.' '.$currency.'</span>'.$specialPrice.' '.$currency.'</p>';
                                    }
                                    else{
                                        echo '<p class="priceContainer">'.$specialPrice.' '.$currency.'</p>';
                                    }
                                ?>

                            </div>
                        </a>    
                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                            <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                        <?php endif; ?>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
    <script type="text/javascript">
        
        // jQuery(document).ready(function(){
        //     jQuery('.product-item .productListOverlay').mousemove(function(e){
        //         var m=getXY(e, this);
        //         if(m.y < jQuery('.product-item .productListOverlay').height() - jQuery(this).find('.product-item-name').height() - jQuery(this).find('.priceContainer').height()){
        //             jQuery(this).find('.product-item-name').css('top', m.y);
        //             jQuery(this).find('.priceContainer').css('top', m.y + jQuery(this).find('.product-item-name').height() + 5);
        //         }
        //     });    
        // });
    </script>
<?php endif; ?>
