<?php
/**
 * Product Position template
 *
 * @var $block \Neklo\ProductPosition\Block\Adminhtml\Category\ProductPosition
 */
?>
<div id="neklo-sorter"></div>
<input id="attached_category_products" type="hidden" name="attached_category_products" data-form-part="category_form" value=""/>

<script type="text/javascript">
    require([
            'jquery'
        ],
        function(jQuery) {
            window.categoryProductPosition = $H(<?php echo $block->getSortedProductsPositionJson(); ?>);
            window.categoryProductAttached = $H(<?php echo $block->getAttachedProductsJson(); ?>);

            var sorterOnItemsChangedCallback = window.sorterOnItemsChangedCallback = function (data) {
                data.each(
                    function (productPosition) {
                        categoryProductPosition.set(productPosition.entity_id, productPosition.position);
                        categoryProductAttached.set(productPosition.entity_id, productPosition.attached==='true'?1:0);
                    }
                );

                updateProductPosition(categoryProductPosition);
                updateProductAttached(categoryProductAttached);
            };
            setTimeout(
                function () {
                    updateProductPosition(categoryProductPosition);
                    updateProductAttached(categoryProductAttached);
                },
                26
            );

            var httpOptions = {
                url: '<?php echo $block->getUrl('neklo_productposition/ajax/page', array('id' => $block->getCategory()->getId())); ?>',
                form_key: jQuery('[name="form_key"]').val()
            };

            var options = window.options = {
                connector: new NEKLO.Connectors.Magento2Connector(httpOptions),
                targetDOM: document.querySelector('#neklo-sorter'),
                grid: {
                    cols: <?php echo $block->getColumnCount(); ?>,
                    rows: <?php echo $block->getRowCount(); ?>
                },
                uploadButton: {
                    label: '<?php echo __('Upload Next Page'); ?>'
                },
                error: {
                    message: '<?php echo __('Empty data'); ?>'
                },
                item: {
                    template: document.getElementById('template-item').innerHTML
                },
                separator: {
                    template: document.getElementById('template-separator').innerHTML
                },
                totalItems: <?php echo $block->getCollectionSize(); ?>
            };


        });
</script>
